



	 <link rel="stylesheet" href="/css/main.css">



<!-- header stop -->

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css"/>

<section class="theme-page">
	{{ content }}
</section>

		{% include scripts.html %}

<!-- footer start -->
