
{% include lundhags_head.html %}


<!-- header stop -->

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css"/>
	<section class="theme-page">
    {{ content }}
	</section>

<!-- footer start -->


<!-- build:css({app,.tmp}) /css/styling.css -->
 <link rel="stylesheet" href="/css/styling.css">
<!-- endbuild -->



{% include scripts.html %}

{% include notes.html %}

{% include lundhags_foot.html %}


</body>
</html>
