---
layout: lundhags
title: Lundhags - Kängor
---


<section class="top-hero">
  <section class="banner">

    <div class="deepify parallax" reverse>

      <div class="deepify__wrapper">

        <img src="../img/the-season-is-now-layer_1.jpg" alt="" class="deepify__layer">
        <!-- <img src="../img/the-season-is-now-layer_2.png" alt="" class="deepify__layer"> -->
        <div class="deepify__layer align-center"><h1 class="title bordered large">The season is now</h1></div>

        <img src="../img/the-season-is-now-layer_3.png" alt="" class="deepify__layer">
        <!-- <div class="deepify__layer align-center"><h1 class="title bordered large">The season is now</h1></div> -->

        <!-- <img src="../img/the-season-is-now-layer_0.png" alt="" class="deepify__layer"> -->

      </div>

    </div>

  </section>

</section>

<section class="scroll-point">

  <div class="content container align-center">
    <div class="logo-wrapper">
    {% include svg-logo.html color="#000000" %}</div>
    <p class="big-text-block">2018 the year without compromise. <br> A one-year assortment of world-class outdoor products for every occation. Covering everything you need from head to to. There is no better time to get out, love the season. <br>The season is now</p>
  </div>

</section>


{% include grid.html %}




{% include backpacks.html %}




<section class="inspiration scroll-point">

  <article class="container align-center">

    <h1 class="inspiration__title">Omni Boots</h1>

    <img src="/img/omni/omni_inspiration_1.jpg" alt="" let-it-go class="inspiration__image scroll-point__scroll visible">
    <img src="/img/omni/omni_inspiration_2.jpg" alt="" let-it-go horizontal class="inspiration__image scroll-point__scroll visible">


    <div class="scroll-point__scroll align-right text-block" offset="200">

      <p>Long and adventurous treks are really at the core of our soul and our packs will support you with the necessary comfort and features you need to t focused along the trails. From the supportive frameworke to the smallest details, our goal is that you should be able to carry and use your backpack through the toughest conditions, while focusing on your experience.</p>
    </div>

  </article>

</section>

{% include insta-grid.html %}

<!--
<div class="deepify parallax">

  <div class="deepify__wrapper">

    <img src="../img/view_bg.jpg" alt="" class="deepify__layer">
    <div class="deepify__layer align-center"><h1>THE SEASON IS NOW</h1></div>

    <img src="../img/view_legs.png" alt="" class="deepify__layer">
  </div>

</div> -->
