{% assign text = site.data.text_backpacks[page.lang] %}
{% assign general_text = site.data.general[page.lang] %}

<article>

  <section class="top-hero">

    <section class="banner">

      <div class="deepify parallax" reverse>

        <div class="deepify__wrapper">

          <img src="/img/backpacks/bp_bg.jpg" alt="" class="deepify__layer">
          <!-- <img src="/img/the-season-is-now-layer_2.png" alt="" class="deepify__layer"> -->
          <div class="deepify__layer align-center"><h1 class="title bordered medium limit-width">{{ text.main_title }}</h1></div>

          <img src="/img/backpacks/bp_bg_foreground.png" alt="" class="deepify__layer foreground">

          <div class="deepify__layer logo-wrapper align-center">
          {% include svg-logo.html color="#ffffff" %}</div>
          <!-- <div class="deepify__layer align-center"><h1 class="title bordered large">The season is now</h1></div> -->

          <!-- <img src="/img/the-season-is-now-layer_0.png" alt="" class="deepify__layer"> -->
        </div>
      </div>

    </section>

  </section>

  {% include text-block.html content = text.text_block1 %}

</article>

<article class="top-hero">
  <section class="banner">
    <img src="/img/backpacks/newrange_backpacks.jpg" alt="" class="banner__bg no-animation">

    <h1 class="banner__title">{{ text.hero_title }}</h1>

  </section>

  <div class="top-hero__content">
    <!-- <h1 class="top-hero__title">Our New Range</h1> -->
    <!-- <div class="top-hero__text">Explore our new range of backpacks; made from highest quality materials, with high repairability, and with a Lundhags’ design and feel to every detail. Clean, yet advanced, and packed with quality; simply, packs that you can trust and love for a very long time.</div> -->
    <!-- <img src="/img/boots/eva.jpg" alt="" class="top-hero__image"> -->
  </div>

</article>

<div class="twisted-columns scroll-point">
  <div class="twisted-column">
    <div class="col-2">
      <!-- <img src="/img/boots/eva.jpg" alt="" class="top-hero__image"> -->
      <div class="video-wrapper hidden-mobile">
        <video autoplay muted loop style="height:700px">
            <source src="{{ site.baseurl }}/videos/backpacks.mp4" type=video/mp4>
        </video>
      </div>
    </div>
    <div class="col-2">
      <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto iste nobis animi molestiae officiis, harum corrupti consectetur praesentium dicta explicabo aspernatur placeat, esse recusandae, rem doloremque dolorum, quibusdam dolor sint.</p> -->
    </div>
  </div>
  <div class="twisted-column ">
    <div class="col-2 hidden-mobile">
      <img src="/img/backpacks/trekkingpack.jpg" alt="" class="top-hero__image">
    </div>
    <div class="col-2">
      <div class="scroll-point__scroll">
        <h2 class="title small">{{ text.twisted_title }}</h2>
        <p>{{ text.twisted_text }}</p>
      </div>
    </div>
  </div>
</div>

<!-- <section class="scroll-point">
  <div class="container">

    <div class="triple-images">
      <img src="/img/blackice/rygga.png" alt="" class="scroll-point__scroll visible" horizontal reverse offset="-300">
      <img src="/img/blackice/rygga.png" alt="" class="scroll-point__scroll visible" offset="-400">
      <img src="/img/blackice/rygga.png" alt="" class="scroll-point__scroll visible" horizontal offset="-300">
    </div>
  </div>
</section> -->

<section class="one-col-scroll">

  <div class="color-bg red absolute"></div>

  <div class="scroll-point reverse-mobile" offset="100vh">


    <div class="container columns">

      <div class="col-2 fill"></div>

      <div class="col-2">
        <div class="columns__content">
            <img src="/img/backpacks/manufacturing.jpg" alt="">
        </div>
      </div>

    </div>

    <div class="container columns">

      <div class="col-2 fill"></div>

      <div class="col-2">
        <div class="columns__content">

          <div class="columns__content__wrapper">

            {{ text.one_col_text }}

          </div>
        </div>
      </div>

    </div>

    <div class="scroll-point__stick">

      <div class="container columns">

        <div class="col-2">
          <div class="columns__content">

            <div class="overlay-logo">

              {% include svg-logo.html color="#FEFEFE" %}

            </div>

            <img src="/img/backpacks/4_5_knarven.jpg" alt="">

            <h3 class="overlay-title title medium align-left">{{ text.one_col_title }}</h3>

          </div>
        </div>
        <div class="col-2"></div>

      </div>
    </div>

  </div>
</section>

<section class="scroll-point">

  <div class="movie-wrapper">
    <!-- <img src="http://placehold.it/900x380" alt=""> -->
    <img src="/img/backpacks/bp_sustainableman.jpg" alt="">

    <!-- <video id="manufacturing">
        <source src="{{ text.movie_src }}" type=video/mp4>
    </video> -->

    <iframe id="manufacturing" class="youtube" src="https://www.youtube.com/embed/My7uNjoioWo?rel=0&controls=1&showinfo=0&autoplay=0" frameborder="0"></iframe>


    <div class="movie-wrapper__content">

      <h2 class="title medium hidden-mobile">{{ text.movie_title }}</h2>

      <span class="play-movie" movie-id="manufacturing">{{ text.movie_btn }}</span>

    </div>

  </div>

</section>

{% include text-block.html title = text.text_block2_title content = text.text_block2 %}

{% include grid.html %}

{% include products.html product = "backpacks" %}

{% include footer.html align = "align-left" %}
