{% assign text = site.data.text_heritage[page.lang] %}
{% assign general_text = site.data.general[page.lang] %}

<section class="top-hero">

  <section class="banner">

    <img src="{{ site.baseurl }}/img/heritage/heritagetop.jpg" alt="" class="banner__bg">

    <!-- <img src="{{ site.baseurl }}/img/season/tsintopmobile.jpg" alt="" class="hidden-desktop video-format no-animation">

    <img src="{{ site.baseurl }}/img/omni/omni_grid_header.jpg" alt="" class="hidden-mobile video-format no-animation">

    <div class="movie-wrapper">
      <img src="{{ site.baseurl }}/img/season/tsintopmobile.jpg" alt="" class="hidden-desktop video-format no-animation">

      <img src="{{ site.baseurl }}/img/omni/omni_grid_header.jpg" alt="" class="hidden-mobile video-format no-animation">
      <video autoplay muted loop >
          <source src="{{ site.baseurl }}/videos/eva_movie_short.mp4" type=video/mp4>
      </video>
    </div> -->

    <div class="banner__content">
      <div class="logo-wrapper align-center">
      {% include svg-logo.html color="#ffffff" %}</div>
      <h1 class="banner__title title bordered medium limit-width">{{ text.main_title }}</h1>
      <!-- <p>{{ text.banner_text }}</p> -->
    </div>

  </section>

</section>


{% include text-block.html content = text.text_block1 %}

{% include grid.html %}

{% include heritage-boots.html %}

{% include footer.html align = "align-left" %}
