{% assign text = site.data.text_jackets[page.lang] %}
{% assign general_text = site.data.general[page.lang] %}

<section class="top-hero">

  <section class="banner">

    <img src="{{ site.baseurl }}/img/clothes/jacketstop.jpg" alt="" class="banner__bg">

    <div class="banner__content">
      <div class="logo-wrapper align-center">
      {% include svg-logo.html color="#ffffff" %}</div>
      <h1 class="banner__title title bordered medium">{{ text.main_title }}</h1>
      <!-- <p>Inspired by original designs from our past. Timeless, comfortable and classic. Boots with a great heritage, made to wear every day.</p> -->
    </div>

  </section>

</section>

{% include text-block.html content = text.text_block1 %}

<section class="banner">

  <img src="{{ site.baseurl }}/img/clothes/jacketsbg.jpg" alt="" class="banner_bg no-animation">

  <div class="banner__content align-center">

    <div class="logo-wrapper align-center hidden-mobile">
      {% include svg-logo.html color="#ffffff" %}
    </div>

    <h1 class="banner__title">{{ text.image_title }}</h1>

    <!-- <p>{{ text.image_text }}</p> -->

  </div>

</section>

{% include grid.html %}

<section class="one-col-scroll">
  <div class="color-bg green absolute"></div>
  <div class="scroll-point reverse-mobile" offset="100vh">
    <div class="container columns">
      <div class="col-2 fill"></div>
      <div class="col-2">
        <div class="columns__content">
            <img src="{{ site.baseurl }}/img/clothes/differentjackets.jpg" alt="">
        </div>
      </div>
    </div>
    <div class="container columns">
      <div class="col-2 fill"></div>
      <div class="col-2">
        <div class="columns__content">
          <div class="columns__content__wrapper">
            {{ text.one_col_text }}
          </div>
        </div>
      </div>
    </div>

    <div class="scroll-point__stick">
      <div class="container columns">
        <div class="col-2">
          <div class="columns__content">
            <div class="overlay-logo">
              {% include svg-logo.html color="#FEFEFE" %}
            </div>
            <img src="{{ site.baseurl }}/img/clothes/differentjackets2.jpg" alt="">
            <h3 class="overlay-title title medium align-left">{{ text.one_col_title }}</h3>
          </div>
        </div>
        <div class="col-2"></div>
      </div>
    </div>
  </div>
</section>

{% include products.html product = "jackets" %}

{% include footer.html align = "align-left" %}
