{% assign text = site.data.text_omni[page.lang] %}
{% assign general_text = site.data.general[page.lang] %}

<section class="top-hero">
  <section class="banner">

    <div class="deepify parallax" reverse>

      <div class="deepify__wrapper">

        <img src="{{ site.baseurl }}/img/omni/bg_omni.jpg" alt="" class="deepify__layer">
        <img src="{{ site.baseurl }}/img/omni_deepify_2.png" alt="" class="deepify__layer">
        <div class="deepify__layer align-center"><h1 class="title bordered">{{ text.main_title }}</h1></div>
        <div class="deepify__layer logo-wrapper align-center">
        {% include svg-logo.html color="#ffffff" %}</div>

      </div>

    </div>

  </section>

</section>

{% include text-block.html content = text.text_block1 %}

{% include grid.html %}

{% include omni-boots.html %}

{% include footer.html align = "align-right" %}
