
{% assign text = site.data.text_tsin[page.lang] %}
{% assign general_text = site.data.general[page.lang] %}

<section class="top-hero">
  <section class="banner">

    <!-- <img src="{{ site.baseurl }}/img/omni/omni_grid_header.jpg" alt="" class="video-format"> -->

    <img src="{{ site.baseurl }}/img/season/tsintopmobile.jpg" alt="" class="hidden-desktop video-format no-animation">
    <img src="{{ site.baseurl }}/img/season/placeholdertsin.jpg" alt="" class="hidden-mobile video-format no-animation">

    <div class="movie-wrapper">

      <img src="{{ site.baseurl }}/img/season/tsintopmobile.jpg" alt="" class="hidden-desktop video-format no-animation">
      <img src="{{ site.baseurl }}/img/season/placeholdertsin.jpg" alt="" class="hidden-mobile video-format no-animation">

      <video id="teaser_tsin" class="movie-teaser hidden-mobile" autoplay muted loop >
          <source src="{{ site.baseurl }}/videos/season_teaser.mp4" type=video/mp4>
      </video>

      <iframe id="tsin" class="youtube" src="https://www.youtube.com/embed/eQw1YZCHNqE?rel=0&controls=1&showinfo=0&autoplay=0" frameborder="0"></iframe>

      <!-- <video id="tsin" controls="true">
          <source src="{{ site.baseurl }}/videos/season_teaser.mp4" type=video/mp4>
      </video> -->
    </div>

    <div class="banner__content">
      <div class="logo-wrapper align-center">
      {% include svg-logo.html color="#ffffff" %}</div>
      <h1 class="banner__title title bordered medium">{{ text.main_title }}</h1>
      <div class="play-movie" movie-id="tsin">{{ general_text.see_the_film }}</div>
    </div>



  </section>


</section>

{% include text-block.html content = text.text_block1 %}


<section class="one-col-scroll">
  <div class="color-bg red absolute"></div>
  <div class="scroll-point reverse-mobile" offset="100vh">
    <div class="container columns">
      <div class="col-2 fill"></div>
      <div class="col-2">
        <div class="columns__content">
            <img src="{{ site.baseurl }}/img/season/tsni_2.jpg" alt="">
        </div>
      </div>
    </div>
    <div class="container columns">
      <div class="col-2 fill"></div>
      <div class="col-2">
        <div class="columns__content">
          <div class="columns__content__wrapper">
            {{ text.one_col_text }}
          </div>
        </div>
      </div>
    </div>
    <div class="scroll-point__stick">
      <div class="container columns">
        <div class="col-2">
          <div class="columns__content">
            <div class="overlay-logo">
              {% include svg-logo.html color="#FEFEFE" %}
            </div>
            <img src="{{ site.baseurl }}/img/season/tsni_1.jpg" alt="">
            <h3 class="overlay-title title medium align-left">{{ text.one_col_title }}</h3>
          </div>
        </div>
        <div class="col-2"></div>
      </div>
    </div>
  </div>
</section>


<section class="scroll-point">

  <div class="movie-wrapper">

    <!-- <img src="http://placehold.it/900x500" alt=""> -->
    <img src="{{ site.baseurl }}/img/backpacks/bp_sustainableman.jpg" alt="">

    <!-- <video id="manufacturing">
        <source src="{{ text.movie_src }}" type=video/mp4>
    </video> -->

    <iframe id="manufacturing" class="youtube" src="https://www.youtube.com/embed/My7uNjoioWo?rel=0&controls=1&showinfo=0&autoplay=0" frameborder="0"></iframe>


    <div class="movie-wrapper__content">

      <h2 class="title medium hidden-mobile">  {{ text.movie_title }}</h2>

      <span class="play-movie" movie-id="manufacturing">  {{ general_text.see_the_film }}</span>

    </div>

  </div>

</section>

{% include text-block.html title = text.text_block2_title content = text.text_block2 %}

{% include grid.html %}

<section class="banner">

  <img src="{{ site.baseurl }}/img/season/sustain.jpg" alt="" class="banner_bg">
  <div class="banner__content">
    <div class="logo-wrapper align-center">
    {% include svg-logo.html color="#ffffff" %}</div>
    <h1 class="banner__title">{{ text.banner_title }}</h1>
  </div>

</section>

{% include text-block.html content = text.text_block3 %}

{% include mozaik.html %}

<section class="scroll-point center product--icon lighten">

  <div class="product--icon__info stick-to-top">
    <div class="scroll-point__scroll">
      <h1>{{ text.omni_title }}</h1>
      <p class="normal-text">{{ text.omni_text }}</p>
      <a href="{{ text.omni_link }}">{{ general_text.go_to_products }}</a>
    </div>
  </div>

  <div class="color-bg blue" alt=""></div>

  <div class="flip-features__content active">
    <figure class="scroll-point__scroll zoom-in features__hotspots__image">
      <a href="{{ text.omni_link }}"><img src="{{ site.baseurl }}/img/omni/streimslowpetrol.png" /></a>
    </figure>
  </div>

</section>


<section class="scroll-point center product--icon lighten">

  <div class="product--icon__info stick-to-top">
    <div class="scroll-point__scroll">
      <h1>{{ text.heritage_title }}</h1>
      <p class="normal-text">{{ text.heritage_text }}</p>
      <a href="{{ text.heritage_link }}">{{ general_text.go_to_products }}</a>

    </div>
  </div>

  <div class="color-bg brown" alt=""></div>

  <div class="flip-features__content active">
    <figure class="scroll-point__scroll zoom-in features__hotspots__image">
      <!-- <a href="{{ text.heritage_link }}"><img src="{{ site.baseurl }}/img/season/tannerchukka.png" /></a> -->
      <a href="{{ text.heritage_link }}"><img src="{{ site.baseurl }}/img/heritage/tannerchukka_cognac.png" /></a>
    </figure>
  </div>

</section>

<div class=" scroll-point">
  <div class="container wrapper align-center">
    <header>
      <h1>#lundhags</h1>
      <p>{{ text.tsin_text }}</p>
    </header>
    <section class="grid--squares">
      {% for i in (1..8) %}
      <div class="grid__item scroll-point__show" offset="-400">
        <img src="/img/season/lundhags_insta_{{i}}.jpg" alt="">
      </div>
      {% endfor %}

      <div class="grid__item">
        <h3>{{ text.tsin_insta_title }}</h3>
        <p>{{ text.tsin_insta_text }}</p>
        <div class="social-links">
          <a class="zocial-facebook" href="https://www.facebook.com/lundhags/" title="Besøk Facebook-siden vår"><span>Facebook</span></a>
          <a class="zocial-instagram" href="https://www.instagram.com/lundhags/" title="Besøk Instagram-kontoen vår"><span>Instagram</span></a>
          <a class="zocial-youtube" href="https://www.youtube.com/channel/UCt0pS2dT4Np3d4RtYf3f-hw" title="Besøk Youtube-kanalen vår"><span>Youtube</span></a>
        </div>
      </div>

    </section>
  </div>
</div>
