
.top-hero {
  position: relative;
  @include flex-layout();

}


.top-hero__content {
  position: absolute;
  // max-width: 700px;
  margin:auto;
  z-index: 1;
  height:auto;
  top:0;
  left:0;
  right:0;
  bottom:0;
  align-self: flex-end;
  color:#fff;

  @include flex-layout();
}

.top-hero__title {
  left:0;
  right: 0;

  max-width: 400px;;
}

.top-hero__text {
  position: absolute;
  right: $margin;
  bottom:$margin;
  max-width: 400px;;
}

.banner {
  //@include flex-layout();
  //display: flex;
  //flex-wrap: wrap;
  width:100vw;
  //max-width: 100vw;
  font-size: 1.1rem;
  position: relative;
  overflow: hidden;
  //background: red;
  max-height: $iconHeight;
  // max-height: 130vh;

  color:#fff;


  &--small {
    @extend .banner;

    @include flex-layout($dir:column);
    align-items: center;

    .breadcrumbs + & {
      margin-top: -37px;
    }

  }

  > img {
    width: auto;
    height: 100%;
    height: auto;
    min-width: 150%;
    max-width: none;
    max-width: 120%;

    &.no-animation {
      // max-width: 100%;
    }

    min-height: 40vh;

    //margin-bottom: -100px;
    //margin-top: -20px;
    transform-origin: top;

    @media screen and (min-width:$portrait){
      max-width: 100%;
      min-width: 100%;

      height: auto;
      width: 100%;
    }
  }
}

.banner__content {
  position: absolute;
  margin: auto;
  color: #fff;
  z-index: 999;
  top: 0;
  bottom: 0;
  left:0;
  right: 0;
  @include flex-layout();
  @include flex-layout($dir:column, $wrap:nowrap);
  transition: all 1s ease;
  padding: 0 $padding;

  .playing + & {
    // transform: translateY(60px);
    // transform: scale(2);
    opacity: 0;
    pointer-events: none;
  }

  p {
    max-width: $text-block-max-width;
    text-align: center;
  }
}


.banner__title {

  // .banner--small & {
    position: absolute;
    // margin: auto;
    margin-left: auto;
    margin-right: auto;
    margin:0 auto;
    color: #fff;
    z-index: 999;
    top: 0;
    bottom: 0;
    left:0;
    right: 0;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction:column;
    width: 100%;
    pointer-events: none;
    width: auto !important;
    max-width: 95%;
    margin-bottom: .5em !important;

  // }


  .banner__content & {
    position: relative;
  }


  @media screen and (min-width:$portrait){
    font-size: $font-size-xlarge;
    font-size: calc(3rem + 3vw);
    max-width: none;


  }
}
