
$columnMargin:10px;
$columnMargin:2%;
$calc3col: (100%/3);

.columns {



  &.limit-width {
    max-width: $content-max-width;
    margin-left: auto !important;
    margin-right: auto !important;
  }

  .one-col-scroll & {
    flex-wrap:nowrap;
  }

  @media screen and (min-width: $portrait){
    @include flex-layout();

    &.margin {
      // margin:$columnMargin/2 $columnMargin 0;
    }
  }

  @media screen and (min-width: $content-max-width){
    &.margin {
      margin:$columnMargin/2 $columnMargin 0;
    }
  }
}

.columns__content {
  @include flex-layout($dir:column);

  position: relative;

  figure {
    //width: auto;
    margin: 0 $margin 0 0;
    margin: 0;
    overflow: hidden;

    img {
      width:100%;
      height: auto;

      &.align-bottom {
        align-self: flex-end;
      }

      &.align-top {
        align-self: flex-start;
      }

    }
  }

  &.col-2 figure {
    display: flex;
    flex-wrap:wrap;
    flex-direction:inherit;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding:0;
  }
}

.columns__content__wrapper {
  padding:$padding*2 $padding;
  width:100%;
  flex:auto;
  align-self: center;
  max-width:600px;

  .one-col-scroll & {
    padding:$padding*2 0;
  }

  // &:first-child {
  //   padding:$padding*2 $padding $padding;
  // }
  //
  // &:last-child {
  //   padding:0 $padding $padding*2;
  // }
  //
  // &:only-child {
  //   padding:$padding*2 $padding;
  //
  //   @media screen and (min-width:$portrait){
  //     padding:$padding*2 $padding;
  //   }
  // }


  @media screen and (min-width:$portrait){
    padding:$margin;

    max-width:80%;



    .one-col-scroll & {
      // margin-left: -50%;
      padding:$padding;

      position: relative;
      z-index:10;

      min-height: 100vh;
    }
  }

  @media screen and (min-width:$xl){
    .one-col-scroll & {
      padding:$padding;
    }
  }

}

.column__image {
  display: block !important;
  text-align: center;
  padding: $padding;

}

.column__image--link {
  padding:$padding*3 $padding;
}


img.col__bg {
    align-self: center;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    min-width: 100%;
    width: auto;
    max-width: none;
    min-height: 100%;
    margin: auto;
    z-index: -1;
    align-content: center;
    align-items: center;
    opacity: 0.1;
    transition: opacity .4s ease , transform 2s ease 0s;

    transform-origin:center;
    transform: translateX(-50%);
    left:50%;
    pointer-events: none;
}

[class*="col-"]:hover img.col__bg {
  opacity: .3;
  transform: translateX(-50%) scale(1.05);
}


[class*="col-"]{
  //background: $beige;
  //color:#fff;
  overflow: hidden;
  //height: 100%;
  position: relative;

  @media screen and (min-width:$portrait){

    &.fill {
      height: $pageHeight/2;

      .columns:first-of-type & {
        height: $pageHeight;
      }
    }
  }

  .one-col-scroll & {
    overflow: visible;
  }

  .margin & {
    margin-bottom:$margin;
  }

  &:nth-of-type(even){
    //background: #f3f3f3;
    //@include linear-gradient(#e3e3e3,#fff);
    //color:#000;
  }

  h1 {
    font-size:1.1rem;

    @media screen and (min-width:$portrait){
      font-size:1.6rem;
    }
  }

  @media screen and (min-width: $portrait){

    .margin & {
      flex:1;
      margin:0 $columnMargin $columnMargin*2;
      // padding:$columnMargin;
      flex:auto;
      flex:inherit;
    }
  }
}

.col-2 {
  @include flex-layout($dir:row);

  @media screen and (min-width: $landscape){
    width:50%;

    h1 {
      font-size:1.8rem;
    }
  }
}

.col-3 {
  @include flex-layout($dir:column);

  @media screen and (min-width: $portrait){
    width:33%;
    width:calc(100%/3);
    width:$calc3col;

    .margin & {
      width:$calc3col - $columnMargin*2;
    }

    // .margin.edge & {
    //   &:nth-of-type(3n+1){
    //     margin-left: 0;
    //   }
    //   &:nth-of-type(3n+3){
    //     margin-right: 0;
    //   }
    // }

    h1 {
      font-size:1.8rem;
    }
  }
}

.col-4 {
  @include flex-layout($dir:column);

  @media screen and (min-width: $portrait){
    width:50%;

    .page-footer & {
      width: 25%;
    }
  }

  @media screen and (min-width: $landscape){
    width:25%;

    h1 {
      font-size:1.4rem;
    }
  }
}
