
// .color-list {
//   list-style: none;
//   padding: $padding/2 $padding/4;
//   margin: 0;
//   @include flex-layout($dir:row);
//
//   background: rgba(0,0,0,0.1);
//   // background: rgba(255,255,255,0.1);
//   padding: 10px 16px;
//   padding-right: 11px;
//   border-radius: 20px;
//   box-shadow: inset 2px 2px 1px 0px rgba(0,0,0,0.15);
//
//   background: linear-gradient(135deg, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0.05) 100%);
//
//   li {
//     margin-right: 5px;
//   }
// }

.color-list {
  list-style: none;
  padding: $padding/2 0;
  margin: 0;
  @include flex-layout($dir:column, $alignY:flex-end);
  width:112px;

  li {
    margin: 0;
    margin-bottom: 7px;
  }
}


$dot-colors-name-list: beige  brown    burgundy  cognac   pecan    black    gray     green    blue     petrol  red      acaj     orange   yellow   gold;
$dot-colors-list:      beige  #48342a  #29140f   #ad7e47  #48231e  #0f0f0f  #3b3c3e  #5c4c36  #151f28  #1a242d   #3e0e09  #7A211B  #e0aa2e  #f0e633  #653d03;

$colors-name-list:     beige  brown    burgundy  cognac   pecan    black    gray     green    blue     petrol  red      acaj     orange   yellow   gold;
$colors-list:          #695a48  #402912  #3e2a22   #844f1b  #440B00  #222222  #222222  #222219  #151f28  #213853   #310e0e  #2b1b1b  #e0aa2e  #653d03  #653d03;

$gradient-colors-name-list: beige brown burgundy cognac pecan black gray green blue  petrol red acaj orange yellow gold;
$gradient-colors-list:
rgba(#695a48,0.4)
rgba(#402912,0.4)
rgba(#3e2a22,0.4)
rgba(#844f1b,0.4)
rgba(#440B00,0.4)
rgba(#222222,0.4)
rgba(#222222,0.4)
rgba(#222219,0.4)
rgba(#151f28,0.4)
rgba(#213853,0.4)
rgba(#310e0e,0.4)
rgba(#2b1b1b,0.4)
rgba(#e0aa2e,0.4)
rgba(#653d03,0.4)
rgba(#653d03,0.4)
;

.switch-tab {
  width:100px;
  width:60px;
  // height: 45px;
  border-radius:30px 0 0 30px;
  background: rgba(255,255,255,0.2);
  color:#fff;
  padding: $padding/4 $padding/2;
  padding-right: $padding;
  display: block;
  // display: flex !important;
  position: relative;
  z-index: 1;
  transition: transform .4s ease .2s, opacity .4s ease .3s, border .4s ease;
  transition: transform .4s cubic-bezier(0.77, 0, 0.175, 1) 0s, color .4s ease 0s, box-shadow .4s ease !important;
  // transition: transform .6s cubic-bezier(.46,-0.46,.65,.97) 0s, color .4s ease 0s, box-shadow .4s ease !important;
  // transition: transform .4s ease-out 0s, box-shadow .4s ease !important;
  // transition: all .2s ease;
  font-size: .7rem;

  transform: none;
  transform: translateX($padding/8);
  text-align: left;
  box-shadow: 0px 0 2px -2px rgba(0,0,0,0.8);
  // margin-right: -$padding/2 !important;
  transform-origin: left;
  text-transform: capitalize;
  cursor: pointer;

  // &.women, &.men {
  //   color:rgba(0,0,0,0) !important;
  //   text-indent: -99999px;
  //
  //   &:after {
  //     @extend .fa;
  //     content: "\f222";
  //     content: "\f183";
  //     font-size: 1.8rem;
  //     color: rgba(#f3f3f3,.7);
  //     text-indent: 4px;
  //
  //     // position: absolute;
  //     // left: $padding*2;
  //     // top:0;
  //     // bottom:0;
  //     // margin: auto;
  //     // height: 0;
  //   }
  // }
  //
  // &.women:after {
  //   content: "\f182";
  // }
  //
  // &.unisex:after {
  //   content: "\f183" + "\f182";
  // }

  &.active {
    transform: translateX(70%);
    color: rgba(255,255,255,0) !important;
    display: flex !important;
    transition: transform .4s cubic-bezier(0.77, 0, 0.175, 1) 0s;
    transition: transform .6s cubic-bezier(.46,-0.46,.65,.97) 0s, color .4s ease 0s, box-shadow .4s ease !important;
    box-shadow: 0px 0 2px -2px rgba(0,0,0,0.8);



    &:after {
      opacity: 1;
      transform: none;
    }
  }

  &:not(.active):hover {
    transform: scale(1.1);
    transform: none;
    box-shadow: -6px 0 4px -2px rgba(0,0,0,0.4);
    transform: rotateY(10deg) scale(1.0);
    // transition: transform .2s cubic-bezier(0.77, 0, 0.175, 1) 0s;


  }

  @media screen and (min-width: $portrait){
    width:112px;
    font-size: .9rem;
    transform: translateX($padding/2);
    margin-right: -$padding/2 !important;

    padding: $padding/2 $padding;
    padding-right: $padding*2;
  }
}


[class*='dot-color-']{
  @extend .switch-tab;
}

@each $dot-current-color in $dot-colors-name-list {
    $i: index($dot-colors-name-list, $dot-current-color);
    .dot-color-#{$dot-current-color} {
        background-color: nth($dot-colors-list, $i);
    }
}

.color-bg {
  width: 100vw;
  height: 100vh;
  height: 100vw;
  transition: all 1s cubic-bezier(0.77, 0, 0.175, 1);
  transition: all .6s linear;
  pointer-events: none;
  background-image: url('../img/noise2.png');
  background-color: #444;
  position: relative;

  &.absolute {
    position: absolute;
    height: auto;
    left: 0;
    right:0;
    bottom: 0;
    top:0;

    // .scroll-point--active & {
    //   position: sticky;
    //   height: 100vh;
    //   position: fixed;
    // }
    //
    // .scroll-point--passive & {
    //   position: sticky;
    //   height: 100vh;
    //   position: absolute;
    //   top:auto;
    //   bottom: 0;
    // }


    &:after {
      left: -15vw;
      top:0;
      bottom: 0;

    }

    + * {
      color:#fff;
    }
  }

  .portrait & {
    height: 100vh;
    height: 100%;

    @media screen and (min-width: $xl){
      height: 100vw;
    }
  }

  &.show-me {
    opacity: 1;
  }

  &:after {
    position: absolute;

    top:-10%;
    left:-80%;
    // bottom:0;
    width: 80%;
    height: 100%;
    margin: auto;
    background: radial-gradient(ellipse at left, rgba(255,255,255,.3) 0%,rgba(255,255,255,0) 50%);
    background: radial-gradient(ellipse at left, rgba(255,255,255,.3) 0%,rgba(255,255,255,0) 80vw);
    // background: linear-gradient(to right, rgba(255,255,255,.2) 0%,rgba(255,255,255,0) 50%);
    content: "";
    // opacity: 0.8;
    transition: all .6s linear;


    .scroll-point--active & {
      left:-40%;
      left:-10%;
    }
  }

  @each $current-color in $colors-name-list {
      $i: index($colors-name-list, $current-color);
      [show-n-hide*="#{$current-color}"] &, &.#{$current-color} {
        background-color: nth($colors-list, $i);
      }
  }

  @each $gradient-current-color in $gradient-colors-name-list {
      $i: index($gradient-colors-name-list, $gradient-current-color);
      [show-n-hide*="#{$gradient-current-color}"] &, &.#{$gradient-current-color}  {

        &:after {
          // background: nth($colors-list, $i);
          background: -webkit-radial-gradient(ellipse at left, lighten(nth($gradient-colors-list, $i),50%) 0%,rgba(255,255,255,0) 70%);
          background: radial-gradient(ellipse at left, lighten(nth($gradient-colors-list, $i),50%) 0%,rgba(255,255,255,0) 80vw);
          // background: linear-gradient(to right, nth($gradient-colors-list, $i) 0%,rgba(255,255,255,0) 50%);

          // -webkit-filter: brightness(100%);
          // filter: brightness(400%);

        }

        &.absolute:after {
          background: linear-gradient(to right, lighten(nth($gradient-colors-list, $i),50%) 0%,rgba(255,255,255,0) 50%);

        }
      }
  }

  //  background-color: #684a4a;
  //
  //
  // [show-n-hide*="red"] & {
  //    background-color: #2b1b1b;
  //  }
  // [show-n-hide*="blue"] & {
  //    background-color: #151f28;
  //  }
  // [show-n-hide*="green"] & {
  //    background-color: #222219;
  //  }
  // [show-n-hide*="gray"] & {
  //    background-color: #222222;
  //  }
  // [show-n-hide*="black"] & {
  //    background-color: #222222;
  //  }

}
