// deepify

.deepify {
  background:#ffaf1a;
  background: none;
  margin:0 auto;
  overflow: hidden;
  width: 100%;

  bottom: 0;

  .logo-wrapper {
    position: absolute !important;
    z-index: 10;
    top: 3vh !important;
    bottom: auto !important;

    @media screen and (min-width: $portrait){
      top: 15% !important;

    }
  }
}

.deepify__wrapper {
  position: relative;
  display:flex;
  flex-wrap:wrap;
  flex-direction: column;
  justify-content:center;
  align-items:center;
  align-content:center;

  @media screen and (min-width: $portrait){
    flex-direction: row;
  }


  .parallax & {
    align-items: flex-end;
    align-content: flex-end;
    // height: 64vh;

    .banner & {
      max-height: 90vh;
      max-height: calc(500px + 30vw);
      // max-height: calc(300px + 30vw);

      img {
        min-width: auto;
      }

      @media screen and (min-width: $xl){
        max-height: calc(700px + 20vw);
        // max-height: calc(700px + 16vw);
        max-height: calc(700px + 26vw);

        img {
          min-width: 100vw;
        }

      }

    }

  }

  .zoom & {
    min-height: 150vh;
  }
}

img.deepify__layer {
  pointer-events: none;
}



.deepify__layer {
  position: absolute;
  // min-width:110%;
  max-width:none;
  min-height:110%;
  // bottom:0;

  top:0;
  // bottom:0;
  // bottom: 0;
  margin:auto;
  margin-left: auto;
  margin-right: auto;
  transform-origin:center;
  transition:all .2s linear;
  transition:none;
  -webkit-transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  transform: translateZ(0);
  will-change: transform;
  max-width: 150%;

  @media screen and (min-width: $portrait){
    max-width: none;
  }

  &.foreground {
    top:auto !important;
    bottom:-5vh !important;
    right: 0;

    @media screen and ( max-width: $portrait - 1 ){
      min-height: 0 !important;
      max-width:110%;
    }

    @media screen and (min-width: $portrait){
      bottom:10vh !important;
    }

    @media screen and (min-width: $xl){
      bottom:-5vh !important;

    }
  }

  &:first-child {
    top:0;

    [reverse] & {
      top:auto;
      bottom: 0;
    }

    // &[reverse]{
    //   bottom: auto;
    //   top:0;
    // }
  }

  .mozaik & {
    min-height:120%;
    min-height:160%;

  }

  //left:0;
  //right:0;

  .parallax & {
    transition:all 0s ease 0s;
  }

  .banner & {
    min-height:110%;
    min-width:100vw;

    object-fit: contain;

    @media screen and (min-width: $landscape){
    }

  }

  .zoom & {
    min-width:100%;
    min-height:100%;
  }



  &.align-center {
    // transform: none !important;
    // z-index: 100;
    //top: 40vh;
    min-width: 0;
    min-height: 0;
    height: auto;
    align-self: center;
    top:0;
    bottom:0;
    left:0;
    right:0;

    .title.bordered {
      width:auto;
    }
  }

  &.align-top {
    bottom: 50%;
  }

  > h1 {
    text-align: center;
    // font-weight: 700;
    margin-top: -40%;
    transition:all .1s linear;


    color:#fb9e1b;
    color:#fff;
  }

  &:nth-of-type(2){
  // &:nth-child(1){
    position: relative;

    transform-origin:bottom;

    .mozaik & {
      margin-bottom: 100%;
      margin-bottom: 30%;

      width: 100%;

      @media screen and (min-width: $landscape){
        margin-bottom: 55%;

      }

      @media screen and (min-width: $xl){
        margin-bottom: 50%;
      }
    }

  }
}

div.deepify__layer {
  transform: none !important;
}
