

.features {
  overflow: hidden;
  // position: relative;

  // @include flex-layout($dir:column);

  @media screen and (min-width: $portrait){
    // padding:$margin 0;

    // height:300vh;

    .container {
      height: 100vh;

      &:first-of-type {
        margin-top: 20vh;
      }
    }

  }

  // &:after {
  //   width:150vw;
  //   height:150vw;
  //   border-radius: 50%;
  //   content: "";
  //   border:40vw solid #fff;
  //   position: absolute;
  //   top:0;
  //   // left: 0;
  //   bottom: 0;
  //   // right: 0;
  //   margin:auto;
  //   transition: all 1s eas .4s;
  //   z-index: 999;
  // }
  //
  // &.scroll-point--ready {
  //   &:after {
  //
  //
  //   }
  // }
  //
  // &.scroll-point--active {
  //   &:after {
  //     position: fixed;
  //
  //     border:00vw solid red;
  //
  //   }
  // }
}


.features__hotspots {


}

.features__image {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding:$margin;

  > img {
    width: 100%;
    position: relative;
    transform: scale(.5);
    @include bezier-transition($time:.8s, $delay:.2s);

  }

  &:before {
    @include circle-bg();
    @include bezier-transition($time:.8s);

  }

  .scroll-point--active & {

    > img {
      transform: scale(1);

    }

    &:before {
      width: 140vw;
      height: 140vw;
    }
  }
}

.features__intro {
  padding:$padding*2;
  // background: green;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  bottom:0;
  margin: auto;
  margin-left: 0;
  max-width: 300px;
  z-index: 10;

  @media screen and (min-width: $portrait){
    padding:$padding*2 0;

    transition: all 1s ease;

    // .scroll-point--active .scroll-point--active & {
    //
    //   position: fixed;
    //   top: 5vw;
    //   left: 5vw;
    // }

    .scroll-point--passive & {
      // transform: translateY(-50vh);
      transform: translateY(-5vh);
      opacity: 0;
    }

  }

}

.features__hotspots__info {
  padding:$padding*2;
  background: #f3f3f3;
  display: block;
  // position: absolute;
  // right: 0;
  border:1px solid #e3e3e3;
  margin:auto;
  max-width: 300px;
  z-index: 100;

  p {
    font-size: 0.9rem;
  }

  // .scroll-point--active .scroll-point--active & {
  //
  //   position: fixed;
  //   bottom: 5vw;
  //   right: 5vw;
  // }

  .scroll-point--active .scroll-point--active & {
    //@include animate();
  }

  transition: all 1s ease .2s;

  .scroll-point--passive & {
    // transform: translateX(5vw) scale(0.8);
    // opacity: 0;
  }

}

.hotspots {
  position: relative;
}

$spotSize:23px;
$innerSpotSize:7px;

.hotspots__list__hotspot {
  width:$spotSize;
  height: $spotSize;
  display: flex !important;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
  // background: rgba(#fff,.2);
  border-radius:50%;
  position: absolute;
  z-index: 10;

  transform: scale(0.5);
  opacity: 0;
  transition: transform .4s ease, opacity .4s ease;
  transform-origin: center;

  &:before {
    content: "";
    width:$spotSize;
    height: $spotSize;
    display: flex !important;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    background: rgba(#fff,.2);
    border-radius:50%;
    position: absolute;
    z-index: 10;



    transition: transform .4s ease, opacity .4s ease;
    transform-origin: center;
    @include animate($iteration:infinite);

  }



  &:after {
    content: "";
    width: $innerSpotSize;
    height:  $innerSpotSize;
    background: $primary-color;
    // background: rgba($primary-color,.5);
    border-radius: 50%;
    position: absolute;
    margin: auto;
    transform: scale(0.5);
    transition: transform .4s ease .2s, opacity .4s ease .3s;
    transform-origin: center;
    z-index: 15;
  }

  &.show-me {
    transform: scale(1);
    opacity: 1;
    // background: rgba(#fff,0);
    // transition: transform .4s ease, opacity .4s ease, background .4s ease 1s;


    &:after {
      transform: scale(1);

    }
  }
}

$textblockWidth: 200px;
$hotspot_line : 110px;
$hotspot_line_dist : -$hotspot_line - $padding + 9px;
$hotspot_text_dist : -$hotspot_line - $padding*1.3;

.hotspot__text {
  width: $textblockWidth;
  position: absolute;
  bottom: $hotspot_text_dist/2 - $spotSize - $innerSpotSize;
  @include flex-layout($width:200px, $dir:column);
  color: rgba(#fff,0);
  transition: all .6s linear .8s;
  font-size: .7rem;
  height: 100%;
  height: 50px;
  padding: 10px $padding;
  line-height: 1.4;
  z-index: 10;
  border-radius: 30px;





  &:before {
    content: "";
    height: $hotspot_line/2;
    height: 0;
    transition: all .6s ease-out .2s;

    width:1px;
    background: rgba(#fff,.6);
    position: absolute;
    top: $hotspot_line_dist/2;
  }



  &.top {
    top: $hotspot_text_dist/2 - $spotSize - $innerSpotSize;
    bottom: auto;

    &:before {
      bottom: $hotspot_line_dist/2;
      top:auto;
    }
  }

  &.left, &.right {
    left: ($hotspot_text_dist/2.2) - $textblockWidth;
    align-items: flex-end;
    // background: rgba(red,0.3);
    right: auto;
    top:auto;
    bottom: auto;

    &:after {
      position: absolute;
      content: "";
      background: rgba(0,0,0,0.9);

      top:0;
      width: 100%;
      // left: 0;
      // right:0;
      bottom: 0;
      right: -50%;
      z-index: -1;
      border-radius: 0 30px 30px 0;
      opacity: 0;
      transition: all .6s linear .8s;
    }


    &:before {
      height: 1px;
      width: 0;
      top:auto;
      bottom: auto;
      left: auto;
      right: $hotspot_line_dist/2 - 10px ;
    }
  }

  &.left {
    padding-right: 0;
  }
  &.right {
    padding-left: 0;
  }

  &.right {
    right: ($hotspot_text_dist/2.2) - $textblockWidth;
    align-items: flex-start;
    left: auto;

    &:after {
      right:auto;
      left: -50%;
      border-radius: 30px 0 0 30px;
    }

    &:before {
      right: auto;
      left: $hotspot_line_dist/2 - 10px ;
    }
  }

  &:hover, .hotspots__list__hotspot:hover & {
    background: rgba(0,0,0,0.9);
    transition: all .4s linear .2s;

    &:after {
      transition: all .4s linear .2s;
      opacity: 1;
    }

  }

  .show-me & {
    color: rgba(#fff,1);

    &:before {
      height: $hotspot_line/2;
    }

    &.left, &.right {

      &:before {
        height: 1px;
        width: $hotspot_line/2;

      }
    }

  }

  // @media screen and (min-width: $portrait){
  //   bottom: $hotspot_text_dist - $spotSize;
  //
  //   &:before {
  //     height: $hotspot_line;
  //     top: $hotspot_line_dist;
  //   }
  //
  //   &.top {
  //     top: $hotspot_text_dist - $spotSize;
  //
  //     &:before {
  //       bottom: $hotspot_line_dist;
  //     }
  //   }
  //
  //   .show & {
  //
  //     &:before {
  //       height: $hotspot_line;
  //     }
  //
  //     &.left, &.right {
  //
  //       &:before {
  //         height: 1px;
  //         width: $hotspot_line/2;
  //
  //       }
  //     }
  //
  //   }
  // }
}



@media screen and (max-width:500px){

  .hotspots__list {
    position: absolute;
    top:0;

    left:0;
    right: 0;
    margin: auto;
    max-width: 70vw;
    // margin-left: 0;
    pointer-events: none;

    .product--icon & {
      padding: $padding;
      top: auto;
      top:25%;
      // bottom: $padding;
    }
  }

  .hotspots__list__hotspot {
    left:auto !important;
    right:auto !important;
    top:auto !important;
    position: relative !important;
    align-items: flex-start !important;
    width: 100%;
    text-align: left !important;
    height: auto !important;
    margin-bottom: $padding/2;
    margin-bottom: 1px;

    &:before, &:after {
      display: none !important;
    }

    &:first-of-type .hotspot__text{
      border-radius: 5px 5px 0 0;
    }

    &:last-of-type .hotspot__text{
      border-radius: 0 0 5px 5px;
    }
  }

  .hotspot__text {
    left:auto !important;
    right:auto !important;
    top:auto !important;
    bottom:auto !important;
    position: relative !important;
    align-items: flex-start !important;
    text-align: left !important;
    width: 100%;
    height: auto;
    padding: 0;
    padding: $padding/4 $padding/2;
    background: rgba(0,0,0,0.8);
    border-radius: 0;




    > span {
      border-radius: 0;
    }


    &:before, &:after {
      display: none !important;
    }
  }
}


.flip-features {
  position: absolute;
  top:0px;

  .product-spec & {
    top:10px;
  }

  .product-spec .product-spec__video + & {
    top:80px;
  }

  height: 150vh;
  height: 100%;

  .product__icon & {
    width: 100%;

  }


  .bg {
    width: 100%;
    position: absolute;
    top:0;
    left:0;
    max-width: none;
    height: 100%;
  }

  @media screen and (min-width: $portrait){
    height: $iconHeight;
    max-height: 1100px;
    top:0;
    position: relative;


    .product-spec & {
      height: 100vh;
      top:0;

    }

    .bg {
      width: 100%;
      position: relative;
    }

    .product__icon & {
      height: auto;
    }

  }

  @media screen and (min-width: $xl){
    max-height: 1200px;

  }


  .flip-features__content:hover ~ .flip-toggle {
    transform: scale(1);
    opacity: 1;
    transition: all .4s ease-out;
  }
}

.flip-features__content {
  position: absolute;
  left:0;
  top:0;
  // display: none;
  opacity: 0;
  pointer-events: none;
  width:100%;
  @include flex-layout();
  height: 100%;
  padding: $padding;
  max-height:300px;
  left:0;
  top:0;
  bottom: 0;
  right: 0;
  // padding: 0;
  margin:auto;

  .product--icon & {
    margin-bottom: 10vh;
  }

  @media screen and (max-width: $portrait - 1){

    img {
      max-height:300px !important;
    }

  }
  @media screen and (min-width: $portrait){

    position: absolute;

    width:100%;
    height: 100%;
    max-width:700px;
    max-height:700px;
    max-height:400px;

    .product-spec & {
      max-height: 75vh;

      img {
        max-height: 55vh;
        max-height: 700px;
        max-height: 45vw;



      }

    }

    .landscape .product--icon & {
      margin-bottom: 18vw;
    }

    .portrait .product--icon & {
      margin-bottom: 20vh;
    }

    img {
      max-height: 75vh;

      .portrait & {
        max-height: 55vh;
        max-height: 700px;

      }
    }
  }

  @media screen and (min-width: $xl){
    max-width:60vw;
    // max-height:60vw;

    .landscape .product--icon &  {
      // margin-bottom: auto;
    }

    img {
      max-height: 650px;

    }
  }




  .features__hotspots__image {
    transform: scale(0.9);
    transition:all .6s ease-out;
    // position: absolute;
    // left:0;
    // top:0;
    // bottom: 0;
    // right: 0;
    // margin:auto;
    // width:100%;
    // height: 100%;
    // max-width:700px;
    // max-height:700px;
    // opacity: 0;
    @include flex-layout();

    @media screen and (min-width: $desktop){
      transform: scale(0);

    }

    transition: transform .6s ease-out, filter .8s linear .4s;
    filter: brightness(20%);

    .scroll-point--active & {
      filter: brightness(100%);

    }


    img {
      transform: scale(.99) translateY(0px);
      transition:all .6s ease-out;

      &.shadow {
        filter:drop-shadow(0 20px 10px rgba(0,0,0,0.4));
      }
      // &[src*=".png"]{
      //   filter:drop-shadow(0 20px 10px rgba(0,0,0,0.4));
      // }

    }
  }

  &.active {
    // display: block;
    opacity: 1;
    pointer-events: all;
    display: flex !important;


    .features__hotspots__image {
      transform: scale(1) rotateY(0);
      opacity: 1;

      img {
        transform: scale(1) translateY(0px);

      }

    }

  }

}

.flip-toggle {
  // &:after {
    position: absolute;
    width: 50px;
    height: 50px;
    line-height: 50px;
    content: "";
    display: block;
    border-radius: 50%;
    // border:2px solid rgba(#fff,0.6);
    z-index:10;
    top:0;
    left:0;
    right: 0;
    bottom:0;
    margin: auto;
    opacity: 0.4;
    transform: scale(.8);
    transition: all .4s ease-out;
    background: rgba(#fff,0.2);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    cursor: pointer;
  // }

  &:after {
    @include icon("\f0e2");
    color:rgba(#fff,0.6);
    transition: all .4s ease-out .2s;
    display: block;
    transform-origin: center;
    //position: absolute;
    //top:0;
    //left:0;
    //right:0;
    //bottom:0;
    margin:auto;
    text-align:center;
  }

  &:hover {
    // &:after {
      transform: scale(1.1);
      opacity: 1;
      transition: all .4s ease-out;
      border-color:rgba(#fff,0);

    // }

    &:after {
      transform: rotate(-180deg);
    }
  }
}
