//
// .grid {
//   @include flex-layout($alignY:stretch);
// }
//
//
// .grid__col {
//   width: 100%;
//   @include flex-layout();
//
//
//
//
//   @media screen and ( min-width: $landscape){
//     // width: 50%;
//     width: 40%;
//
//     &:first-child {
//       width: 60%;
//     }
//   }
// }
// .grid__item {
//   flex:auto;
//   position: relative;
//   // width: calc(100%/3);
//
//   &:first-child {
//     width: 100%;
//   }
//
//   &:only-child {
//     width: 100%;
//   }
//
//   img {
//     width: 100%;
//   }
// }

.grid {
  display: grid;
  // grid-template-columns: 30% 30% 40%;
  // grid-template-rows: auto;

  // grid-template-columns: 1fr 1fr 1fr;
  // grid-template-columns: 33.333333333% 33.333333333% 33.333333333%;
  // grid-template-columns: 50% 50%;
  grid-template-columns: 100%;

  // grid-template-areas:
  //     "header header"
  //     "footer sidebar"
  //     "footer sidebar ";

  grid-template-areas:
      "header"
      "footer"
      "sidebar";

  &--reverse {
    @extend .grid;
    // grid-template-columns: 40% 30% 30%;
    //
    // grid-template-areas:
    //   "sidebar  header  header"
    //   "sidebar  footer  footer";

  }

  &--squares {
    @extend .grid;
    padding:$padding/2 0;
  }

  @media screen and (min-width: $portrait){
    grid-template-columns: 30% 30% 40%;
    grid-template-areas:
        "header  header  sidebar"
        "footer  footer  sidebar";

    &--reverse {
      grid-template-columns: 40% 30% 30%;
      grid-template-areas:
        "sidebar  header  header"
        "sidebar  footer  footer";

    }

    &--squares {
      grid-template-columns: auto auto auto;
      grid-template-columns: calc(100%/3) calc(100%/3) calc(100%/3);
    }
  }
}




.grid__item {
  position: relative;
  justify-content: center;
  align-items: center;
  align-content: center;
  overflow: hidden;

  &:before {
    content: "";
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom: 0;
    background: rgba(0,0,0,.4);
    background: radial-gradient(ellipse at center, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
    z-index: 1;
    transform: scale(1);
    opacity: 0;
    pointer-events: none;
    transition: all .4s ease;
  }

  .grid--squares & {
    &:before {
      display: none;
    }
  }

  @media screen and (min-width: $portrait){

    &:hover {

      &:before {
        transform: scale(1.5);
        opacity: 1;
      }
    }
  }

  // > * {
  //   position: relative;
  //   z-index:1;
  //   transition: all .6s ease;
  //   transform: scale(1.01);
  //   transform-origin: center;
  //   backface-visibility: hidden;
  //   filter: blur(0px);
  // }

  *:not(.grid__item__text) p {
    font-size: $font-small;
    padding: $padding/4;
  }

  .grid--squares & {
    margin:$padding/4;
    padding:$padding/4;
    justify-content: center;
    align-items: center;
    align-content: center;
    align-self: center;
  }

  img {
    width:100%;

    // @media screen and (min-width: $portrait){
    //   min-width: 100%;
    //   min-height: 100%;
    //   max-width: none;
    //   position: absolute;
    //   margin:auto;
    //   width: auto;
    //   justify-self:center;
    // }
  }

  // &[grid-sidebar] img {
  //   height: 80%;
  //   max-width: none;
  //   margin:auto;
  //   width: auto;
  // }

}

.grid__item__bg {
  position: absolute;
  top: 0;
  bottom: 0;
  left:0;
  right: 0;
  margin: auto;
}

.grid__item__text {
  position: absolute;
  top: 0;
  bottom: 0;
  left:0;
  right: 0;
  margin: auto;
  @include flex-layout();
  color:#fff !important;

  text-align: center;
  padding: $padding;
  max-width: 80%;
  z-index: 10;

  .grid__item__title {
    transition: all .8s cubic-bezier(0.77, 0, 0.175, 1) 0s;
    transition: all .6s ease 0.2s;
    margin: 0 auto;
    padding: 0;
    width: 100%;

    &:only-child {
      transform: none !important;
      opacity: 1 !important;
    }

  }

  p {
    transition: all .6s ease 0s;
    opacity: 0;
    transform: translateY(40px);
    // position: absolute;
    // left: 0;
    // right:0;
    height: 0;
    margin: 0;

    @media screen and (max-width: $xl){
      font-size: 1rem;
    }
  }

  &--top {
    @extend .grid__item__text;
    align-content: flex-start;
    align-items: flex-start;
    padding-top: $padding*3;
    padding-top: $padding*1.5;
    margin-top: calc( ( (600px + (100vw * 0.6) )/2) / 4 );
  }
  &--bottom {
    @extend .grid__item__text;

    @media screen and (min-width: $portrait){
      align-content: flex-end;
      align-items: flex-end;
      padding-bottom: $padding*3;
      padding-bottom: $padding*1.5;
      padding-bottom: 0;
      margin-bottom: calc( (( ((100vw * 0.6)* (300 / 600) )*2) / 4 ) - .5rem);

    }

    @media screen and (min-width:$desktop){

      // margin-bottom: calc( ((100vw * (3 / 6))/4) + .4rem );
      // margin-bottom: calc( ( ((100vw * 0.6)* (300 / 600) )*2) / 4 );

      // padding-bottom: $padding*1.5;


    }
    // margin-bottom: calc((60vw) * (300 / 600)/4);
    // margin-bottom: calc((300 / 600)*0.6 );
  }

  @media screen and (min-width: $portrait){


    .grid__item:hover & {

      .grid__item__title {
        transform: translateY(-40px);
        // opacity: 0;
        transition: all .6s ease 0s;

        // transition: all .6s cubic-bezier(0.77, 0, 0.175, 1) 0s;
      }

      p {
        transform: none;
        opacity: 1;
        transition: all .6s ease .2s;
      }

      // + * {
      //   filter: blur(4px);
      //   transform: scale(1.05);
      // }
    }
  }
}

.grid__item__title {
  @include font-title();
  transform: none;
  opacity: 1;
  text-transform: uppercase;

  &:only-child {
    margin-bottom: 0;
    padding: 0;
  }
}

[grid-header]{
  grid-area: header;
}
[grid-sidebar]{
  grid-area: sidebar;
  max-height: 200vw;

  > img {
    // height: 100%;
    width: auto;
    max-width: 100%;

    // max-width: none;
  }
  @media screen and (min-width:$portrait){
    max-height: auto;

    > img {
      height: auto;
      width: 100%;
      max-width: 100%;
    }
  }
}
[grid-footer]{
  grid-area: footer;
}

//
// .grid__item {
//   position: relative;
//   grid-row: 2;
//   justify-content: center;
//   align-items: center;
//   align-content: center;
//
//
//   img {
//     min-width: 100%;
//     min-height: 100%;
//     max-width: none;
//     // position: absolute;
//     margin:auto;
//     justify-self:center;
//   }
//
//
//   &:first-of-type{
//     // grid-row: 1;
//     // grid-column-start: 1;
//     // grid-column-end: 3;
//
//     grid-area: header;
//
//     .grid--reverse & {
//       grid-column-end: 1;
//       grid-row-end: 2;
//
//     }
//   }
//
//   &:nth-of-type(4){
//     // grid-row: 1;
//     // grid-column-start: 1;
//     // grid-column-end: 3;
//
//     grid-area: sidebar;
//   }
//
//   // &:nth-of-type(4) {
//   //   grid-row: 1;
//   //   grid-column-start: 3;
//   //   grid-column-end: 3;
//   //   grid-row-start: 1;
//   //   grid-row-end: 3;
//   //
//   //   .grid--reverse & {
//   //     grid-row: 2;
//   //     grid-column-start: auto;
//   //     grid-column-end: auto;
//   //     grid-row-start: auto;
//   //     grid-row-end: auto;
//   //   }
//   // }
//   //
//   // &:nth-of-type(2) {
//   //
//   //   .grid--reverse & {
//   //     grid-row: 1;
//   //     grid-column-start: 2;
//   //     grid-column-end: 3;
//   //     grid-row-start: 1;
//   //     grid-row-end: 1;
//   //   }
//   // }
//
// }
//
