
.inspiration {
  padding:10vw 0;
  position: relative;
  @include flex-layout();

  svg {
    @media screen and (max-width: $portrait - 1){
      width: 90px;
      height: 90px;
    }
  }

  .align-center {
    align-content: space-between;
    flex-direction: column;
    // max-width: none;

    @media screen and (min-width: $portrait){
      width: 80%;
    }
    @media screen and (min-width: $desktop){
      width: 70%;
    }
  }

  .text-block {
    z-index: 10;
    // max-width: 400px;
    transition: background .4s ease-in-out;
    background: rgba(#fff,.4);
    margin-left: -10%;


    @media screen and (max-width: $xl){
      max-width: 450px;
      margin-left: 0%;


    }

    &:hover {
      background: rgba(#fff,1);
    }

    @media screen and (max-width: 500px){
      transform: none !important;
    }
  }

}

.inspiration__title {
  position: absolute;

  margin:auto;
  max-width:100%;
  z-index:100;
  color:#000;

  top:0;
  bottom:0;
  height:0;

  // Halvtransparent
  // mask-image: linear-gradient(black 0%, transparent 70%);
  // -webkit-mask-image: linear-gradient(black 0%, transparent 70%);

  font-size:10vw;

  @media screen and (min-width: $xl){
    font-size: 140px;
  }

  @media screen and (max-width: 500px){
    height: 45px;
    position: relative;
  }

}

.inspiration__image {

  width:90%;
  // width:70%;
  margin: auto auto 20px;

  &:nth-of-type(even){
    margin-left: -10%;
    z-index:0;
  }
  &:nth-of-type(odd){
    margin-right: -10%;
    z-index:1;
  }

  &.fronted {
    z-index:10;
  }

  @media screen and (min-width: $portrait){
    margin: auto auto -2vh;

    // width: 62%;
    width: 100%;

    max-width: 65vw;
    max-height: 35vw;
    object-fit: contain;

    &:last-of-type {
      margin-bottom: -2vh;
    }
  }

  @media screen and (min-width: $desktop){
    margin: auto auto -200px;

    max-height: 40vw;


    &:nth-of-type(even){
      margin-left: -30%;
      // margin-left: -10vh;
      z-index:0;
      transition: transform .4s linear 0s;
    }
    // &:nth-of-type(odd){
    //   margin-right: -20%;
    //   z-index:1;
    // }

    &:last-of-type {
      margin-bottom: -250px;
      margin-bottom: -15vh;
    }
  }


  @media screen and (max-width: 500px){
    transform: none !important;
    margin:auto !important;
    // margin-bottom: -30% !important;
    max-height: 40vh;
    // width: auto;

    &:last-of-type {
      margin-bottom: 0% !important;
      display: none !important;
    }
  }

}
