
.mozaik {

  .color-bg {
    z-index: -1;
  }

  [class*="col-"] > img {
    width: 100%;

    &[src*=".png"]{
      width: auto;
      padding: $margin;

      @media screen and (min-width: $portrait){
        padding: $portraitMargin 0;

      }
    }
  }

  .columns {
    align-items: stretch;
    align-content: stretch;

    &:nth-of-type(even){
      flex-direction: row-reverse;
    }
  }

  // [class*="col-"]{
  //   align-items: stretch;
  //   align-content: stretch;
  // }
}

.col-size {

  + * {
    position: absolute;
  }
}
