
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

$padding:20px;
$max-width:1200px;
$portrait:768px;
$landscape:1024px;
$desktop:1200px;
$xl:1400px;

$dark-gray: #5d5555;

$bezier: cubic-bezier(0.55, 0.055, 0.675, 0.19);
$bezier: cubic-bezier(0.77, 0, 0.175, 1);

@mixin note-font($weight:400) {
	font-family: 'Open Sans', sans-serif;
	font-weight: $weight;
}

@keyframes fade-out {

    0%, 50% {
      opacity: 1;
    }

    100% {
      opacity: 0;
    }
}

.fade-out {
	-webkit-animation-name: fade-out;
	-o-animation-name: fade-out;
	animation-name: fade-out;

	-webkit-animation-delay: 0s;
	-o-animation-delay: 0s;
	animation-delay: 0s;

	-webkit-animation-duration: 3s;
	-o-animation-duration: 3s;
	animation-duration: 3s;

	-webkit-animation-iteration-count: 1;
	-o-animation-iteration-count: 1;
	animation-iteration-count: 1;
}


.notes-on .note-area {
  text-align: center;
}

.frame-wrapper {
  position: relative;
}

html, body {
  height: auto;
  overflow-x: hidden;
}

.fa, .icon {
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


.note-area {
  background:rgba(250,255,255,0.8);
  background:rgba(20,20,20,0.4);
  position: absolute;
  top:0;
  left:0;
  //bottom:0;
  right:0;
  //height:100%;
  opacity:0;
  pointer-events:none;
  z-index:9999;
	@include note-font();


  .notes-on & {
    pointer-events:all;
    opacity:1;
  }

  &:before {
    content: "Klicka där du vill lägga till en notis.";
    font-size: 3rem;
    position: fixed;
    max-width: 80%;
    left:0;
    right:0;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: auto;
    text-align: center;
    top:20vw;
    top:0;
    bottom: 0;
    color:#fff;
    pointer-events: none;
    opacity: 0;

    .notes-on & {
      @extend .fade-out;

    }
  }

  &:hover {

  }
}

.notes__user-info {
  background: rgba(0,0,0,0.6);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  position: fixed;
  left:0;
  right:0;
  top:0;
  bottom:0;
  z-index:10000;

	input[type="text"] {
		transition: all .6s $bezier .1s;
	}

	input[type="submit"] {
		transition: all .6s $bezier 0s;
	}

	&.user-chosen {
		input[type="text"] {
			pointer-events: none;
			opacity: 0;
			transition: all .6s $bezier;

		}

		input[type="submit"] {
			transform: translateY(-170px);
			transition: all .6s $bezier .1s;

		}
	}



  @media screen and (min-width: $portrait){

  }


}

.notes__user-form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;

  width: 90%;
  max-width: 300px;

  // > * {
  //   $transitionDelay: 0.1s;
  //   $nthDelay: $transitionDelay;
  //   $elements: 5;
  //   transition: all .2s ease;
  //   transition-delay: $nthDelay;
  //
  //
  //   @for $i from 0 to $elements {
  //     $nthDelay: $nthDelay + $transitionDelay;
  //
  //     &:nth-child(#{$i}) {
  //       transition-delay: $nthDelay;
  //
  //     }
  //   }
  // }

  &:before {
    content: "Välj användare i listan eller fyll i ditt namn för att kunna lämna feedback direkt på sidan.";
    font-size: 20px;
    margin-bottom: 20px;
    color:#fff;
    max-width: 100%;
    text-align: center;
    line-height: 1.4;
  }

	select {
		appearance:none;
		height: 47px;

	}

	hr {
		width: 30%;
		height: 2px;
		background: #fff;
		display: block;
		border: 0;
		margin: 10px auto 30px;
	}

  input[type="text"], input[type="submit"], select {
    padding:10px;
    appearance:none;
    border:2px solid #555;
    border:1px solid #c3c3c3;

    border-radius: 7px;
    margin-bottom: 20px;
    display: block;
    width: 100%;
    color:#555;
    font-family: 'Open Sans', sans-serif;

    // background: rgba(#fff,.4);
  }

  input[type="submit"]{
    background: linear-gradient(to bottom, #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%);
    font-weight: 700;
    text-transform: uppercase;
  }

}


.toggle-notes {
  // width:65px;
  height:65px;
  line-height:65px;
  background:#fff;
  border:1px solid #c3c3c3;
  border-right: 0;
  display:flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  position: fixed;
  top:80%;
  right: 0;
  z-index:99999;
  border-radius: 7px 0 0 7px;
  background: linear-gradient(to bottom, #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%);

  transition: all .2s ease;
  padding:0 10px 0 65px;
  transform: translateX(140px);
  transform: translateX(35px);


  @media screen and (min-width: $portrait ){
    top:50%;
    top:90%;
  }

  @media screen and (max-width: $portrait - 1){
    // transform: translateX(-50px) !important;
  }

  &:after {
    content: attr(available-notes);
    padding-right: 3px;
    font-weight: bold;
    font-size: 14px;
    font-size: 18px;
    position: absolute;
    left: 20px;
    width: 33px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    // color:#919191;
    padding: 0px;
    color:#fff;
    color:#555;
    z-index: 1;

    position: relative;
    // color: red;
    padding:5px;
    left:auto;
  }

  &:before {
    @extend .fa;
    // Note
    content:"\f24a";
    // Tag
    content:"\f02b";
    // pen
    content:"\f044";
    // content:"\f249";
    position: absolute;
    left: 0;
    font-size: 35px;
    line-height: 35px;
    padding: 3px 20px;
    padding: 6px 20px 0;
    color:#c3c3c3;
    color: #888;
    color: #333;
    color: #555;
    // color:#41768B;
    // color:#d3d3d3;
    text-shadow:0 0 2px #fff;
    text-shadow:0 0 1px #fff;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;

    // color:#afc8dc;
  }

  .notes-on & {

    &:before {
      // opacity: 0;
      content: "\f00d";
      font-size: 2rem;
      padding: 3px 20px;

    }

    &:after {

    }
  }

  &:hover {
    // padding-right: 20px;
    // width:85px;
    transform: none;
    //
    // .notes-on & {
    //
    //   &:before {
    //     opacity: 0;
    //   }
    //
    //   &:after {
    //     font-size: 1rem;
    //
    //     // font-family: sans-serif;
    //     // content: "Stäng";
    //     @extend .fa;
    //     color:#333;
    //     content: "\f00d";
    //   }
    // }

  }
}

.notes-device {
  width:35px;
  height:35px;
  line-height:35px;
  background: linear-gradient(to top, #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%);

  border:1px solid #c3c3c3;
  border-radius: 7px;
  display:flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: auto 5px;
  font-size:20px;

  position: absolute;
  left: 10px;
  font-size: 30px;
  width:45px;
  height:45px;
  line-height:45px;
  opacity: 0;

  &:before {
    @extend .fa;
    content:"\f24a";

  }

  .notes-on & {
    display: none;
  }

  // &#notes-mobile {
  //   &:before {
  //     content:"\f10b";
  //     font-size:18px;
  //   }
  // }
  // &#notes-portrait {
  //   &:before {
  //     content:"\f10b";
  //     font-size:26px;
  //   }
  // }
  // &#notes-desktop {
  //   &:before {
  //     content:"\f108";
  //     font-size:18px;
  //
  //   }
  // }
}

#notes-mobile {
  @media screen and (min-width: $portrait){
    display: none;
  }
}

#notes-portrait {
  @media screen and (max-width: $portrait - 1){
    display: none;
  }
  @media screen and (min-width: $landscape){
    display: none;
  }
}
#notes-desktop {
  @media screen and (max-width: $landscape - 1){
    display: none;
  }
}




$noteSize: 200px;

.note {
  width:$noteSize;
  height:auto;
  border-radius:5px;
  border-radius:0px;
  border-radius: 0 0 3px 3px;
  border-radius: 7px;
  border-radius: 0px;
  display:flex;
  flex-wrap:wrap;
  justify-content:flex-start;
  align-items:flex-start;
  align-content:flex-start;
  background:#fff;
  border:1px solid #c3c3c3;
	border: 0;
  position: absolute;
  transform:scale(.6);
  font-size: 14px;
  opacity:0;
  transition:all .4s $bezier .2s;
  box-shadow: 0 10px 20px 0 rgba(50,50,50,0.2);
  line-height: 1.2;

  background: red;
  border-top:7px solid;
	z-index: 1;

	.blur & {
		&:not(.do-not-blur){
			filter: opacity(10%);

		}

		&.do-not-blur * {
			filter: blur(3px);


		}


	}

	&.inhouse {
		display: none;

		.read-all & {
			display: flex;
		}
	}

	&:hover {
		z-index: 2;
	}


	&[connected-to]{
		z-index: 11 !important;
		border-bottom: 4px solid red;
	}

  &:before {
    content: "";
    width:100%;
    height:5px;

    display: flex;
    flex-wrap:wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    background: rgba(120,75,132,1);
    background: #abb5a3;
    // background: #fff;
    position: absolute;
    display: none;

    left:0;
    right:0;
    margin:0 auto;
    top:-5px;
    color:#fff;
    cursor: move;
    font-size: 14px;
    font-weight: 700;
    // box-shadow: 0 2px 10px -2px rgba(0,0,0,0.4), inset 0 0 2px 0px #fff;

  }

  // &:after {
  //   content: "DM";
  //   width:50px;
  //   height:50px;
  //   border-radius:50%;
  //   display: flex;
  //   flex-wrap:wrap;
  //   flex-direction: row;
  //   justify-content: center;
  //   align-items: center;
  //   align-content: center;
  //   background: rgba(120,75,132,1);
  //   background: #abb5a3;
  //   background: var(--bgcolor);
  //   // background: #fff;
  //   position: absolute;
  //   left:-25px;
  //   left:0;
  //   right:0;
  //   margin:0 auto;
  //   top:-27px;
  //   color:#fff;
  //   cursor: move;
  //   font-size: 14px;
  //   font-weight: 700;
  //   // box-shadow: 0 2px 10px -2px rgba(0,0,0,0.4), inset 0 0 2px 0px #fff;
  // }

  textarea {
    // width:200px !important;
    // height:200px !important;
    width: 100px;
    width: $noteSize;
    height: 100px;
    padding:40px 20px 20px;
    border-radius: 0 0 5px 5px;
		border-radius: 0;
    resize:none;
    border: 0;
		vertical-align: bottom;
		// pointer-events: none;


    &:focus, &:hover {
      width: 200px;
      height: 200px;
    }
    &:focus {
      outline: none;
    }
  }

	> textarea {
		height: $noteSize;
	}

  &.stuck {
    transform:scale(1);
    opacity:1;
  }

	&:after, &:before {
		// @include icon();
		@extend .fa;
		content:"\f00c";

		background: #75b175;
		// background: inherit;
		color:#fff;
		position: absolute;
		width:40px;
		height:40px;
		border-radius: 50%;
		transition:all .6s $bezier;
		display: flex;
		justify-content: center;
		align-items: center;
		align-content: center;
		bottom:-20px;
		right:-20px;
		// right:0;
		// left:0;
		margin-left: auto;
		margin-right: auto;
		transform: scale(0.5);
		opacity: 0;
		pointer-events: none;
		border:3px solid #fff;

	}

	&:before {
		content:"\f040";
		content:"\f27b";
		content:"\f086";

		bottom: auto;
		left: auto;
		top: -25px;
		right: -20px;
		z-index: 10;
		width:40px;
		height:40px;
		// border:;
		background: inherit;
		background: $dark-gray;
		border:2px solid #fff;
		border: 0;
		// border-radius: 50% 50% 50% 5px;
		// box-shadow: 0 0 2px 0;

		// filter: brightness(90%);
		// filter: hue-rotate(180deg);
		// right: 25%;
	}

	// &.edited-by-someone {
	&.has-note-comments {
		&:before {
			opacity: 1;
			transform: scale(1);
		}
	}

  &.done {
    // display: none;
		// transform:scale(.2);
		// transform:scale(.5);

		textarea {
				transition: all .2s ease;
				// color:rgba(#000, 0);
				filter: blur(3px);
				height: $noteSize/2;

		}


		&:after {
			// transform: scale(7.5);
			// transform: scale(5);
			transform: scale(2.5);
			transform: scale(2);
			// transform: scale(1);
			opacity: 1;
			margin-right: 50%;
			margin-bottom: 50%;
			margin-bottom: 25%;
			// margin-bottom: 0%;
			z-index: 10;
			// border-radius: 50% 50% 15% 50%;

			// bottom:0;
			// right:0;
		}

		&:hover {
			transform:none;
			opacity: 1;

			textarea {
				color:inherit;
				filter: none;
				height: $noteSize;

			}

			&:after {
				transform: scale(1);
				margin-right: 0;
				margin-bottom: 0;
				border-color:rgba(#fff,0);

			}
		}




    .show-all-notes & {
      display: flex;
    }
  }

  &:hover {
    .delete-note, .done-note {
      transform:scale(1);
      opacity:1;
      opacity:.4;
    }
  }
}


.editable > , .developer {
	textarea {
		pointer-events: all;
	}
}

.note__date {
  position: absolute;
  top:0;
  right: 0;
  padding: 12px;
  font-size: 10px;
  color:#555;
}

.note__name {
  width:50px;
  height:50px;
  border-radius:50%;
  display: flex;
  flex-wrap:wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  background: rgba(120,75,132,1);
  background: #abb5a3;
  // background: #fff;
  position: absolute;
  left:-25px;
  left:0;
  right:0;
  margin:0 auto;
  top:-27px;
  color:#fff;
  cursor: move;
  font-size: 14px;
  font-weight: 700;
	overflow:hidden;
	z-index:1;
	text-transform: uppercase;
  // box-shadow: 0 2px 10px -2px rgba(0,0,0,0.4), inset 0 0 2px 0px #fff;
  // box-shadow: 0 -2px 0px 3px #fff;
  // border:3px solid;

	// &:after {
	// 	content: "";
	// 	display: block;
	// 	position: absolute;
	// 	top:0;
	// 	left:0;
	// 	right:0;
	// 	bottom:0;
	// 	background: red;
	// 	z-index: 0;
  //   background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,.4) 50%);
	// }

}

.note-on-mobile {
  @media screen and (min-width: $portrait){
    display: none;
  }
}

.note-on-portrait {
  @media screen and (max-width: $portrait - 1){
    display: none;
  }
  @media screen and (min-width: $landscape){
    display: none;
  }
}
.note-on-desktop {
  @media screen and (max-width: $landscape - 1){
    display: none;
  }
}

@mixin note-btn {
	width: 30px;
  height:30px;
  border-radius:3px;
  border-radius:50%;
  // border:1px solid rgba(50,50,50,.2);
  position: absolute;
  right:-15px;
  top:-15px;
  background:#fff;
  background: linear-gradient(to bottom, #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%);

  transform:scale(.6);
  opacity:0;
  transition:all .6s $bezier;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;

  background: inherit;
  color: #fff;
	z-index: 10;
	cursor: pointer;


  left: 0px;
  right: 0;
  top:auto;
  bottom: -15px;
  margin: auto;


  &:before {
    @extend .fa;
    content:"\f014";
  }

  &:hover {
    transform:scale(1.2) !important;
    opacity: 1 !important;
  }


}

.note__comment {
	position: relative;
	width: 90%;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	// margin:20px auto;


	&:before {
		content: "";
		width: 100%;
		height: 3px;
		background: inherit;
		display: block;
	}

	.note__name {
		transform:scale(.6);
		top:-24px;
		// left:-25px;
		// right: auto;
	}

	.delete-note {
		left: auto;
		right: -17px;
		top:0;
		bottom: 0;
		margin: auto;

		right:-10px;
		border-radius:0 30% 30% 0;
		// opacity: 1;
		transform: scale(1) !important;
		z-index: -1;
		box-shadow: inset 3px 0 3px 0px rgba(55,55,55,0.2);

		&:before {
			content: "\f00d";
		}

		.done & {
			display: none;
		}
	}

	.note-commented & {

		textarea {
			height: 75px;
			width: 100% !important;
			padding: 20px;
			transition: all .2s ease;
			// background: rgba(#fff,0.6);

			&:focus {
				height:
				125px ;

			}

			.done & {
				// height: 0 !important;
			}
		}
	}

	&:hover {
		// .delete-note {
		// 	opacity: 1;
		// 	pointer-events: all;
		// 	visibility: visible;
		// }

		.delete-note {
			right:-30px;
			opacity: 1;
		}

	}
}

.note-message {
	width: 300px;
	// height: 200px;
	padding: 40px 20px;
	z-index: 10;
	border:3px solid #e3e3e3;
	border-radius: 10px;

	position: absolute;
	top:0;
	left:50%;
	// right:0;
	// bottom: 0;

	top:50vh;
	margin:auto;
	background: #fff;
	transform: translate(-50%, -50%) scale(.8);
	opacity: 0;
	transition:all .6s $bezier;
	// pointer-events: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: center;
	filter: none !important;

	&.show-message {
		transform: translate(-50%, -50%) scale(1);
		opacity: 1;
	}
}

.note-message__confirm {
	@include note-btn;
	opacity: 1;
	transform: scale(1.6);
	background: $dark-gray;
	border:2px solid;

	&:before {
		@include note-font(700);
		content:"OK";
		font-size: .7rem;
	}
}


.add-comment {
	@include note-btn;
	transform:scale(1) translateY(-20px);
	background: $dark-gray;

	// border:2px solid #fff;

	&:before {
		content: "\f075";
	}
	&:after {
		content: "+";
		font-weight: bold;
		text-shadow: -1px 1px 0px $dark-gray;
		position: absolute;
		top:8%;
		right: 13%;
	}

	.note:hover & {
		opacity: 1;
		transform:scale(1) translateY(0px);

	}

	.done & {
		display: none;
	}
}

.delete-note, .done-note {

	@include note-btn;
}

.delete-note {
  pointer-events: none;
	visibility: hidden;

  left:10px;
  bottom:10px;
  right:auto;
  background: #d85d5e;

	top: 160px;
	bottom: auto;

  // transition-delay: .1s;

	.editable > &, .developer & {
		pointer-events: all;
		visibility: visible;
	}

}

.done-note {
  right:10px;
  bottom:10px;
  left:auto;
  background: #75b175;
	pointer-events: none;
	visibility: hidden;

 	.developer & {
		pointer-events: all;
		visibility: visible;
	}

	.done.note & {
		display: none;
	}

  &:before {
    content:"\f00c";

  }
}

// * {
//   min-width: 0 !important;
// }
//
// img.zoom-in {
//   .notes-on & {
//     max-width: 100% !important;
//   }
// }
