

.product-spec {
  background: $bg;
  // padding:$margin*2 0 0;
  color:#fff;

  .container {
    @include flex-layout();

    @media screen and (min-width: $portrait){
      flex-direction: row-reverse;
    }
  }


}

.product-spec__main {
  padding:$margin*2 0;
  position: relative;

  &:after {
    content:"";
    width:30px;
    height: 30px;
    background: $bg;
    transform: rotate(45deg);
    display: block;
    left:0;
    right:0;
    bottom: 0;
    margin:auto;
    margin-bottom: -15px;
    position: absolute;
  }
}

.product-spec__content {
  align-self: flex-end;
  padding:$padding ;
  position: relative;
  z-index:10;

  @media screen and (min-width: $portrait){
    width:50%;

    padding:$margin 0;

  }
}

.play-movie {
  position: relative;
  display: flex;
  flex-wrap:wrap;
  justify-content: center;

  background: rgba(#fff,0.2);
  border-radius: 25px;
  padding:$padding/2 $padding $padding/2 $padding*3;
  height: 50px;
  box-shadow: 0 0 0 2px rgba(#fff,0.2);
  cursor: pointer;

  $t:0.5s;
  $d:0.2s;
  transition: color .2s linear $t, width $t ease $d, height $t ease $d, border-radius $t ease $d, padding $t ease $d;
  width: 170px;

  .playing & {
    background: none;
    color: rgba(#fff,0);

    width:50px;
    padding:0;

    transition: color .2s linear, width $t ease $d, height $t ease $d, border-radius $t ease $d, padding $t ease $d;


    &:before {
      // opacity: 0;
      width:50px;
      height:50px;
      border-radius: 50%;
      // color: rgba(#fff,0);
      padding: 0;
    }
  }



  &:before {
    transition: all .6s ease;
    z-index:1;
    @include icon();
    width:50px;
    height:50px;
    line-height:50px;
    border-radius:25px;
    background: $gray;
    display: inline-block;
    text-align: center;

    position: absolute;
    left:0px;
    top:0;
    bottom: 0;
    margin: auto;

    transition: color .2s linear, width $t ease $d, height $t ease $d, border-radius $t ease $d, padding $t ease $d;


  }
}
// .play-movie {
//   position: relative;
//   display: flex;
//   flex-wrap:wrap;
//   justify-content: center;
//
//   background: rgba(#fff,0.2);
//   border-radius: 25px;
//   padding:$padding/2 $padding $padding/2 $padding*3;
//   height: 50px;
//   box-shadow: 0 0 0 2px rgba(#fff,0.2);
//
//   &:hover {
//     &:after {
//       // transform: scale(1.2);
//     }
//
//     &:before {
//       width: 100%;
//       // opacity: 1;
//     }
//   }
//
//   &:before {
//     content:"";
//     display: block;
//     position: absolute;
//     left:0px;
//     right: 0px;
//     top:0;
//     bottom: 0;
//     margin:auto;
//     margin-left: 0;
//     background: $gray;
//     width:50px;
//     height:50px;
//     line-height:50px;
//     border-radius:25px;
//     transition: all .4s ease;
//     z-index:0;
//     // opacity: 0;
//
//   }
//
//   &:after {
//     transition: all .4s ease;
//     z-index:1;
//     @include icon();
//     width:50px;
//     height:50px;
//     line-height:50px;
//     border-radius:25px;
//     background: $gray;
//     display: inline-block;
//     text-align: center;
//
//     position: absolute;
//     left:0px;
//     top:0;
//     bottom: 0;
//     margin: auto;
//
//
//   }
// }

.product-spec__video {
  position: absolute;
  top: $margin*2;
  left: 0;
}

// .popup-video {
//   &:before {
//     content: "";
//     position: fixed;
//     top: 0;
//     left: 0;
//     right: 0;
//     bottom: 0;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     z-index: 0;
//     background: rgba(#fff,0.2);
//     opacity: 0;
//     pointer-events: none;
//     transition: all .4s ease;
//
//     width:50px;
//     height:50px;
//     border-radius:50%;
//     background: rgba(#fff,0.4);
//     transition:all .4s ease;
//     @include bezier-transition($time:.8s);
//     position: absolute;
//     position: fixed;
//     overflow: hidden;
//     transform-origin: center;
//
//     .playing & {
//       opacity: 1;
//       transition: all .4s ease .4s;
//       transform: scale(80);
//
//
//     }
//   }
// }

.popup-video {
// .popup-video {
  @include flex-layout();
  //width:50px;
  //height:50px;
  //border-radius:50%;
  //background: rgba(#fff,0.4);
  transition:all .4s ease;
  @include bezier-transition($time:.8s);
  position: absolute;
  position: fixed;
  overflow: hidden;
  transform-origin: center;

  margin:auto;

  top:0;
  left:0;
  right:0;
  pointer-events: none;
  bottom:0;



  .playing & {
    // transform: scale(0.5);
    z-index:100;
    // width: 140vh;
    // height: 140vh;
    transform: scale(1);
    pointer-events: all;



    @include bezier-transition($time:.8s,$delay:.4s);

  }

  .center & {
    transform: scale(1);
    transition:all .4s ease .2s;
    width: 100vw;
    height: 100vh;
    border-radius: 0;

  }



}

.popup-video__overlay {
  width:300px;
  height:300px;
  border-radius:50%;
  background: rgba(#fff,0.4);
  background: rgba($gray,0.4);
  transition:all .4s ease;
  position: absolute;
  position: fixed;
  overflow: hidden;
  transform-origin: center;
  opacity: 0;

  transition: opacity .3s linear .4s, transform 1.2s cubic-bezier(0.770, 0.000, 0.175, 1.000) .8s;

  transform: scale(0.1);


  .playing & {
    opacity: 1;
    // transform: scale(0.5);
    z-index:100;
    // width: 140vh;
    // height: 140vh;
    transform: scale(20);
    // @include bezier-transition($time:.8s);

    transition: opacity .3s linear .6s, transform 1.2s cubic-bezier(0.770, 0.000, 0.175, 1.000) .6s;



  }
}




.popup-video .video-wrapper {
// .popup-video {
  @include flex-layout();
  width:50px;
  height:50px;
  border-radius:50%;
  //background: rgba(#fff,0.4);
  transition:all .4s ease;
  @include bezier-transition($time:.8s, $delay:0s);
  position: absolute;
  position: fixed;
  overflow: hidden;
  transform-origin: center;

  margin:auto;

  // width: 100vw;
  // height: 100vh;
  transform: scale(.5);



  .playing & {
    // transform: scale(0.5);
    z-index:100;
    // width: 100vh;
    // height: 100vh;

    @include bezier-transition($time:1.4s,$delay:0s);
    width: 100vw;
    height: 100vh;

  }

  .center & {
    transform: scale(1);
    // transition:all .4s ease .2s;
  }

  video {
    opacity: 0;
    margin:auto;
    // @include bezier-transition($time:.4s,$delay:0.1s);
    transition: all .4s ease;


    .playing & {
      opacity: 1;
      transition: all .4s ease 1s;

    }
  }

}

.product-spec__image {
  position: relative;
  @include flex-layout($width:auto);
  overflow: visible;
  padding:50px;


  img {
    position: relative;
    z-index:1;
  }

  &:before {
    // content:"";
    // width:600px;
    // height:600px;
    // border-radius:50%;
    // background: rgba(#fff,0);
    // transition: all .4s ease;
    // position: absolute;
    // z-index: 0;
    @include circle-bg($size:50vw, $color:rgba(#fff,0.2));
    transform: scale(0);
  }

  .scroll-point--active & , .scroll-point--passive & {
    &:before {
      // background: rgba(#fff,0.2);
      transform: scale(1);
      transition: all 1s ease .4s;


    }
  }

  @media screen and (min-width: $portrait){
    width:50%;

    // margin-left: -200px;
  }

}
