

.product-spec {
  background: $bg;
  // padding:$margin*2 0 0;
  color:#fff;

  position: relative;
  overflow: hidden;

  .color-bg {
    position: absolute;
    left: 0;
  }

  .container {
    @include flex-layout($wrap:nowrap);

    @media screen and (min-width: $portrait){
      flex-direction: row-reverse;
      padding-left:$margin;
      padding-right:$margin;
    }

    @media screen and (min-width: $desktop){
      padding-left:0;
      padding-right:0;
    }
  }


}

.product-spec__main {
  padding:$margin*6 0 $margin;
  padding:$margin*5.5 0 $margin;
  position: relative;

  .landscape & {
    @media screen and (max-height: $landscape){
      min-height: 100vh;
      min-height: 60vw;
      min-height: 70vw;
    }

    @media screen and (min-height: $landscape){
      min-height: 50vw;
    }
  }

  // &:after {
  //   content:"";
  //   width:30px;
  //   height: 30px;
  //   background: $bg;
  //   transform: rotate(45deg);
  //   display: block;
  //   left:0;
  //   right:0;
  //   bottom: 0;
  //   margin:auto;
  //   margin-bottom: -15px;
  //   position: absolute;
  // }

  @media screen and (min-width: $landscape){
    padding:$margin 0;
    padding:$margin*2 0 $margin*2;

  }
}

.product-spec__content {
  align-self: flex-end;
  align-self: center;
  padding:$padding ;
  position: relative;
  // z-index:10;
  z-index:1;
  width:80%;

  // text-align: center;
  text-align: left;

  .title {
    text-align: inherit;
  }


  .product-spec__video ~ & {

    // align-self: flex-end;


  }


  @media screen and (min-width: $portrait){
    width:50%;

    padding:$margin 0;

  }
}


.product-spec__image {
  position: relative;
  @include flex-layout($width:auto);
  overflow: visible;
  padding:50px;
  max-height: 50vh !important;
  width: 50%;

  img {
    position: relative;
    z-index:1;
  }

  &:before {
    @include circle-bg($size:60vw, $color:rgba(#fff,0.2));
    max-width: 600px;
    max-height: 600px;
    transform: scale(0);
  }

  .scroll-point--active & , .scroll-point--passive & {
    &:before {
      // background: rgba(#fff,0.2);
      transform: scale(1);
      transition: all 1s ease .4s;


    }
  }

  @media screen and (min-width: $portrait){
    width:50%;

    &:before {
      @include circle-bg($size:40vw, $color:rgba(#fff,0.2));

    }

    // margin-left: -200px;
  }

}
