


.product--icon {
  position: relative;
  @include flex-layout();
  color: #fff;
  overflow: hidden;
  height: 100vh;
  height: 90vh;

  @media screen and (min-width: $portrait){
    height: 72vw;
    height: 0.7416666667vw;
    height: $iconHeight;
    max-height: 1100px;
  }

  // @media screen and (min-width: $portrait) and (orientation: landscape) {
  .landscape & {
    @media screen and (min-width: $portrait) and (max-width: $xl - 1) {

      max-height: 105vh;
    }
  }

}

.product--icon__bg {
  width: 100%;
  height: auto;

  position: absolute;

  min-width: 100vw;
  max-width: 120%;
  width: auto;

}

.product--icon__info {
  top:$padding*4;
  top:$padding*4;
  top: 0;
  left:0;
  right:0;
  margin-left: auto;
  margin-right: auto;
  max-width: $text-block-max-width;
  max-width: $text-block-max-width + 100;
  padding: 0 $padding;
  transform: translateY(100px);
  transition: all .4s ease .2s;

  &.stick-to-top {
    top:-10vh;

    ~ .flip-features__content {
      top:20vh;
      margin-bottom: auto !important;
    }

    @media screen and (min-width: $xl){
      top:0;
    }
  }

  h1 {
    font-size: $font-size-medium;
    margin-bottom: $padding;
    padding: 0;
    margin-top: $padding*2;
  }

  p:not(.normal-text) {
    font-size: 1rem;
  }

  .show-me & {
    transform: none;
  }

  // @media screen and (min-width: $portrait){
    position: absolute;
    z-index: 1;

  // }

  @media screen and (min-width: $portrait){
    top:10vh;
    padding: 0;

    h1 {
      font-size: $font-size-large;
    }
  }
}

.product--icon__type {
  position: absolute;
  left:0;
  left:$padding;
  left:-$padding*4;
  top:50%;
  height: 0;
  width: 200px;
  text-align: center;
  white-space:nowrap;

  transform: rotate(-90deg);
  @include font-title();
  letter-spacing: .2rem;

  @media screen and (max-width: $portrait - 1){
    display: none;
  }
}

.product--icon__features {
  position: absolute;
  left:0;
  right:0;
  bottom: 0;
  border-top:1px solid rgba(#fff,0.4);
  @include flex-layout($alignX:space-between);
  @include flex-layout($alignX:center);
  padding:$padding $padding;


  @media screen and (min-width: $portrait){
    justify-content: center;
    // justify-content: space-between;
  }

  .btn--faded {

    @media screen and (min-width: $portrait){
      // position: absolute;
      // left: $padding*2;
    }
  }
}

.product-icon__hotspots {
  position: absolute;
  left: 0;
  top: 0;
  right:0;
  bottom: 0;
}


.switches {
  position: absolute;
  z-index: 1;
  @include flex-layout($dir:column, $alignY:flex-end);
  width: auto;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  // max-width: 200px;
  align-content: flex-end;

  @media screen and (max-width: $portrait - 1){
    bottom:0%;
    // display: none;
  }

}
