
// ScrollPoint

.scroll-point {

  transform: none;
  transition:all 1s ease;
  opacity: 1;
  position: relative;
//  -webkit-transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  transform: translateZ(0);
  transform: none;

  &.passive {
    //opacity: 0;
    transition:all 1s ease;
    //filter:blur(10px);
    // transform:translateY(-10vw);
    background: #f3f3f3;

  }

  &.freeze {
    transform:none !important;
  }

  &.lighten {
    transition: transform .6s ease-out, filter .8s linear .4s;
    filter: brightness(40%);

    &.scroll-point--active {
      filter: brightness(100%);

    }
  }
}

.scroll-point--active {

}

$transitionDelay: 0.10s;
$nthDelay: $transitionDelay;

.scroll-point__show {
  transform: translateY(64px) scale(1);
  opacity:0;
  text-shadow: 0px 0px transparent;
  @include showOnScrollTransition($time:0.4s,$easing:cubic-bezier(0.770, 0.000, 0.175, 1.000));
  @include showOnScrollTransition($time:0.4s,$easing:ease);
  @include showOnScrollTransition($time:0.3s,$easing:cubic-bezier(0.770, 0.000, 0.175, 1.000));
  transition: transform 0.6s 0s cubic-bezier(0.77, 0, 0.175, 1), opacity 1.2s 0s ease-in-out, text-shadow 0s 1.2s linear;

  .grid & {
    &:nth-child(3n + 1){
      transition-delay: $nthDelay;
    }
    &:nth-child(3n + 2){
      transition-delay: $nthDelay*2;
    }
    &:nth-child(3n + 3){
      transition-delay: $nthDelay*3;
    }
  }

  .scroll-point--active & {
    opacity: 1;
    transform:none;
  }

}

.scroll-point__scroll[horizontal]{
  transition: all .2s linear;

  .grid & {
    transition: all 0.8s ease-out;
    transition: none;

  }

  // @include flex-layout($dir:column);
}

.scroll-point__scroll {
  // transition:all .2s linear;
  //transition:all 0.01s linear 0;
  // flex:0;
  -webkit-transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  //-webkit-perspective:50vw;
  transform: translateZ(0);
  transform: none;
  will-change: transform, opacity, scroll-position;

  .css-animate & {
    transition: all .6s linear;

    transform: translate(0,100px);
    opacity: 0.4;

    $transitionDelay: 0.1s;
    $nthDelay: $transitionDelay;
    $elements: 5;

    transition-delay: $nthDelay;


    @for $i from 0 to $elements {
      $nthDelay: $nthDelay + $transitionDelay;

      &:nth-child(#{$i}) {
        transition-delay: $nthDelay;

      }
    }

  }

  .scroll-point--active & {

    .css-animate & {
      // transform: none !important;
      transform: translate(0,0);
      opacity: 1;
    }
  }

  &.text-block {
    padding: $padding;
  }
}

.scroll-point__section {
  min-height: 100vh;
  @include flex-layout();

  img {
    max-width: 35%;
    position: absolute;
    top:0;
    bottom:0;
    margin: auto;

    &.scroll-point__scroll {
      max-width: 300px;

    }

    &:nth-child(2n){
      left:3vw;
    }
    &:nth-child(2n + 1){
      right: 3vw;
    }
  }
}

.scroll-point__fullsize {
  min-height: 100vh;
  @include flex-layout();
  position: relative;


}

.scroll-point__fullsize__content {
  position: relative;
  z-index:1;
}

.scroll-point__fullsize__bg {

    background: #fff;
    width:100px;
    height:100px;
    border-radius:50%;
    display: block;
    position: absolute;
    z-index:999;
    top:50%;
    z-index:0;

}

.scroll-point__content {
  max-width: 500px;
  margin: auto;
  top:0;
  bottom:0;
  right:0;
  left:0;
  height: 100vh;
  @include flex-layout();
  opacity: 0;
  z-index:100;




  > div {
    align-self: center;
  }



  .scroll-point--ready & {
    position: fixed;
    opacity: 1;
    transform: translate3d(0,0px,0);
    // transition: all .5s ease 0.2s;

  }
  .scroll-point--passive & {
    position: absolute;
    opacity: 0;

    // position: fixed;
    // opacity: 1;
    transform: translate3d(0,-100px,0);
    // transition: all .5s ease 0s;

  }
}

.scroll-point-sections .scroll-point {
  &:first-of-type {
    padding-top:50vh;

    &.scroll-point--ready:not(.scroll-point--active) {
      // background: red;

      .scroll-point__content {
        position: absolute;
        opacity: 1;
      }
    }
  }
  &:last-of-type {
    min-height: 120vh;

    &.scroll-point--active {
      // background: red;

      .scroll-point__content {
        position: absolute;
        opacity: 1;
        bottom:auto;
      }
    }
  }
}

.scroll-point__stick {



  @include flex-layout();
  pointer-events: none;
  // width:auto;

  img {
    transition: all .4s ease;

  }

  @media screen and (min-width: $portrait){
    opacity: 0;
    position: absolute;
    top:0;
    // bottom: 0;
    margin:auto;
    opacity: 0;
    height:$pageHeight;


    .scroll-point--ready & {
      opacity: 1;
    }

    .scroll-point--active & {
      position: fixed;
      opacity: 1;
      pointer-events: all;

      // transform: translate3d(0,0px,0);
      // transition: all .5s ease 0.2s;

    }
    .scroll-point--passive & {
      position: absolute;
      // opacity: 0;
      bottom:0;
      top:auto;
      // transform: translate3d(0,-100px,0);
      // transition: all .5s ease 0s;

    }

  }

}

.scroll-point__stick-to-the-right {

  position: fixed;
  top:$padding;
  bottom:$padding;
  right:$padding;
  // bottom: 0;
  margin:$padding;
  margin-left: auto;
  opacity: 1;
  height:auto;
  max-height: 500px;
  @include flex-layout();
  pointer-events: none;
  // width:auto;
  right: -500px;
  // bottom: 0;
  transform: scale(1.2);


  img {
    transition: all .4s ease;

  }

  .scroll-point--active .scroll-point--ready & {
    // opacity: 0;
    position: fixed;
    transform: scale(1);
    right: $padding*2;


  }

  .scroll-point--active .scroll-point--active & {
    position: fixed;
    opacity: 1;
    pointer-events: all;
    right: $padding*2;
    transform: scale(1);


    // transform: translate3d(0,0px,0);
    // transition: all .5s ease 0.2s;

  }
  .scroll-point--active .scroll-point--passive & {
    position: fixed;
    // opacity: 0;
    // bottom:0;
    // top:auto;
    right: -500px;
    transform: scale(.8);

    // transform: translate3d(0,-100px,0);
    // transition: all .5s ease 0s;

  }

}

.scroll-point__scroll.zoom-in {
  // min-width: 100vw;
  width: 100vw;
  max-width: none;
  transition: all .2s ease-out;

  .grid & {
    width: 100%;
  }

}

.scroll-point__freeze {

  position: absolute;
  top:0;
  // bottom: 0;
  margin:auto;
  opacity: 0;
  height:$pageHeight;
  @include flex-layout();
  pointer-events: none;
  // width:auto;

  img {
    transition: all .4s ease;

  }

  .scroll-point--ready & {
    opacity: 1;
    position: fixed;

  }

  .scroll-point--active & {
    position: fixed;
    opacity: 1;
    pointer-events: all;

    // transform: translate3d(0,0px,0);
    // transition: all .5s ease 0.2s;

  }
  .scroll-point--passive & {
    // position: absolute;
    opacity: 0;
    bottom:0;
    top:auto;
    // transform: translate3d(0,-100px,0);
    // transition: all .5s ease 0s;

  }

}


.one-col-scroll {
  position: relative;
  padding: $margin $padding;

  .scroll-point__stick {
    margin:$margin auto;
  }


  @media screen and (min-width: $portrait){
    padding: $portraitMargin 0;

    .scroll-point__stick {
      margin: auto;
    }
  }
}

@media screen and (min-width:$landscape ){

  .one-col-scroll [class*="col-"]:first-of-type {
    padding:10vh 12vh;
    padding-right: 0;
  }

  .one-col-scroll [class*="col-"]:last-of-type {
    padding:10vh 12vh;
    padding-left: 0;
  }
}

@media screen and (min-width:$desktop ){

  .one-col-scroll [class*="col-"]:first-of-type {
    padding:0;
  }

  .one-col-scroll [class*="col-"]:last-of-type {
    padding:0;
  }
}

@media screen and (min-width:$desktop ) and (max-width:$xl - 1) and (orientation: landscape){

  .one-col-scroll [class*="col-"]:first-of-type {
    padding:10vh 25vh;
    padding-right: 0;
  }

  .one-col-scroll [class*="col-"]:last-of-type {
    padding:10vh 25vh;
    padding-left: 0;
  }
}
