

[show-n-hide]{
  position: relative;

  // .switches {
  //   left: $padding;
  //   top:10vw;
  // }

  .product--icon[show-n-hide-id]:first-of-type figure.product__color-picker {
    // background: red;

    &:after {
      // @include icon("\f0e2");
      @include icon("\f25a");
      font-size: 1.2rem;
      // content: "Change color";
      color:rgba(#fff,0.6);
      transition: all .4s ease-out 0s;
      display: block;
      transform-origin: center;
      position: absolute;
      top:0;
      left:0;
      right:0;
      bottom:0;
      margin:auto;
      text-align:center;
      opacity: 0;
      pointer-events: none;
      @include flex-layout();
      z-index: 10;

      .scroll-point--active & {
      // &:hover {
        @include animate($name:pulseHide, $iteration:2, $duration:2s);
      }

      @media screen and (min-width: $portrait){
        font-size: 2.2rem;

      }
    }

    // &:hover {
    //
    //   &:after {
    //     // transform: rotate(-180deg)
    //     opacity: 1;
    //     transition: all .4s ease-out 0.2s;
    //
    //     // @include animate($name:pulse, $iteration:2);
    //
    //   }
    // }
  }
}

[show-n-hide-id]{
  display: none;
  // visibility: hidden;
  // height: 0;
// overflow: hidden;
// visibility: hidden;

  &.show-me {
    display: flex;
    // visibility: visible;
    // height: auto;
    // overflow: hidden;

  }
}

img[show-n-hide-id]{
  cursor: pointer;
}




img[show-n-hide-id]{
  transform: scale(.99) translateY(0px);
  transition:all .6s ease-out;

  &.show-me {
    transform: scale(1) translateY(0px);
  }
}



[show-n-hide-trigger]{
  cursor: pointer;
  // color: rgba(#fff,0.8);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  position: relative;
  transition:all .4s linear;


  + [show-n-hide-trigger]{
    margin-left: $padding/4;
  }

  .switches > & {
    + [show-n-hide-trigger]{
      margin-left: $padding;

      &:before {
        height: 60%;
        width: 1px;
        margin:auto;
        margin-left: -$padding/2;
        background: #fff;
        content:"";
        display: block;
        position: absolute;
        left: 0;
        top:0;
        bottom:0;


      }
    }
  }

  &:hover {
    color:#fff;

  }

  &:not(.title).active {

    color:#fff;
    font-weight: bold;

  }
}

[show-n-hide-arrow]{
  &:after {
    content: "";
    width: 50px;
    height: 50px;
    position: absolute;
    top:0;
    right: 0;
    @include icon();
    font-size: 2rem;
  }

  &.active:after {
    content: "\f106";
  }

  &:hover:after {

  }
}

.hide {
  display: none !important;
}
