

.twisted-columns {
  padding-left:$padding;
  padding-right:$padding;
  padding-bottom:$margin;

  @media screen and (min-width: $portrait){
    padding-bottom:$portraitMargin;
    padding-left:$margin;
    padding-right:$margin;
  }

  @media screen and (min-width: $desktop){
    padding-left:0;
    padding-right:0;
  }
}

.twisted-column {
  @include flex-layout($dir:column,$alignX:space-between, $alignY:space-between);
  max-width: $content-max-width;
  margin-left: auto;
  margin-right: auto;
  flex-wrap:nowrap;

  @media screen and (min-width: $portrait){
    @include flex-layout($alignX:space-between, $alignY:space-between);

  }

  video,canvas {
    width: 100%;

  }

  .video-wrapper {
    margin-top:-50%;
    overflow: hidden;

    video {
      min-height: 100%;
      width: auto;
    }
  }

  // .col-2 {
  //   @media screen and (max-width: $portrait - 1){
  //     width: 100%;
  //   }
  // }

  [class*="col-"]{
    overflow: visible;
    justify-content: flex-start;
    align-items: flex-end;
    align-content: flex-end;

    p:last-child {
      margin-bottom: 0;
    }

    &:first-child {
      align-items: flex-start;
      margin-bottom: $padding;

      > img {
        position: relative;

        @media screen and (min-width: $portrait){
          margin-top:-50%;

        }
      }
    }

    >img {
      width: 100%;

      @media screen and (min-width: $portrait){

        margin-right: $margin;

      }

    }
  }



  &:nth-of-type(even) {

    @media screen and (min-width: $portrait){

      flex-direction:row-reverse;
    }

    [class*="col-"] > img {
      width: 100%;
      margin-left: $margin;
      padding-right: $margin;
      margin-right: auto;

    }

  }

}
