


video {

  .video-format + & {
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom:0;
    min-height: 100%;
    min-width: 100%;

    .grid & {
      max-width: 100%;
    }
  }
}


.movie-wrapper {
  width:100%;
  flex-direction: column;
  position: relative;
  overflow: hidden;

  .banner & {
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
  }

  > .play-movie {
    position: absolute;
    left: 0;
    right:0;
    top:0;
    bottom:0;
    margin: auto;
  }



  img, video {
    width:auto;
    //min-height:100vh;

    @media screen and (min-width:$portrait){

      min-width:100vw;
    }

    @media screen and (min-width:$desktop) and (orientation:landscape){

      //min-width:100vw;
    }
  }

  > * {
    transition:all .4s ease-in-out .4s;
    opacity:1;
    transform: matrix(1, 0, 0, 1, 0, 0);
  }

  video {
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    // width:100% !important;
    min-width:100% !important;
    width:auto !important;
    // height:100% !important;
    min-height:100% !important;
    min-width:100px;
  }

  &:not(.item) {
    // img, video {
    video {
      position: absolute;
      min-width: 100%;
      left: 0;
    }
  }

  iframe {
    transition:opacity .4s ease-in-out .4s;
    opacity:0;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    width:100% !important;
    height:100% !important;
    transform: matrix(1, 0, 0, 1, 0, 0);
  }

  &.playing {

    > *:not(video) {
      transition:all .4s ease-in-out .4s;
      opacity:0;
      pointer-events:none;
      transform: matrix(1, 0, 0, 1, 0, 20);
    }

    iframe {
      transition:opacity .4s ease-in-out 1s;
      opacity:1;
      pointer-events:all;
      transform: matrix(1, 0, 0, 1, 0, 0);
    }
  }

}

.movie-wrapper__content {
  position: absolute;
  left: 0;
  right:0;
  top:0;
  bottom:0;
  margin: auto;
  @include flex-layout();
  max-width: 600px;
  text-align: center;
  color:#fff;

  .playing & {
    opacity: 0;
    transform: translateY(40px);
  }

  .play-movie {
    &:before {
      background: $primary-color;
    }
  }
}

.play-movie {
  position: relative;
  display: flex;
  flex-wrap:wrap;
  justify-content: center;

  background: rgba(#fff,0.2);
  border-radius: 25px;
  padding:$padding/2 $padding $padding/2 $padding*3;
  height: 50px;
  box-shadow: 0 0 0 2px rgba(#fff,0.2);
  cursor: pointer;
  font-size:1rem;
  line-height: 2.2;

  $t:0.5s;
  $d:0.2s;
  transition: color .2s linear $t, background $t ease $d, width $t ease $d, height $t ease $d, border-radius $t ease $d, padding $t ease $d;
  width: 170px;
  width: 185px;

  &:hover {
    background: rgba(#fff,.4);

    &:before {
      background: rgba($primary-color,1);
    }

  }

  .banner & {
    margin-top:$padding/1.5;
  }

  .playing & {
    background: none;
    color: rgba(#fff,0);

    width:50px;
    padding:0;

    box-shadow: 0 0 0 2px rgba(#fff,0);


    transition: color .2s linear, width $t ease $d, height $t ease $d, border-radius $t ease $d, padding $t ease $d, box-shadow $t ease $d*4;


    &:before {
      // opacity: 0;
      width:50px;
      height:50px;
      border-radius: 50%;
      // color: rgba(#fff,0);
      padding: 0;

      // opacity: 0;
      background: none;

      transition: transform 1s ease 0.4s, opacity .6s ease 0.2s;
      transform: scale(0.90);

    }
  }

  &:before {
    transition: all .6s ease;
    z-index:1;
    @include icon("\f04b");
    width:50px;
    height:50px;
    line-height:50px;
    border-radius:25px;
    background: $gray;
    background: $primary-color;
    display: inline-block;
    text-align: center;
    color: #fff;


    // background: rgba($primary-color,0);


    position: absolute;
    left:0px;
    top:0;
    bottom: 0;
    margin: auto;
    padding-left: 4px;

    transition: color .2s linear, background $t ease $d, width $t ease $d, height $t ease $d, border-radius $t ease $d, padding $t ease $d;


  }
}


.product-spec__video {
  position: absolute;
  top: $padding*2;
  left: $margin;

  @media screen and (min-width: $portrait){
    top: $margin*2;
    left: $margin;
  }
  @media screen and (min-width: $desktop){
    left: 0;
  }
}


.popup-video {
  @include flex-layout();
  transition:all .4s ease;
  @include bezier-transition($time:.8s);
  position: absolute;
  position: fixed;
  overflow: hidden;
  transform-origin: center;
  margin:auto;
  top:0;
  left:0;
  right:0;
  pointer-events: none;
  bottom:0;

  .playing & {
    z-index:100;
    transform: scale(1);
    pointer-events: all;
    @include bezier-transition($time:.8s,$delay:.4s);

  }

  .center & {
    transform: scale(1);
    transition:all .4s ease .2s;
    width: 100vw;
    height: 100vh;
    border-radius: 0;

  }

}

.popup-video__overlay {
  width:300px;
  height:300px;
  border-radius:50%;
  background: rgba(#fff,0.4);
  background: rgba($gray,0.4);
  transition:all .4s ease;
  position: absolute;
  position: fixed;
  overflow: hidden;
  transform-origin: center;
  opacity: 0;

  transition: opacity .3s linear .4s, transform 1.2s cubic-bezier(0.770, 0.000, 0.175, 1.000) .8s;

  transform: scale(0.1);


  .playing & {
    opacity: 1;
    z-index:100;
    transform: scale(20);
    transition: opacity .3s linear .6s, transform 1.2s cubic-bezier(0.770, 0.000, 0.175, 1.000) .6s;



  }
}



[id*="teaser_"]{

  + video {
    opacity: 0;
    pointer-events: none;
    top: auto;
  }

  &.paused {
    opacity: 0;
    pointer-events: none;

    + video {
      opacity: 1;
      pointer-events: all;

    }
  }
}



.popup-video .video-wrapper {
  @include flex-layout();
  width:50px;
  height:50px;
  border-radius:50%;
  transition:all .4s ease;
  @include bezier-transition($time:.8s, $delay:0s);
  position: absolute;
  position: fixed;
  overflow: hidden;
  transform-origin: center;

  margin:auto;
  transform: scale(.5);



  .playing & {
    z-index:100;

    @include bezier-transition($time:1.4s,$delay:0s);
    width: 100vw;
    height: 100vh;
    border-radius: 0;

  }

  .center & {
    transform: scale(1);
    border-radius: 0;

  }

  iframe {
    width: 90%;
    height: 40%;

    @media screen and (min-width: $portrait){
      width: 90%;
      height: 80%;
    }
  }

  video, iframe {
    opacity: 0;
    margin:auto;
    transition: all .4s ease;

    .playing & {
      opacity: 1;
      transition: all .4s ease 1s;

    }
  }

}
