



	 <link rel="stylesheet" href="/ikon-sidor/css/main.css">



<!-- header stop -->

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css"/>

    

<nav class="fixed-top hide">
	<div class="content-wrapper">
		<ul class="theme-page-menu">

      

			<li><a go-to-id="filosofi" href="">Philosophy</a></li>

      

			<li><a go-to-id="material" href="">Material</a></li>

      

			<li><a go-to-id="lagerprincipen" href="">Layering principle</a></li>

      

			<li><a go-to-id="kangvard" href="">Footwear care</a></li>

      

		</ul>
	</div>
</nav>

<section class="theme-page">

	<article scroll-point style="background:url(/ikon-sidor/img/boots/kangorbigbanner.jpg)" class="light-color banner">

		<div class="overlay-logo">
			
<svg width="169px" height="181px" viewBox="0 0 169 181" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 48.1 (47250) - http://www.bohemiancoding.com/sketch -->
    <desc>Lundhags</desc>
    <defs></defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Backpacks" transform="translate(-391.000000, -4189.000000)" fill=#ffffff>
            <g id="Page-1" transform="translate(391.000000, 4189.000000)">
                <polygon id="Fill-1" points="21 57.3752683 17.4753443 65 0 57.7606543 1.27660786 55 15.8351538 61.0314222 18.0838143 56.1673448"></polygon>
                <path d="M19.177638,27 L28.4420158,34.5821676 C31.4595134,37.0515978 31.8702297,41.507138 29.3383945,44.4872484 C26.822066,47.4478748 22.2818754,47.8515487 19.264361,45.3821185 L10,37.7999673 L12.0325226,35.4089502 L21.2962704,42.9905095 C22.9794061,44.367483 25.4975994,44.1437532 26.9007417,42.4926049 C28.3205834,40.8220055 28.0926205,38.3507502 26.4094848,36.9737766 L17.1451238,29.3922174 L19.177638,27 Z" id="Fill-3"></path>
                <polygon id="Fill-4" points="52.8880368 26.2539797 36.7684392 21.3276047 43.0074308 32.3647713 40.3638845 34 31 17.4326509 32.2372542 16.6670807 48.1566333 21.5401566 41.9925692 10.6340756 44.635514 9 54 25.5667895"></polygon>
                <path d="M67.1189981,18.2773842 L69.5551705,17.8220227 C73.0475148,17.1698118 75.3252597,13.8314937 74.6670149,10.3718041 C74.0131861,6.93755478 70.6647938,4.650807 67.1730632,5.30298416 L64.736277,5.75837938 L67.1189981,18.2773842 Z M64.575957,22 L61,3.20880639 L66.5764538,2.16660336 C71.8014583,1.19044358 76.846041,4.60413868 77.8318311,9.78061591 C78.8163424,14.9577671 75.3774324,19.982328 70.1524108,20.958454 L64.575957,22 Z" id="Fill-5"></path>
                <polygon id="Fill-6" points="102.166416 21 99.0237809 20.5296999 100.205995 12.7148291 91.325455 11.3859233 90.143241 19.2008776 87 18.7305774 89.8341898 0 92.9768249 0.469732559 91.7952337 8.28458668 100.675151 9.61332554 101.856742 1.79913913 105 2.26937247"></polygon>
                <path d="M119.166639,20.1248221 L123.176592,22.3292767 L123.620027,16.593219 L119.166639,20.1248221 Z M127,11.6565614 L125.441432,32 L122.498929,30.3816329 L122.921497,25.7277423 L116.522744,22.2088988 L112.943699,25.1264616 L110,23.5080946 L125.8056,11 L127,11.6565614 Z" id="Fill-7"></path>
                <path d="M138.170891,29.505075 C142.029421,25.9157197 148.031101,26.2238197 151.540179,30.1705722 C153.666466,32.5608092 154.467823,35.8439145 153.733951,38.9643452 L150.751486,38.2168857 C151.246758,36.1310655 150.709311,33.8887205 149.275915,32.2773579 C146.903789,29.6086027 142.837396,29.4298957 140.246556,31.8398483 C137.583427,34.316964 137.364109,38.3130138 139.71996,40.9626701 C141.450389,42.9080146 143.994234,43.3855553 146.125946,42.2837984 L142.203542,37.873671 L144.486483,35.7502529 L150.615911,42.6430456 L149.474743,43.7047547 C145.942167,46.9903265 140.667725,46.7173413 137.437019,43.0860883 C133.927941,39.1393357 134.239451,33.1622099 138.170891,29.505075" id="Fill-8"></path>
                <path d="M151.140681,54.6160944 L153.051351,57.2145721 C152.78499,57.4215279 151.522071,58.6214184 152.516177,60.9335783 C153.125173,62.3486835 154.770717,63.1206684 155.982587,62.565169 C156.920088,62.1359928 157.941254,61.3291003 157.563551,58.7344173 C156.8475,53.9507554 158.834462,52.0804607 160.625799,51.344654 C162.893285,50.4469641 166.049658,51.2322904 167.470666,54.5360971 C168.597102,57.1548875 167.681706,59.6067121 166.975515,60.6364603 L164.393037,58.7693421 C164.441017,58.6906154 165.282557,57.4018505 164.612652,55.8445394 C163.953807,54.3113527 162.679209,54.0193171 161.766916,54.3805497 C161.299408,54.5665747 160.181047,55.0217642 160.665171,58.246209 C161.17145,61.7138221 159.958979,64.3027702 157.260888,65.5382207 C154.449002,66.8263503 150.954899,65.3204647 149.635991,62.2528207 C147.992916,58.4309634 149.910977,55.5747224 151.140681,54.6160944" id="Fill-9"></path>
                <polygon id="Fill-10" points="148 123.624884 151.524747 116 169 123.23952 167.72383 126 153.164991 119.968939 150.915638 124.832738"></polygon>
                <path d="M148.822577,154 L139.557789,146.418304 C136.54078,143.949438 136.129423,139.493209 138.661975,136.512454 C141.177811,133.551758 145.718202,133.148685 148.735212,135.618159 L158,143.199855 L155.968001,145.592115 L146.703229,138.009203 C145.020641,136.632813 142.502941,136.856547 141.09851,138.508333 C139.67921,140.177746 139.9072,142.649654 141.59041,144.027261 L150.85456,151.60774 L148.822577,154 Z" id="Fill-11"></path>
                <polygon id="Fill-12" points="115.111934 155.74522 131.23111 160.671485 124.99168 149.635192 127.635157 148 137 164.566352 135.761575 165.332533 119.843214 160.459565 126.006515 171.364808 123.364241 173 114 156.432395"></polygon>
                <path d="M101.880838,163.722582 L99.4446003,164.177939 C95.9527762,164.830127 93.6749873,168.168376 94.3332498,171.628084 C94.9870962,175.062878 98.3349472,177.349625 101.826754,176.697425 L104.263623,176.242691 L101.880838,163.722582 Z M104.42393,160 L108,178.791067 L102.423397,179.833215 C97.199497,180.809957 92.1535344,177.396344 91.1683488,172.21986 C90.1831632,167.042755 93.6228133,162.01826 98.8479578,161.042143 L104.42393,160 Z" id="Fill-13"></path>
                <polygon id="Fill-14" points="65.8398634 160 68.9818198 160.471396 67.7969831 168.284002 76.6732405 169.616131 77.8586828 161.80353 81 162.275544 78.1601535 181 75.018197 180.528603 76.2030338 172.715999 67.3267764 171.384487 66.1419564 179.196474 63 178.725078"></polygon>
                <path d="M48.834557,160.874585 L44.824604,158.669536 L44.3799732,164.406808 L48.834557,160.874585 Z M41,169.343408 L42.5585677,149 L45.5016687,150.617761 L45.0790851,155.271049 L51.4772558,158.789897 L55.056301,155.872331 L58,157.491917 L42.1949978,170 L41,169.343408 Z" id="Fill-15"></path>
                <path d="M30.827925,151.496812 C26.967975,155.08524 20.9659916,154.774753 17.4578224,150.827788 C15.3326706,148.437568 14.531524,145.154079 15.2670127,142.033221 L18.2487164,142.78232 C17.7523779,144.867002 18.2896873,147.109384 19.7221149,148.722179 C22.0948298,151.390245 26.1601895,151.570739 28.7521834,149.162025 C31.4158436,146.684933 31.6362987,142.689299 29.281047,140.038478 C27.5510581,138.093037 25.0072719,137.61437 22.8754975,138.715842 L26.7969038,143.126696 L24.5133347,145.249565 L18.3848612,138.355471 L19.5263435,137.29342 C23.0604217,134.008697 28.3353361,134.284061 31.564028,137.915609 C35.0728017,141.863191 34.759574,147.841238 30.827925,151.496812" id="Fill-16"></path>
                <path d="M17.859081,127.383741 L15.948418,124.785123 C16.2147775,124.578158 17.4776784,123.378846 16.4829821,121.066576 C15.8739842,119.650769 14.2290685,118.878747 13.0172187,119.434273 C12.0797278,119.863469 11.0585743,120.6704 11.4356626,123.265841 C12.1523147,128.049095 10.1653746,129.920113 8.37466771,130.65532 C6.10660207,131.553052 2.94964257,130.767689 1.52925754,127.464361 C0.402913824,124.845446 1.31825994,122.39287 2.02506919,121.363073 L4.60686188,123.23028 C4.55826483,123.30901 3.71735244,124.597836 4.38725261,126.155221 C5.0460804,127.689116 6.3212899,127.98053 7.23294578,127.61928 C7.70046003,127.433899 8.81819208,126.978035 8.33468234,123.754073 C7.82841223,120.28566 9.04087598,117.697225 11.7383173,116.461716 C14.5507916,115.173525 18.0448608,116.680117 19.3637376,119.747271 C21.0074288,123.56931 19.0887714,126.425051 17.859081,127.383741" id="Fill-17"></path>
                <path d="M2.50000016,93 C3.88047259,93 5,91.8804674 5,90.5 C5,89.1188847 3.88047259,88 2.50000016,88 C1.11952878,88 0,89.1188847 0,90.5 C0,91.8804674 1.11952878,93 2.50000016,93" id="Fill-18"></path>
                <path d="M164,90.5 C164,91.8811153 165.119544,93 166.499403,93 C167.880526,93 169,91.8811153 169,90.5 C169,89.1195151 167.880526,88 166.499403,88 C165.119544,88 164,89.1195151 164,90.5" id="Fill-19"></path>
                <path d="M130,90 C130,76.2145243 118.75178,65 104.925648,65 C99.8501832,65 94.9593221,66.505614 90.7836373,69.3542047 C88.8926908,70.643344 88.4081441,73.2173388 89.7016992,75.1021143 C90.9952543,76.9875183 93.5762265,77.4700214 95.4671729,76.1802701 C98.2579158,74.2771518 101.528298,73.2711597 104.925648,73.2711597 C114.177413,73.2711597 121.704437,80.7754287 121.704437,90 C121.704437,94.5541726 120.064347,98.7811852 117.085308,101.90252 C114.116083,105.015286 110.05815,106.72884 105.660435,106.72884 C101.919612,106.72884 92.7071031,104.985928 87.9812507,88.8411127 C86.0111599,82.1104332 82.8947411,76.4010452 78.9686819,72.3305996 C74.3434149,67.5348447 68.5926456,65 62.3389325,65 C48.6912994,65 38,75.9815262 38,90 C38,103.784864 49.2482203,115 63.0737368,115 C68.1504323,115 73.0406613,113.494369 77.2163461,110.646407 C79.1073092,109.356656 79.5912404,106.782661 78.2983008,104.897869 C77.0047457,103.012482 74.4231581,102.529962 72.5328104,103.819713 C69.7420676,105.722848 66.4716851,106.72884 63.0737368,106.72884 C53.8225708,106.72884 46.2955461,99.2245548 46.2955461,90 C46.2955461,85.4458109 47.9356527,81.2181863 50.9146917,78.0974804 C53.8845322,74.9846972 57.9418333,73.2711597 62.3389325,73.2711597 C66.0803716,73.2711597 75.2928803,75.0140556 80.0181339,91.1588707 C81.9888234,97.8895503 85.1052422,103.598343 89.0313015,107.6694 C93.6565684,112.465139 99.4067223,115 105.660435,115 C119.308701,115 130,104.019086 130,90" id="Fill-20"></path>
            </g>
        </g>
    </g>
</svg>

		</div>

    <!-- <img src="/ikon-sidor/img/boots/tjakke.png" class="image" alt="" scroll-bg> -->

		<h1 class="bordered title medium move-up">Boots</h1>
		<!-- <h1 class="title"><img class="logo" src="/ikon-sidor/img/lundhags-logo.svg" alt="" />Boots</h1> -->

		<!-- <div class="banner__content" scroll-content>
			<p>You can walk a long time in a pair of Lundhags boots. Really long. Even an entire lifetime. The craftsmanship and chosen materials make them extremely durable, while the fit and comfort mean that you will want to wear them often. The shell principle protects your feet, no matter what the season or weather.</p>
		</div> -->

	</article>

	<article scroll-point="" scroll-point-bottom="" class="dark-color align-center small fade-in hit">

		<div class="text-content" scroll-content="">

			<p>
				You can walk a long time in a pair of Lundhags boots. Really long. Even an entire lifetime. The craftsmanship and chosen materials make them extremely durable, while the fit and comfort mean that you will want to wear them often. The shell principle protects your feet, no matter what the season or weather.
			</p>
		</div>

	</article>

	<article id="filosofi" scroll-point class="light-color align-center">

		<img src="/ikon-sidor/img/boots/livskvalitet.jpg" alt="" class="bg zoom-in-out">
		<!-- <img src="/ikon-sidor/img/boots/bg_livskvalitet.jpg" alt="" class="bg zoom-in-out"> -->

		<div class="text-content" scroll-content>
			<h1 class="title medium">Qualtiy of life</h1>
			<p>Lundhags boots are built on a craftsmanship and a quality that will endure all your long term efforts. If you care for them properly, they will last even longer. At our shoemaker's shop, you even have the possibility to get service and repairs if needed. Thus, it is easy to not only get a pair of boots, but also a new friend for life.</p>
		</div>

	</article>

	<article scroll-point class="columns offset-top">

		<figure scroll-img><img src="/ikon-sidor/img/boots/handsytt.jpg" alt=""></figure>

		<div fixed-content scroll-content>
			<div>
  			<h1 class="title">Craftsmanship<br/>since 1932</h1>
        <p>We believe that experience, trade knowledge, and intuition are factors that are hard to replace. So, we have never tried to. Of course, we use modern technology, but we will always be shoemakers, literally. That we can work, sew, feel and approve with our hands is our legacy.</p>
			</div>

		</div>

	</article>

	<article id="material" scroll-point scroll-point-bottom class="light-color align-center stop-prev">

		<div class="text-content" scroll-content>

			<h1 class="title medium">Only the best</h1>
			<p>Every detail in a Lundhags boot should fulfil a function and every material should be the best for the purpose. Our boots have a traction-friendly outsole that will last many miles and provide you with a sense of security in trackless terrain. We use the finest leather in the shafts, and a brand new cellular rubber on the lower parts of our newer models provides excellent comfort.</p>

		</div>

    <div class="movement-layers">
      <div class="layer" data-depth="0.1"><div class="layer1" style="background:url(/ikon-sidor/img/boots/baradetbasta.jpg)"></div></div>
    </div>

	</article>

	<article scroll-point class="light-color align-center">

		<img src="/ikon-sidor/img/boots/skinn.jpg" alt="" class="bg zoom-in-out">

		<div class="text-content" scroll-content>

			<h1 class="title medium">It's all in<br/>the leather</h1>
			<p>We have worked with leather for more than 85 years. It is the basic foundation in our boots and a part of our Lundhags brand name. The majority of our boots use full-grain leather. The most durable is from the outermost part of the hide. And we have not mentioned the best part. A leather that is cared for gets better with age.</p>

		</div>

	</article>

	<article scroll-point zoom-in class="light-color align-center zoom-in">

		<div class="text-content" scroll-content>

			<h1 class="title medium">Quality from<br/>the foundation</h1>
			<p>You won't get far without a good foundation. The lower part of Lundhags boots is manufactured in a material that is completely waterproof and provides stability even when carrying a heavy load and walking in trackless terrain. In Certech EXP, the outer layer is comprised of light and durable Liba Smart, while the inner is a microfibre for a comfortable feel against the legs and ankle.</p>

		</div>

    <figure><img scroll-bg src="/ikon-sidor/img/boots/cellgummi.jpg" alt=""></figure>

	</article>

	<article scroll-point class="light-color align-center">

		<div class="text-content" scroll-content>

			<h1 class="title medium">Step absorber</h1>
			<p>Lundhags soles can handle more than just standing and walking on. The pattern of the outsole is well-conceived and made for the best grip on tough terrain. A dampening and stabilising material between the outsole and foot provides increased comfort and a more forgiving step.</p>

		</div>

    <figure class="bg"><img scroll-bg src="/ikon-sidor/img/boots/vibram.jpg" alt=""></figure>

	</article>

	<article scroll-point class="light-color align-center">

		<div class="text-content" scroll-content>

			<h1 class="title medium">A new<br/>generation</h1>
			<p>We are faced with a generation shift. Prior to 2018, we have updated our 3-layer boots with a completely new type of cellular rubber, Certech EXP, and a new midsole that gives a more supple boot. Suppleness comes foremost from the new Certech material and the new Beta Pro insole. A new heel wedge also provides better absorption. The focus has been on further improving comfort in the boots, while the functionality and repairability maintain a new standard.</p>
			<a href="https://www.lundhags.se/en/products/kaengor/shell-boots/3-layer-boots">Go to products</a>

		</div>

		<div class="movement-layers">
      <div class="layer" data-depth="0.1"><div class="layer1" style="background:url(/ikon-sidor/img/boots/nextgen.jpg)"></div></div>
    </div>

	</article>

	<article scroll-point class="layers align-center light-color" style="background:url(/ikon-sidor/img/boots/theseasonisnowboots.jpg)">
		<!-- <quoteblock>I SEE NATURE WITH THE GREATEST RESPECT AND REVERANCE. NOTHING GOES TO WASTE.<span>Eva Bromé – Wilderness guide</span></quoteblock> -->
		<h1 class="title medium">The season is now</h1>
		<figure class="layered" y-pos="0.5"  data-direction="1" data-speed="0.3">
			<img src="/ikon-sidor/img/boots/theseasonisnowboot_1.jpg">
		</figure>

		<figure class="layered movie-wrapper" y-pos="50"  data-direction="1" data-speed="0.5">
			<img src="/ikon-sidor/img/600x400.png">
			<video src="/ikon-sidor/videos/eva_movie_short.mp4" autoplay muted loop></video>
		</figure>

	</article>


	<div class="multiple">

  	<article id="lagerprincipen" scroll-point class="offset-top">

  		<div>
  			<div class="mozaik">

					<div fixed-content fixed-img style="background:url(/ikon-sidor/img/boots/1lager.jpg);" alt=""></div>

					<div class="multiple-content">

					  <div>
  						<h1 class="title">1-layer boots</h1>
  						<p>The classic Lundhags boot is built on a 1-layer construction, with a layer of leather in the shaft and without a midlayer or lining. This results in a supple shaft that forms around the foot and leg. A durable and waterproof cellular rubber bottom is under your feet,  and the classic Lundhags feel is there from the first step.</p>
  						<a href="https://www.lundhags.se/en/products/kaengor/shell-boots/1-layer-boots">Go to products</a>
				    </div>

				  </div>

			  </div>
			</div>

		</article>

		<article scroll-point class="offset-top">

  		<div>
  			<div class="mozaik">

					<div fixed-content fixed-img style="background:url(/ikon-sidor/img/boots/3lager_kanga.jpg);" alt=""></div>

					<div class="multiple-content">

						<div>
              <h1 class="title">3-layer boots</h1>
  						<p>As the name implies, our 3-layer boots are more built up in their design and insulate more than 1-layer boots. The shaft is comprised of two leather layers with a layer of stabilising Ariaprene® in between, giving high stability and unbeatable protection.</p>
  						<a href="https://www.lundhags.se/en/products/kaengor/shell-boots/3-layer-boots">Go to products</a>
				    </div>

					</div>

			  </div>
			</div>

		</article>

		<article scroll-point class="darken offset-top">

  		<div>
  			<div class="mozaik">

					<div fixed-content fixed-img style="background:url(/ikon-sidor/img/boots/fodrad_kanga.jpg); " alt=""></div>

					<div class="multiple-content">

						<div>
              <h1 class="title">Lined boots</h1>
              <p>Sometimes, the temperature drops way below zero, but it doesn't need to affect your experience. Our lined boots, with insulated outsoles, are equipped to withstand substantial cold and provide comfort when hiking. The cellular rubber is thicker, and the inner boot in wool felt is removable and can be dried during your winter tour to restore the boot to its original comfort.</p>

              


              <!-- <a href="https://www.lundhags.se/en/products/kaengor/shell-boots/felt-lined-boots">Go to products</a> -->
            </div>

					</div>

			  </div>
			</div>

		</article>

	</div>


	<div class="slider" scroll-point scroll-point-bottom>

		<article id="tillverkning" class="light-color align-center item movie-wrapper">
			<img src="/ikon-sidor/img/boots/slide4.jpg" alt="">
			<iframe width="560" height="315" src="https://www.youtube.com/embed/p-1hkVgiOzs?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>

			<div class="text-content" scroll-content>

				<h1 class="title medium">Manufacturing</h1>

				<p>When we manufacture boots, we prioritise comfort, performance and long durability.</p>
				<a href="#" class="play-movie">Play film</a>

			</div>

		</article>

		<article class="light-color align-center item">
			<img src="/ikon-sidor/img/boots/slide2.jpg" alt="">
		</article>

		<article class="light-color align-center item">
			<img src="/ikon-sidor/img/boots/slide3.jpg" alt="">
		</article>

		<article class="light-color align-center item">
			<img src="/ikon-sidor/img/boots/slide1.jpg" alt="">
		</article>

		<article class="light-color align-center item">
			<img src="/ikon-sidor/img/boots/slide5.jpg" alt="">
		</article>

		<article class="light-color align-center item">
			<img src="/ikon-sidor/img/boots/slide6.jpg" alt="">
		</article>
	</div>


	<!-- <article scroll-point class="light-color align-center" >

		<div class="text-content" scroll-content>

			<h1 class="small-title">Custom made</h1>

			<p>Even if you chosen the right sized boots, it's uncertain if they will actually fit. Some feet require special modifications. With Lundhags Custom Made, you get boots that suit your needs and design requirements.</p>
      <a href="https://www.lundhags.se/en/Guides-Inspiration/Product-Guides/Custom-made">Read more</a>

		</div>

        <div class="movement-layers">
          <div class="layer" data-depth="0.1"><img src="/ikon-sidor/img/slide3.jpg" alt=""></div>
        </div>


	</article> -->

	<article scroll-point scroll-point-bottom class="light-color align-center" >

		<div class="text-content" scroll-content>

			<h1 class="title medium">Reusage</h1>

			<p>Sometimes, our boots return once again to our shoemaker in Järpen. After all, even the best materials wear out when they get used a lot. And then we are there, ready to repair and replace pieces of your boots. Wear and tear, but not to be thrown out. It serves not only you, but the environment.</p>
			<a href="https://www.lundhags.se/en/Customer-service/Shoemaker">Read more</a>
		</div>

    <div class="movement-layers">
      <div class="layer" data-depth="0.1"><img src="/ikon-sidor/img/boots/aterbruket.jpg" alt=""></div>
    </div>

	</article>

	<article id="kangvard" scroll-point class="light-color align-center movie-wrapper darken-bg">

		<img src="/ikon-sidor/img/boots/kangvard_innanfilm.jpg" alt="">
		<iframe width="560" height="315" src="https://www.youtube.com/embed/zjy52CdhsvM?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>

		<div class="text-content" scroll-content>
			<h1 class="title">Care your boots</h1>

			<p>Take the time to care for your boots at regular intervals. We promise that it will pay off many times over.</p>
			<a href="#" class="play-movie">Play film</a>
		</div>

	</article>

	<!-- <article scroll-point zoom-in class="light-color align-center zoom-in">

		<div class="text-content" scroll-content>

			<div>
  			<h1 class="small-title">Lundhags Boots</h1>
  			<p><a href="https://www.lundhags.se/en/products/kaengor">View the entire selection</a></p>
			</div>

		</div>

    <figure><img scroll-bg src="/ikon-sidor/img/boots/kangor_avslut.jpg" alt=""></figure>

	</article> -->

	<section class="inspiration scroll-point" scroll-point>

	  <article class="container align-center layers">

	    <div class="inspiration__title logo-wrapper">
<svg width="169px" height="181px" viewBox="0 0 169 181" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 48.1 (47250) - http://www.bohemiancoding.com/sketch -->
    <desc>Lundhags</desc>
    <defs></defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Backpacks" transform="translate(-391.000000, -4189.000000)" fill=#1d1d1d>
            <g id="Page-1" transform="translate(391.000000, 4189.000000)">
                <polygon id="Fill-1" points="21 57.3752683 17.4753443 65 0 57.7606543 1.27660786 55 15.8351538 61.0314222 18.0838143 56.1673448"></polygon>
                <path d="M19.177638,27 L28.4420158,34.5821676 C31.4595134,37.0515978 31.8702297,41.507138 29.3383945,44.4872484 C26.822066,47.4478748 22.2818754,47.8515487 19.264361,45.3821185 L10,37.7999673 L12.0325226,35.4089502 L21.2962704,42.9905095 C22.9794061,44.367483 25.4975994,44.1437532 26.9007417,42.4926049 C28.3205834,40.8220055 28.0926205,38.3507502 26.4094848,36.9737766 L17.1451238,29.3922174 L19.177638,27 Z" id="Fill-3"></path>
                <polygon id="Fill-4" points="52.8880368 26.2539797 36.7684392 21.3276047 43.0074308 32.3647713 40.3638845 34 31 17.4326509 32.2372542 16.6670807 48.1566333 21.5401566 41.9925692 10.6340756 44.635514 9 54 25.5667895"></polygon>
                <path d="M67.1189981,18.2773842 L69.5551705,17.8220227 C73.0475148,17.1698118 75.3252597,13.8314937 74.6670149,10.3718041 C74.0131861,6.93755478 70.6647938,4.650807 67.1730632,5.30298416 L64.736277,5.75837938 L67.1189981,18.2773842 Z M64.575957,22 L61,3.20880639 L66.5764538,2.16660336 C71.8014583,1.19044358 76.846041,4.60413868 77.8318311,9.78061591 C78.8163424,14.9577671 75.3774324,19.982328 70.1524108,20.958454 L64.575957,22 Z" id="Fill-5"></path>
                <polygon id="Fill-6" points="102.166416 21 99.0237809 20.5296999 100.205995 12.7148291 91.325455 11.3859233 90.143241 19.2008776 87 18.7305774 89.8341898 0 92.9768249 0.469732559 91.7952337 8.28458668 100.675151 9.61332554 101.856742 1.79913913 105 2.26937247"></polygon>
                <path d="M119.166639,20.1248221 L123.176592,22.3292767 L123.620027,16.593219 L119.166639,20.1248221 Z M127,11.6565614 L125.441432,32 L122.498929,30.3816329 L122.921497,25.7277423 L116.522744,22.2088988 L112.943699,25.1264616 L110,23.5080946 L125.8056,11 L127,11.6565614 Z" id="Fill-7"></path>
                <path d="M138.170891,29.505075 C142.029421,25.9157197 148.031101,26.2238197 151.540179,30.1705722 C153.666466,32.5608092 154.467823,35.8439145 153.733951,38.9643452 L150.751486,38.2168857 C151.246758,36.1310655 150.709311,33.8887205 149.275915,32.2773579 C146.903789,29.6086027 142.837396,29.4298957 140.246556,31.8398483 C137.583427,34.316964 137.364109,38.3130138 139.71996,40.9626701 C141.450389,42.9080146 143.994234,43.3855553 146.125946,42.2837984 L142.203542,37.873671 L144.486483,35.7502529 L150.615911,42.6430456 L149.474743,43.7047547 C145.942167,46.9903265 140.667725,46.7173413 137.437019,43.0860883 C133.927941,39.1393357 134.239451,33.1622099 138.170891,29.505075" id="Fill-8"></path>
                <path d="M151.140681,54.6160944 L153.051351,57.2145721 C152.78499,57.4215279 151.522071,58.6214184 152.516177,60.9335783 C153.125173,62.3486835 154.770717,63.1206684 155.982587,62.565169 C156.920088,62.1359928 157.941254,61.3291003 157.563551,58.7344173 C156.8475,53.9507554 158.834462,52.0804607 160.625799,51.344654 C162.893285,50.4469641 166.049658,51.2322904 167.470666,54.5360971 C168.597102,57.1548875 167.681706,59.6067121 166.975515,60.6364603 L164.393037,58.7693421 C164.441017,58.6906154 165.282557,57.4018505 164.612652,55.8445394 C163.953807,54.3113527 162.679209,54.0193171 161.766916,54.3805497 C161.299408,54.5665747 160.181047,55.0217642 160.665171,58.246209 C161.17145,61.7138221 159.958979,64.3027702 157.260888,65.5382207 C154.449002,66.8263503 150.954899,65.3204647 149.635991,62.2528207 C147.992916,58.4309634 149.910977,55.5747224 151.140681,54.6160944" id="Fill-9"></path>
                <polygon id="Fill-10" points="148 123.624884 151.524747 116 169 123.23952 167.72383 126 153.164991 119.968939 150.915638 124.832738"></polygon>
                <path d="M148.822577,154 L139.557789,146.418304 C136.54078,143.949438 136.129423,139.493209 138.661975,136.512454 C141.177811,133.551758 145.718202,133.148685 148.735212,135.618159 L158,143.199855 L155.968001,145.592115 L146.703229,138.009203 C145.020641,136.632813 142.502941,136.856547 141.09851,138.508333 C139.67921,140.177746 139.9072,142.649654 141.59041,144.027261 L150.85456,151.60774 L148.822577,154 Z" id="Fill-11"></path>
                <polygon id="Fill-12" points="115.111934 155.74522 131.23111 160.671485 124.99168 149.635192 127.635157 148 137 164.566352 135.761575 165.332533 119.843214 160.459565 126.006515 171.364808 123.364241 173 114 156.432395"></polygon>
                <path d="M101.880838,163.722582 L99.4446003,164.177939 C95.9527762,164.830127 93.6749873,168.168376 94.3332498,171.628084 C94.9870962,175.062878 98.3349472,177.349625 101.826754,176.697425 L104.263623,176.242691 L101.880838,163.722582 Z M104.42393,160 L108,178.791067 L102.423397,179.833215 C97.199497,180.809957 92.1535344,177.396344 91.1683488,172.21986 C90.1831632,167.042755 93.6228133,162.01826 98.8479578,161.042143 L104.42393,160 Z" id="Fill-13"></path>
                <polygon id="Fill-14" points="65.8398634 160 68.9818198 160.471396 67.7969831 168.284002 76.6732405 169.616131 77.8586828 161.80353 81 162.275544 78.1601535 181 75.018197 180.528603 76.2030338 172.715999 67.3267764 171.384487 66.1419564 179.196474 63 178.725078"></polygon>
                <path d="M48.834557,160.874585 L44.824604,158.669536 L44.3799732,164.406808 L48.834557,160.874585 Z M41,169.343408 L42.5585677,149 L45.5016687,150.617761 L45.0790851,155.271049 L51.4772558,158.789897 L55.056301,155.872331 L58,157.491917 L42.1949978,170 L41,169.343408 Z" id="Fill-15"></path>
                <path d="M30.827925,151.496812 C26.967975,155.08524 20.9659916,154.774753 17.4578224,150.827788 C15.3326706,148.437568 14.531524,145.154079 15.2670127,142.033221 L18.2487164,142.78232 C17.7523779,144.867002 18.2896873,147.109384 19.7221149,148.722179 C22.0948298,151.390245 26.1601895,151.570739 28.7521834,149.162025 C31.4158436,146.684933 31.6362987,142.689299 29.281047,140.038478 C27.5510581,138.093037 25.0072719,137.61437 22.8754975,138.715842 L26.7969038,143.126696 L24.5133347,145.249565 L18.3848612,138.355471 L19.5263435,137.29342 C23.0604217,134.008697 28.3353361,134.284061 31.564028,137.915609 C35.0728017,141.863191 34.759574,147.841238 30.827925,151.496812" id="Fill-16"></path>
                <path d="M17.859081,127.383741 L15.948418,124.785123 C16.2147775,124.578158 17.4776784,123.378846 16.4829821,121.066576 C15.8739842,119.650769 14.2290685,118.878747 13.0172187,119.434273 C12.0797278,119.863469 11.0585743,120.6704 11.4356626,123.265841 C12.1523147,128.049095 10.1653746,129.920113 8.37466771,130.65532 C6.10660207,131.553052 2.94964257,130.767689 1.52925754,127.464361 C0.402913824,124.845446 1.31825994,122.39287 2.02506919,121.363073 L4.60686188,123.23028 C4.55826483,123.30901 3.71735244,124.597836 4.38725261,126.155221 C5.0460804,127.689116 6.3212899,127.98053 7.23294578,127.61928 C7.70046003,127.433899 8.81819208,126.978035 8.33468234,123.754073 C7.82841223,120.28566 9.04087598,117.697225 11.7383173,116.461716 C14.5507916,115.173525 18.0448608,116.680117 19.3637376,119.747271 C21.0074288,123.56931 19.0887714,126.425051 17.859081,127.383741" id="Fill-17"></path>
                <path d="M2.50000016,93 C3.88047259,93 5,91.8804674 5,90.5 C5,89.1188847 3.88047259,88 2.50000016,88 C1.11952878,88 0,89.1188847 0,90.5 C0,91.8804674 1.11952878,93 2.50000016,93" id="Fill-18"></path>
                <path d="M164,90.5 C164,91.8811153 165.119544,93 166.499403,93 C167.880526,93 169,91.8811153 169,90.5 C169,89.1195151 167.880526,88 166.499403,88 C165.119544,88 164,89.1195151 164,90.5" id="Fill-19"></path>
                <path d="M130,90 C130,76.2145243 118.75178,65 104.925648,65 C99.8501832,65 94.9593221,66.505614 90.7836373,69.3542047 C88.8926908,70.643344 88.4081441,73.2173388 89.7016992,75.1021143 C90.9952543,76.9875183 93.5762265,77.4700214 95.4671729,76.1802701 C98.2579158,74.2771518 101.528298,73.2711597 104.925648,73.2711597 C114.177413,73.2711597 121.704437,80.7754287 121.704437,90 C121.704437,94.5541726 120.064347,98.7811852 117.085308,101.90252 C114.116083,105.015286 110.05815,106.72884 105.660435,106.72884 C101.919612,106.72884 92.7071031,104.985928 87.9812507,88.8411127 C86.0111599,82.1104332 82.8947411,76.4010452 78.9686819,72.3305996 C74.3434149,67.5348447 68.5926456,65 62.3389325,65 C48.6912994,65 38,75.9815262 38,90 C38,103.784864 49.2482203,115 63.0737368,115 C68.1504323,115 73.0406613,113.494369 77.2163461,110.646407 C79.1073092,109.356656 79.5912404,106.782661 78.2983008,104.897869 C77.0047457,103.012482 74.4231581,102.529962 72.5328104,103.819713 C69.7420676,105.722848 66.4716851,106.72884 63.0737368,106.72884 C53.8225708,106.72884 46.2955461,99.2245548 46.2955461,90 C46.2955461,85.4458109 47.9356527,81.2181863 50.9146917,78.0974804 C53.8845322,74.9846972 57.9418333,73.2711597 62.3389325,73.2711597 C66.0803716,73.2711597 75.2928803,75.0140556 80.0181339,91.1588707 C81.9888234,97.8895503 85.1052422,103.598343 89.0313015,107.6694 C93.6565684,112.465139 99.4067223,115 105.660435,115 C119.308701,115 130,104.019086 130,90" id="Fill-20"></path>
            </g>
        </g>
    </g>
</svg>
</div>

	    
	    <img src="/ikon-sidor/img/boots/bootsbottom.jpg" alt="" let-it-go  0 y-pos="1"  data-direction="1" data-speed="0.3" class="inspiration__image scroll-point__scroll visible layered">
	    
	    <img src="/ikon-sidor/img/boots/bootsbottom2.jpg" alt="" let-it-go horizontal 200 y-pos="1"  data-direction="1" data-speed="0.5" class="inspiration__image scroll-point__scroll visible layered">
	    

	    <div class="scroll-point__scroll align-right text-block" >
				<p>We have worked with sustainability for more than 85 years. To us, this means using robust, and high quality materials that are sustainable in every matter. We also believe in using fewer things, and the possibility to repair your boot, garment or backpack when you have worn it for a very long time. </p><p>Now, we have taken this one step further, and made our fabric LPC (Lundhags PolyCotton) even more sustainable. We have also optimised our line of production – to make sure they have as little negative impact on the environment as possible.</p> <p>Continue your Lundhags adventure also on social media – follow us here.</p>

				<div class="social-links">
	        <a class="zocial-facebook" href="https://www.facebook.com/lundhags/" title="Lundhags Facebook"><span>Facebook</span></a>
	        <a class="zocial-instagram" href="https://www.instagram.com/lundhags/" title="Lundhags Instagram"><span>Instagram</span></a>
	        <a class="zocial-youtube" href="https://www.youtube.com/channel/UCt0pS2dT4Np3d4RtYf3f-hw" title="Lundhags Youtube"><span>Youtube</span></a>
	      </div>

	    </div>

	  </article>

	</section>




</section>



		


<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/parallax/1.1.1/jquery.parallax.min.js" ></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>

<script src="/ikon-sidor/js/vendor.js"></script>

<script src="/ikon-sidor/js/script.js"></script>


<!-- footer start -->
