



	 <link rel="stylesheet" href="/ikon-sidor/css/main.css">



<!-- header stop -->

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css"/>

    
<section class="theme-page">

	<article scroll-point class="light-color align-center fixed-vh">

		<figure><img class="bg" src="/ikon-sidor/img/boots/nextgen_intro.jpg" alt="" ></figure>


		<div class="text-content" scroll-content>
			<h1 class="title medium"><img class="logo" src="/ikon-sidor/img/lundhags-logo.svg" alt="" />Eine neue<br>generation</h1>
    </div>

	</article>

	<article scroll-point scroll-point-bottom class="dark-color align-center small" >

		<div class="text-content" scroll-content>

			<p>
Wir machen einen Siebenmeilenschritt bei unseren 3-Lagen-Stiefeln, die für 2017 von Kopf bis Fuß aktualisiert worden sind. Dazu gehört eine neue Außensohle von Vibram mit ausgezeichneter Griffigkeit, eine ausgeklügelte Zwischensohle für bessere Dämpfung sowie eine stärker ausgearbeitete Brandsohle. Der untere Teil aus Certech EXP ergibt einen geschmeidigeren Stiefel, ohne beim Wandern mit schwerem Gepäck an Stabilität zu verlieren. Der Schaft besteht aus Vollnarbenleder und die Zwischenschicht aus Ariaprene für maximalen Tragekomfort und minimale Umweltbelastung. Wie anstrengend es auch sein mag, der Fuß wird sich wohlfühlen. Und der Stiefel hält und hält und lässt sich außerdem fast immer reparieren.
	</p>
		</div>

	</article>

  <article scroll-point class=" align-center dark-bg light-color">

    <div class="text-content features-wrapper" scroll-content>
      <div class="features">
        <img src="/ikon-sidor/img/boots/nextgenmork.png" alt="" class="">
        <ul class="hotspots" id="features_tjakke">
          <li class="left"><span>Mit der neuen Certech® Exp-Technologie wird der untere Teil des Stiefels in drei Schichten aufgebaut, die robusten Schutz und besten Tragekomfort bieten. </span></li>
          <li class="right"><span>Die Zwischenschicht aus Ariaprene führt dazu, dass die Stiefel weniger Wasser aufnehmen und schneller trocknen. Außerdem hat das Material wärmeisolierende und stoßdämpfende Eigenschaften.</span></li>
          <li class="down short"><span>Die Außensohle aus Vibram® bietet gute Dämpfung und der Fuß kann gut abrollen.</span></li>
        </ul>
      </div>
    </div>

  </article>


	

	

	<article scroll-point scroll-point-bottom class="product big">
		<div class="product__wrapper">
			<figure><img src="/ikon-sidor/img/boots/tjakke_mid.png" alt=""></figure>
			<div class="product__wrapper__text">
				<h1>Tjakke Mid</h1>
				<p>Ein komplett neuentwickelter 3-Lagen-Stiefel für diejenigen, die ein technisches Allround-Gefühl haben möchten. Strapazierfähig und selbst in schwerem Gelände bequem.</p>
				<a href="http://www.lundhags.de/Produkte/Stiefeln/Wanderstiefel/3-Lagen-Stiefel/Tjakke-Mid/(color)/682">Zum Produkt gehen</a>
			</div>
		</div>
	</article>

	

	<article scroll-point scroll-point-bottom class="product big">
		<div class="product__wrapper">
			<figure><img src="/ikon-sidor/img/boots/Jaure_high.png" alt=""></figure>
			<div class="product__wrapper__text">
				<h1>Jaure II High</h1>
				<p>Mit der neuen Certech® Exp-Technologie ist der am stärksten technische Stiefel von Lundhags aktualisiert worden und somit noch strapazierfähiger. Heinen-Terracare-Vollnarbenleder und Airaprene sorgen für gute Isolierung, hohen Tragekomfort und gute Passform.</p>
				<a href="http://www.lundhags.de/Produkte/Stiefeln/Wanderstiefel/3-Lagen-Stiefel/Jaure-II-High/(color)/912">Zum Produkt gehen</a>
			</div>
		</div>
	</article>

	

	<article scroll-point scroll-point-bottom class="product big">
		<div class="product__wrapper">
			<figure><img src="/ikon-sidor/img/boots/Jaure_light_high.png" alt=""></figure>
			<div class="product__wrapper__text">
				<h1>Jaure II Light High</h1>
				<p>Ein moderner Stiefel, der eine leichtere Version des Jaure II High ist. Mit einer soliden Vibram®-Curcuma-Sohle aktualisiert.</p>
				<a href="http://www.lundhags.de/Produkte/Stiefeln/Wanderstiefel/3-Lagen-Stiefel/Jaure-II-Light-High/(color)/445">Zum Produkt gehen</a>
			</div>
		</div>
	</article>

	

	<article scroll-point scroll-point-bottom class="product big">
		<div class="product__wrapper">
			<figure><img src="/ikon-sidor/img/boots/Jaure_mid.png" alt=""></figure>
			<div class="product__wrapper__text">
				<h1>Jaure II Mid</h1>
				<p>Stabiler 3-Lagen-Stiefel mit mittelhohem Schaft. Mit Certech® Exp-Technologie, Heinen-Terracare-Vollnarbenleder und Airaprene sind Tragekomfort, Isolierung und Passform noch besser.</p>
				<a href="http://www.lundhags.de/Produkte/Stiefeln/Wanderstiefel/3-Lagen-Stiefel/Jaure-II-Mid/(color)/912">Zum Produkt gehen</a>
			</div>
		</div>
	</article>

	

	<article scroll-point scroll-point-bottom class="product big">
		<div class="product__wrapper">
			<figure><img src="/ikon-sidor/img/boots/Jaure_light_mid.png" alt=""></figure>
			<div class="product__wrapper__text">
				<h1>Jaure II Light Mid</h1>
				<p>Eine Leichtgewichtsversion des Jaure II Mid. Tragekomfort, Isolierung und Passform der Spitzenklasse.</p>
				<a href="http://www.lundhags.de/Produkte/Stiefeln/Wanderstiefel/3-Lagen-Stiefel/Jaure-II-Light-Mid/(color)/923">Zum Produkt gehen</a>
			</div>
		</div>
	</article>

	

	<article scroll-point scroll-point-bottom class="product big">
		<div class="product__wrapper">
			<figure><img src="/ikon-sidor/img/boots/Mira_ws_high.png" alt=""></figure>
			<div class="product__wrapper__text">
				<h1>Mira II WS High</h1>
				<p>Strapazierfähiger, technischer Zwilling des Jaure, mit einem Leisten, der an die Anatomie von Frauenfüßen angepasst ist.</p>
				<a href="http://www.lundhags.de/Produkte/Stiefeln/Wanderstiefel/3-Lagen-Stiefel/Mira-II-Ws-High/(color)/454">Zum Produkt gehen</a>
			</div>
		</div>
	</article>

	

	<article scroll-point scroll-point-bottom class="product big">
		<div class="product__wrapper">
			<figure><img src="/ikon-sidor/img/boots/Mira_ws_light_high.png" alt=""></figure>
			<div class="product__wrapper__text">
				<h1>Mira II WS Light High</h1>
				<p>Strapazierfähiger, technischer Stiefel mit geringerem Gewicht als der Mira II Ws High.</p>
				<a href="http://www.lundhags.de/Produkte/Stiefeln/Wanderstiefel/3-Lagen-Stiefel/Mira-II-Ws-Light-High/(color)/445">Zum Produkt gehen</a>
			</div>
		</div>
	</article>

	

	<article scroll-point scroll-point-bottom class="product big">
		<div class="product__wrapper">
			<figure><img src="/ikon-sidor/img/boots/Mira_ws_light_mid.png" alt=""></figure>
			<div class="product__wrapper__text">
				<h1>Mira II WS Light Mid</h1>
				<p>Leichtgewichtsstiefel mit mittelhohem Schaft aus Heinen-Terracare-Vollnarbenleder und einem Leisten, der an die Anatomie von Frauenfüßen angepasst ist.</p>
				<a href="http://www.lundhags.de/Produkte/Stiefeln/Wanderstiefel/3-Lagen-Stiefel/Mira-II-Ws-Light-Mid/(color)/923">Zum Produkt gehen</a>
			</div>
		</div>
	</article>

	

	<article scroll-point scroll-point-bottom class="product big">
		<div class="product__wrapper">
			<figure><img src="/ikon-sidor/img/boots/vandra_jr.png" alt=""></figure>
			<div class="product__wrapper__text">
				<h1>Vandra II Jr</h1>
				<p>Der Juniorstiefel Vandra ist jetzt durch die Certech® Exp-Technologie im unteren Teil weicher. Der Opti-Leisten wurde speziell für Kinder und wachsende Füße entwickelt und bietet ausreichend Platz für Socken.</p>
				<a href="http://www.lundhags.de/Produkte/Stiefeln/Wanderstiefel/1-Lagen-Stiefel/Vandra-II-Jr/(color)/475">Zum Produkt gehen</a>
			</div>
		</div>
	</article>

	


</section>



		


<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/parallax/1.1.1/jquery.parallax.min.js" ></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>

<script src="/ikon-sidor/js/vendor.js"></script>

<script src="/ikon-sidor/js/script.js"></script>


<!-- footer start -->
