



	 <link rel="stylesheet" href="/ikon-sidor/css/main.css">



<!-- header stop -->

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css"/>

    
<section class="theme-page">

	<article scroll-point class="light-color align-center fixed-vh">

		<figure><img class="bg" src="/ikon-sidor/img/boots/nextgen_intro.jpg" alt="" ></figure>


		<div class="text-content" scroll-content>
			<h1 class="title medium"><img class="logo" src="/ikon-sidor/img/lundhags-logo.svg" alt="" />En ny<br>generation</h1>
    </div>

	</article>

	<article scroll-point scroll-point-bottom class="dark-color align-center small" >

		<div class="text-content" scroll-content>

			<p>
Vi tar ett stort kliv med våra trelagerskängor, som har uppdaterats från topp till tå till 2017. Det innefattar en ny yttersula från Vibram med riktigt bra grepp, en utvecklad mellansula med förbättrad dämpning, samt en mer arbetad innersula. Nederdelen i Certech EXP ger en följsammare känga, utan att tappa i stabilitet när du bär tungt. Skaftet består av fullnarvskinn och mellanlager i Ariaprene för maximal komfort och minimal miljöpåverkan. Oavsett vilka påfrestningar du möter, får du en riktigt skön känsla för foten, och en känga med lång livslängd och hög reparerbarhet.
	</p>
		</div>

	</article>

  <article scroll-point class=" align-center dark-bg light-color">

    <div class="text-content features-wrapper" scroll-content>
      <div class="features">
        <img src="/ikon-sidor/img/boots/nextgenmork.png" alt="" class="">
        <ul class="hotspots" id="features_tjakke">
          <li class="left"><span>Nya Certech® Exp-teknologin bygger upp kängans nedre del i tre olika lager, vilket ger ett slitstarkt skydd och riktigt hög komfort.</span></li>
          <li class="right"><span>Mellanlagret i Ariaprene gör att kängorna absorberar mindre vatten och torkar fortare, men materialet har även isolerande och stötdämpande egenskaper.</span></li>
          <li class="down short"><span>Yttersulor av Vibram® ger bra dämpning och ett avrullande steg.</span></li>
        </ul>
      </div>
    </div>

  </article>





	

	

	<article scroll-point scroll-point-bottom class="product big">
		<div class="product__wrapper">
			<figure><img src="/ikon-sidor/img/boots/tjakke_mid.png" alt=""></figure>
			<div class="product__wrapper__text">
				<h1>Tjakke Mid</h1>
				<p>En helt ny 3-lagerskänga som tagits fram för att passa användare som söker en teknisk allroundkänga. Slitstark och komfortabel även i tuff terräng.</p>
				<a href="https://www.lundhags.se/produkter/kangor/skalkangor/3-lagers-skalkangor/tjakke-mid">Gå till produkt</a>
			</div>
		</div>
	</article>

	

	<article scroll-point scroll-point-bottom class="product big">
		<div class="product__wrapper">
			<figure><img src="/ikon-sidor/img/boots/Jaure_high.png" alt=""></figure>
			<div class="product__wrapper__text">
				<h1>Jaure II High</h1>
				<p>Genom den nya Certech® Exp-teknologin har Lundhags mest tekniska känga uppdaterats och blivit än mer slitstark. Heinen Terracare fullnarvsskinn och Airaprene resulterar i bra isolering, hög komfort och god passform.</p>
				<a href="https://www.lundhags.se/produkter/kangor/skalkangor/3-lagers-skalkangor/jaure-ii-ms-high">Gå till produkt</a>
			</div>
		</div>
	</article>

	

	<article scroll-point scroll-point-bottom class="product big">
		<div class="product__wrapper">
			<figure><img src="/ikon-sidor/img/boots/Jaure_light_high.png" alt=""></figure>
			<div class="product__wrapper__text">
				<h1>Jaure II Light High</h1>
				<p>Avancerad känga som är en lättare version av Jaure II High. Uppdaterad med en rejäl Vibram® Curcuma-sula.</p>
				<a href="https://www.lundhags.se/produkter/kangor/skalkangor/3-lagers-skalkangor/jaure-ii-ms-lt-high">Gå till produkt</a>
			</div>
		</div>
	</article>

	

	<article scroll-point scroll-point-bottom class="product big">
		<div class="product__wrapper">
			<figure><img src="/ikon-sidor/img/boots/Jaure_mid.png" alt=""></figure>
			<div class="product__wrapper__text">
				<h1>Jaure II Mid</h1>
				<p>Stabil 3-lagerskänga med mellanhögt skaft. Certech® Exp-teknologin, Heinen Terracare fullnarvsskinn och Airaprene höjer komforten, isoleringen och passformen ytterligare.</p>
				<a href="https://www.lundhags.se/produkter/kangor/skalkangor/3-lagers-skalkangor/jaure-ii-ms-mid">Gå till produkt</a>
			</div>
		</div>
	</article>

	

	<article scroll-point scroll-point-bottom class="product big">
		<div class="product__wrapper">
			<figure><img src="/ikon-sidor/img/boots/Jaure_light_mid.png" alt=""></figure>
			<div class="product__wrapper__text">
				<h1>Jaure II Light Mid</h1>
				<p>Lättviktsversionen av Jaure II Mid. Komfort, isolering och passform i toppklass.</p>
				<a href="https://www.lundhags.se/produkter/kangor/skalkangor/3-lagers-skalkangor/jaure-ii-ms-lt-mid">Gå till produkt</a>
			</div>
		</div>
	</article>

	

	<article scroll-point scroll-point-bottom class="product big">
		<div class="product__wrapper">
			<figure><img src="/ikon-sidor/img/boots/Mira_ws_high.png" alt=""></figure>
			<div class="product__wrapper__text">
				<h1>Mira II WS High</h1>
				<p>Slitstark och teknisk systerkänga till Jaure, med en läst som är anpassad för kvinnlig anatomi.</p>
				<a href="https://www.lundhags.se/produkter/kangor/skalkangor/3-lagers-skalkangor/mira-ii-ws-high">Gå till produkt</a>
			</div>
		</div>
	</article>

	

	<article scroll-point scroll-point-bottom class="product big">
		<div class="product__wrapper">
			<figure><img src="/ikon-sidor/img/boots/Mira_ws_light_high.png" alt=""></figure>
			<div class="product__wrapper__text">
				<h1>Mira II WS Light High</h1>
				<p>Slitstark och teknisk känga med lägre vikt än Mira II Ws High.</p>
				<a href="https://www.lundhags.se/produkter/kangor/skalkangor/3-lagers-skalkangor/mira-ii-ws-lt-high">Gå till produkt</a>
			</div>
		</div>
	</article>

	

	<article scroll-point scroll-point-bottom class="product big">
		<div class="product__wrapper">
			<figure><img src="/ikon-sidor/img/boots/Mira_ws_light_mid.png" alt=""></figure>
			<div class="product__wrapper__text">
				<h1>Mira II WS Light Mid</h1>
				<p>Lättviktskänga med mellanhögt skaft i Heinen Terracare fullnarvsskinn och läst som är anpassad för kvinnlig anatomi.</p>
				<a href="https://www.lundhags.se/produkter/kangor/skalkangor/3-lagers-skalkangor/mira-ii-ws-lt-mid">Gå till produkt</a>
			</div>
		</div>
	</article>

	

	<article scroll-point scroll-point-bottom class="product big">
		<div class="product__wrapper">
			<figure><img src="/ikon-sidor/img/boots/vandra_jr.png" alt=""></figure>
			<div class="product__wrapper__text">
				<h1>Vandra II Jr</h1>
				<p>Juniorkängan Vandra har uppdaterats med en mjukare nederdel med Certech® Exp-teknologi. Opti-lästen är speciellt framtagen för barn och växande fötter med plats för sockor.</p>
				<a href="https://www.lundhags.se/produkter/kangor/skalkangor/1-lagers-skalkangor/vandra-ii-jr">Gå till produkt</a>
			</div>
		</div>
	</article>

	


</section>



		


<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/parallax/1.1.1/jquery.parallax.min.js" ></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>

<script src="/ikon-sidor/js/vendor.js"></script>

<script src="/ikon-sidor/js/script.js"></script>


<!-- footer start -->
