



	 <link rel="stylesheet" href="/ikon-sidor/css/main.css">



<!-- header stop -->

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css"/>

    <section class="theme-page">

	<article class="product-banner">

    <div class="product-banner__content">

      <figure><img src="/ikon-sidor/img/blackice/kangan.png" alt=""></figure>
      <div>
        <h1>Guide BC</h1>
  			<p>Tur- och skridskopjäxa med Lundhags klassiska skalprincip och med urtagbar filtinnersko. Guide BC är en stabil pjäxa med kraftfull cellgummibotten, väl isolerad mot kylan underifrån.</p>
        <a href="https://www.lundhags.se/Produkter/Nordic-Skating/Skating-Boots/Guide-BC/">Gå till produkt</a>
      </div>
		</div>

	</article>



	<article scroll-point class="light-color align-center red-ice">

		<figure><img class="bg" src="/ikon-sidor/img/bg_touring.jpg" alt="" ></figure>
		<!-- <img class="stuck" src="/ikon-sidor/img/blackice/skaters.png" alt=""> -->

		<div class="text-content" scroll-content>
			<h1 class="title large">Turåkning</h1>

			<p>Långa turer genom tysta, snövita landskap är en ren njutning för ögat. Och varje meter, kilometer och mil, kommer riktigt bra pjäxor att löna sig.</p>
		</div>

	</article>



  <article scroll-point scroll-point-bottom class="light-color align-center" >

		<div class="text-content" scroll-content>

			<h1>Kvalitet som låter dig uppleva<br/>naturen i dess renaste form.</h1>
		</div>

        <div class="movement-layers">
          <div class="layer" data-depth="0.1"><img src="/ikon-sidor/img/blackice/lundhags_boot.jpg" alt=""></div>
        </div>


	</article>


	<article scroll-point scroll-point-bottom class="product big">
    <div class="product__wrapper">
  	  <figure><img src="/ikon-sidor/img/blackice/kangan.png" alt=""></figure>
      <div class="product__wrapper__text">
        <h1>Guide BC</h1>
        <p>Tur- och skridskopjäxa med Lundhags klassiska skalprincip och med urtagbar filtinnersko. Guide BC är en stabil pjäxa med kraftfull cellgummibotten, väl isolerad mot kylan underifrån.</p>
        <a href="https://www.lundhags.se/Produkter/Nordic-Skating/Skating-Boots/Guide-BC/">Gå till produkt</a>
      </div>
    </div>
	</article>

  <article scroll-point scroll-point-bottom class="product big">
    <div class="product__wrapper">
  	  <figure><img src="/ikon-sidor/img/guide_liner.png" alt=""></figure>
      <div class="product__wrapper__text">
        <h1>Guide Liner</h1>
        <p>Filtinnersko i ull för Lundhags Guide BC, med inbyggd <br/>Heel Fit Control™, polstrad kant upptill och förstärkt med Cambrelle®.</p>
        <a href="https://www.lundhags.se/Produkter/Kaengor/Kaengor-Tillbehoer/Boot-Liners/Guide-Liner/">Gå till produkt</a>
      </div>
    </div>
	</article>


</section>



		


<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/parallax/1.1.1/jquery.parallax.min.js" ></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>

<script src="/ikon-sidor/js/vendor.js"></script>

<script src="/ikon-sidor/js/script.js"></script>


<!-- footer start -->
