---
layout: lundhags
title: Lundhags - Kängor
---


<section class="top-hero">
  <section class="banner">
    <img src="/img/trees.jpg" alt="" class="banner__bg">

    <h1 class="banner__title">Our New Range</h1>

  </section>

  <div class="top-hero__content">
    <!-- <h1 class="top-hero__title">Our New Range</h1> -->
    <div class="top-hero__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta, est debitis veniam nisi vitae autem amet cumque ratione expedita culpa eveniet animi praesentium modi qui magnam. Exercitationem repellendus rem incidunt.</div>
    <!-- <img src="/img/boots/eva.jpg" alt="" class="top-hero__image"> -->
  </div>
</section>


<div class="twisted-columns scroll-point">
  <div class="twisted-column">
    <div class="col-2">
      <!-- <img src="/img/boots/eva.jpg" alt="" class="top-hero__image"> -->
      <div class="video-wrapper">
        <video autoplay muted loop style="height:700px">
            <source src=videos/eva_movie_short.mp4 type=video/mp4>
        </video>
      </div>
    </div>
    <div class="col-2">
      <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto iste nobis animi molestiae officiis, harum corrupti consectetur praesentium dicta explicabo aspernatur placeat, esse recusandae, rem doloremque dolorum, quibusdam dolor sint.</p> -->
    </div>
  </div>
  <div class="twisted-column ">
    <div class="col-2">
      <img src="/img/boots/eva.jpg" alt="" class="top-hero__image">
    </div>
    <div class="col-2">
      <div class="scroll-point__scroll">
        <h2>Daypacks</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto iste nobis animi molestiae officiis, harum corrupti consectetur praesentium dicta explicabo aspernatur placeat, esse recusandae, rem doloremque dolorum, quibusdam dolor sint.</p>
      </div>
    </div>
  </div>
</div>

<section class="product-spec">

  <div class="container scroll-point product-spec__main">

    <div class="product-spec__video">
      <span class="play-movie">Play movie</span>
      <div class="popup-video">

        <div class="popup-video__overlay"></div>

        <div class="video-wrapper">
          <video>
              <source src=videos/eva_movie_short.mp4 type=video/mp4>
          </video>
        </div>
      </div>
    </div>

    <figure class="product-spec__image">
      <img src="/img/blackice/rygga.png" alt="" class="top-hero__image">
    </figure>


      <div class="scroll-point__scroll product-spec__content" offset="-200">
        <h2>Daypacks</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto iste nobis animi molestiae officiis, harum corrupti consectetur praesentium dicta explicabo aspernatur placeat, esse recusandae, rem doloremque dolorum, quibusdam dolor sint.</p>
      </div>


  </div>

  <div class="features bg-light scroll-point" offset="100vh">


    {% for i in (1..3) %}

    {% if i == 1 %}
    <div class="container scroll-point" offset="85%" id="ID-{{i}}" trigger-hotspots="#spot{{i}}1,#spot{{i}}2,#spot{{i}}3,#spot{{i}}4">

    {% else %}
    <div class="container scroll-point" offset="50%" id="ID-{{i}}" trigger-hotspots="#spot{{i}}1,#spot{{i}}2,#spot{{i}}3,#spot{{i}}4">
    {% endif %}
      <div class="features__intro">
        <h2>Specific features</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis animi atque provident optio cum, reiciendis et nihil quod iure, quibusdam sint ipsum quae. Quibusdam vitae dolorem sint qui non, similique.</p>
      </div>

      <div class="features__hotspots__info scroll-point__stick-to-the-right">

        <h3>Lorem ipsum set dolor {{i}}</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam cupiditate eius tempore ad nam nihil. Eos natus laudantium, sunt possimus adipisci neque esse optio vel magnam odio sapiente officiis velit.</p>

        <ul class="features__hotspots__features">
          <li control-spot="spot{{i}}1">Lorem ipsum dolor sit amet</li>
          <li control-spot="spot{{i}}2">Lorem ipsum dolor sit amet</li>
          <li control-spot="spot{{i}}3">Lorem ipsum dolor sit amet</li>
          <li control-spot="spot{{i}}4">Lorem ipsum dolor sit amet</li>
        </ul>
      </div>
    </div>

    {% endfor %}

    <div class="scroll-point__stick">
      <div class="hotspots">

        <div class="features__image">
          <img src="/img/boot.png" alt="" class="features__hotspots__image">
        </div>

        <div class="hotspots__list">
          <div id="spot11" class="hotspots__list__hotspot" data-pos="40,30"></div>
          <div id="spot12" class="hotspots__list__hotspot" data-pos="20,80"></div>
          <div id="spot13" class="hotspots__list__hotspot" data-pos="30,30"></div>
          <div id="spot14" class="hotspots__list__hotspot" data-pos="40,50"></div>
          <div id="spot21" class="hotspots__list__hotspot" data-pos="20,90"></div>
          <div id="spot22" class="hotspots__list__hotspot" data-pos="40,90"></div>
          <div id="spot23" class="hotspots__list__hotspot" data-pos="60,90"></div>
          <div id="spot24" class="hotspots__list__hotspot" data-pos="80,90"></div>
          <div id="spot31" class="hotspots__list__hotspot" data-pos="40,30"></div>
          <div id="spot32" class="hotspots__list__hotspot" data-pos="20,80"></div>
          <div id="spot33" class="hotspots__list__hotspot" data-pos="30,30"></div>
          <div id="spot34" class="hotspots__list__hotspot" data-pos="40,50"></div>
          <div id="spot41" class="hotspots__list__hotspot" data-pos="20,90"></div>
          <div id="spot42" class="hotspots__list__hotspot" data-pos="40,90"></div>
          <div id="spot43" class="hotspots__list__hotspot" data-pos="60,90"></div>
          <div id="spot44" class="hotspots__list__hotspot" data-pos="80,90"></div>
        </div>

      </div>
    </div>

  </div>


</section>


<section class="scroll-point">
  <div class="container">


    <div class="triple-images">
      <img src="/img/blackice/rygga.png" alt="" class="scroll-point__scroll visible" horizontal reverse offset="-300">
      <img src="/img/blackice/rygga.png" alt="" class="scroll-point__scroll visible" offset="-400">
      <img src="/img/blackice/rygga.png" alt="" class="scroll-point__scroll visible" horizontal offset="-300">
    </div>
  </div>
</section>


<section class="one-col-scroll bg-gray">


  <div class="scroll-point" offset="100vh">


    <div class="container columns">

      <div class="col-2 fill"></div>

      <div class="col-2">
        <div class="columns__content">
            <img src="/img/boots/1lager.jpg" alt="">
        </div>
      </div>

    </div>

    <div class="container columns">

      <div class="col-2 fill"></div>


      <div class="col-2">
        <div class="columns__content">

          <div class="columns__content__wrapper">

          <h1>Lorem ipsum</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi nisi fugiat voluptas iste deleniti doloremque, aut autem, et exercitationem, distinctio error, eligendi? Nihil, error vel modi repellat, ut autem doloribus.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi nisi fugiat voluptas iste deleniti doloremque, aut autem, et exercitationem, distinctio error, eligendi? Nihil, error vel modi repellat, ut autem doloribus.</p>
          </div>
        </div>
      </div>

    </div>



    <div class="scroll-point__stick">

      <div class="container columns">

        <div class="col-2">
          <div class="columns__content">

            <div class="overlay-logo">

              {% include svg-logo.html color="#FEFEFE" %}

            </div>

            <img src="/img/boots/3lager.jpg" alt="">


          </div>
        </div>
        <div class="col-2"></div>


      </div>
    </div>


  </div>
</section>

<section class="inspiration scroll-point">

  <article class="container align-center">

    <h1 class="inspiration__title">Backpacks</h1>

    <img src="/img/trees.jpg" alt="" let-it-go class="inspiration__image scroll-point__scroll visible">
    <img src="/img/trees.jpg" alt="" let-it-go horizontal class="inspiration__image scroll-point__scroll visible">
    <img src="/img/trees.jpg" alt="" let-it-go class="inspiration__image scroll-point__scroll visible">

    <div class="scroll-point__scroll align-left text-block" offset="-200">
      <h2>Daypacks</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto iste nobis animi molestiae officiis, harum corrupti consectetur praesentium dicta explicabo aspernatur placeat, esse recusandae, rem doloremque dolorum, quibusdam dolor sint.</p>
    </div>

  </article>



</section>

<!--
<div class="deepify parallax">

  <div class="deepify__wrapper">

    <img src="../img/view_bg.jpg" alt="" class="deepify__layer">
    <div class="deepify__layer align-center"><h1>THE SEASON IS NOW</h1></div>

    <img src="../img/view_legs.png" alt="" class="deepify__layer">
  </div>

</div> -->
