



	 <link rel="stylesheet" href="/ikon-sidor/css/main.css">



<!-- header stop -->

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css"/>

    <section class="theme-page">

	<article class="product-banner">

		<div class="product-banner__content">

      <figure><img src="/ikon-sidor/img/boots/sarva.png" alt=""></figure>
      <div>
        <h1>Sarva</h1>
  			<p>En klassisk Lundhagskänga i klädmärket Sarvas utförande. Sarva boot har en mjuk och lätt cellgummibotten, samt Lundhags kraftfulla Commando-sula. En känga i fullnarvsskinn med same-inspirerade detaljer.</p>
        <a href="https://www.lundhags.se/Produkter/Kaengor/Skalkaengor/Lundhags-x-Sarva-Boot/">Gå till produkt</a>
      </div>
		</div>

	</article>



	<article scroll-point class="light-color align-center">

		<figure><img class="bg" src="/ikon-sidor/img/sarvabanner.jpg" alt="" ></figure>
		<!-- <img class="stuck" src="/ikon-sidor/img/blackice/skaters.png" alt=""> -->

		<div class="text-content" scroll-content>
			<h1 class="title large">Sarva</h1>

			<p>Den här kängan är resultatet av ett samarbete med Sarva, där klädmärket har satt sin egen prägel på den klassiska Lundhagskänslan. Sarvas design och funktion passar lika bra på fjället som i stan.</p>
		</div>

	</article>



  <article scroll-point scroll-point-bottom class="light-color align-center" >

		<div class="text-content" scroll-content>
			<h1>Jeansmakare + skomakare</h1>
		</div>

        <div class="movement-layers">
          <div class="layer" data-depth="0.1"><img src="/ikon-sidor/img/jeans.jpg" alt=""></div>
        </div>


	</article>


	<article scroll-point scroll-point-bottom class="product big">
    <div class="product__wrapper">
  	  <figure class="flip-it"><img class="flip-it__obj" src="/ikon-sidor/img/boots/sarva.png" alt=""></figure>
      <div class="product__wrapper__text">
        <h1>Sarva</h1>
        <p>En klassisk Lundhagskänga i klädmärket Sarvas utförande. Sarva boot har en mjuk och lätt cellgummibotten, samt Lundhags kraftfulla Commando-sula. En känga i fullnarvsskinn med same-inspirerade detaljer.</p>
        <a href="https://www.lundhags.se/Produkter/Kaengor/Skalkaengor/Lundhags-x-Sarva-Boot/">Gå till produkt</a>
      </div>
    </div>
	</article>


</section>



		


<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/parallax/1.1.1/jquery.parallax.min.js" ></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>

<script src="/ikon-sidor/js/vendor.js"></script>

<script src="/ikon-sidor/js/script.js"></script>


<!-- footer start -->
