---
layout: lundhags
title: Lundhags - Kängor
---


<div class="deepify zoom">

  <div class="deepify__wrapper">
    <img src="../img/parallax0.png" alt="" class="deepify__layer">
    <img src="../img/parallax1.png" alt="" class="deepify__layer">
    <!-- <img src="../img/parallax2.png" alt="" class="deepify__layer"> -->
    <!-- <img src="../img/parallax3.png" alt="" class="deepify__layer"> -->
    <!-- <img src="../img/parallax4.png" alt="" class="deepify__layer"> -->
    <div class="deepify__layer align-center"><h1>THE SEASON IS NOW</h1></div>

    <img src="../img/parallax5.png" alt="" class="deepify__layer">
    <img src="../img/parallax6.png" alt="" class="deepify__layer">
    <img src="../img/parallax7.png" alt="" class="deepify__layer">
    <img src="../img/parallax8.png" alt="" class="deepify__layer">
  </div>

  <div class="scroll-point">
    <div class="scroll-point__fullsize">
      <div class="scroll-point__fullsize__bg"></div>
      <div class="scroll-point__fullsize__content">
        <h1>Lorem Ipsum</h1>
      </div>


    </div>
  </div>

</div>

<div class="deepify parallax">

  <div class="deepify__wrapper">

    <img src="../img/view_bg.jpg" alt="" class="deepify__layer">
    <div class="deepify__layer align-center"><h1>THE SEASON IS NOW</h1></div>

    <img src="../img/view_legs.png" alt="" class="deepify__layer">
  </div>

</div>



<div class="scroll-point-sections">

  {% for i in (1..5) %}

  <section class=" scroll-point scroll-point__section center" style="background:url('../img/bg-{{i}}.jpg'); background-attachment:fixed;" offset="100vh">
    <div class="scroll-point__content scroll-point__freeze">
      <div>
        <h1>lorem ipsum {{ i }}</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum alias quia quam, fugiat porro aliquam amet placeat iste incidunt, dolore repudiandae temporibus sed itaque obcaecati eos ipsum, voluptatum illum. Velit?</p>
      </div>
    </div>

    <img class="scroll-point__scrolll" let-it-go offset="00" src="../img/boots/1lager.jpg" />
    <img class="scroll-point__scroll visible" let-it-go offset="{{i}}00" src="../img/blackice/rygga.png" />
  </section>

  {% endfor %}

</div>

<div class="grid">
  {% for i in (1..9) %}
  <div class="grid__item">
    <img src="http://placehold.it/300x300/f{{i}}a{{i}}{{i}}e" alt="">
  </div>
  {% endfor %}
</div>

<section id="id1" class="scroll-point">
  <div class="content ">
    <h1 class="scroll-point__scroll">Rubrik</h1>
    <p class="scroll-point__scroll">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam, adipisci fugit nam aspernatur perferendis iste eaque, ratione quam porro facilis unde nisi fuga pariatur possimus corrupti ipsam numquam corporis. Doloremque.</p>
  </div>
</section>

<div class="deepify">

  <div class="deepify__wrapper">
    <img src="../img/parallax0.png" alt="" class="deepify__layer">
    <img src="../img/parallax1.png" alt="" class="deepify__layer">
    <img src="../img/parallax2.png" alt="" class="deepify__layer">
    <img src="../img/parallax3.png" alt="" class="deepify__layer">
    <img src="../img/parallax4.png" alt="" class="deepify__layer">
    <div class="deepify__layer align-center"><h1>THE SEASON IS NOW</h1></div>

    <img src="../img/parallax5.png" alt="" class="deepify__layer">
    <img src="../img/parallax6.png" alt="" class="deepify__layer">
    <img src="../img/parallax7.png" alt="" class="deepify__layer">
    <img src="../img/parallax8.png" alt="" class="deepify__layer">
  </div>

</div>
