
<!-- <section class="product-spec">

  <div class="container scroll-point product-spec__main">

    <div class="product-spec__video">
      <span class="play-movie">Play movie</span>
      <div class="popup-video">

        <div class="popup-video__overlay"></div>

        <div class="video-wrapper">
          <video>
              <source src=videos/eva_movie_short.mp4 type=video/mp4>
          </video>
        </div>
      </div>
    </div>

    <figure class="product-spec__image">
      <img src="/img/blackice/rygga.png" alt="" class="top-hero__image">
    </figure>


      <div class="scroll-point__scroll product-spec__content" offset="-200">
        <h2>Daypacks</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto iste nobis animi molestiae officiis, harum corrupti consectetur praesentium dicta explicabo aspernatur placeat, esse recusandae, rem doloremque dolorum, quibusdam dolor sint.</p>
      </div>

  </div>
</section> -->

<article class="">

  {% for product in site.data.products.products.backpacks %}

  <section class="scroll-point">
    <div class="content container align-center">

      <h1 class="title medium">{{ product.name }}</h1>
      <p class="big-text-block">{{ product.text }} </p>

    </div>
  </section>

  <section class="product-spec scroll-point">

    <div class="">

      <div class="switches">

        {% for productType in product.types %}

        <div class="switch-tab" control-spots="#{{productType.dataName}}1,#{{productType.dataName}}2,#{{productType.dataName}}3,#{{productType.dataName}}4,#{{productType.dataName}}5,#{{productType.dataName}}6,#{{productType.dataName}}7,#{{productType.dataName}}8,#{{productType.dataName}}9,#{{productType.dataName}}10,#{{productType.dataName}}11">Features</div>

        {% endfor %}

      </div>

      {% for productType in product.types %}

      <div class="color-bg {{ productType.color }}" alt=""></div>

      <section class="container product-spec__main">

        <div class="product-spec__video">
          <span class="play-movie" movie-id="{{ productType.dataName }}">Play movie</span>
          <div class="popup-video">

            <div class="popup-video__overlay"></div>

            <div class="video-wrapper">
              <video id="{{ productType.dataName }}">
                  <source src=videos/eva_movie_short.mp4 type=video/mp4>
              </video>
            </div>
          </div>
        </div>

        <div class="flip-features product-spec__image">
          {% assign counter = 0 %}

          {% for variant in productType.variants %}
          {% assign counter=counter | plus:1 %}

          {% if counter == 1 %}
          <div class="hotspots flip-features__content active">
          {% else %}
          <div class="hotspots flip-features__content">
          {% endif %}

            <figure class="features__hotspots__image ">
              <img src="{{variant.image}}" />
            </figure>

            <div class="hotspots__list">

              {% assign spotCounter = 0 %}

              {% for hotspot in variant.hotspots %}
              {% assign spotCounter=spotCounter | plus:1 %}

              <div id="{{productType.dataName}}{{spotCounter}}" class="hotspots__list__hotspot" data-pos="{{ hotspot.pos }}" >
                <span class="hotspot__text {{ hotspot.align }}">{{ hotspot.text }}</span>

              </div>

              {% endfor %}

            </div>

          </div> <!-- end .hotspots.flip-features__content-->

          {% endfor %}


<!--
          <div class="hotspots flip-features__content active">

            <figure class="features__hotspots__image ">

              {% for variant in productType.variants %}
              <img src="{{variant.image}}" />
              {% endfor %}

            </figure>

            <div class="hotspots__list">

              {% assign counter = 1 %}
              {% for hotspot in product.hotspots %}

              {% assign counter=counter | plus:1 %}

              <div id="{{productType.dataName}}{{counter}}" class="hotspots__list__hotspot" data-pos="{{ hotspot.pos }}" >
                <span class="hotspot__text {{ hotspot.align }}">{{ hotspot.text }}</span>

              </div>

              {% endfor %}

            </div>

          </div>

          <div class="hotspots flip-features__content">

            <figure class="scroll-point__scroll zoom-in features__hotspots__image">

              <img src="/img/backpacks/gnaurback.png" />
            </figure>

            <div class="hotspots__list">

              {% assign counter = 1 %}
              {% for hotspot in product.hotspots %}

              {% assign counter=counter | plus:1 %}

              <div id="{{productType.dataName}}{{counter}}" class="hotspots__list__hotspot" data-pos="{{ hotspot.pos }}" >
                <span class="hotspot__text {{ hotspot.align }}">{{ hotspot.text }}</span>

              </div>

              {% endfor %}

            </div>

          </div> -->

          <div class="flip-toggle"></div>


        </div>


          <div class="scroll-point__scroll product-spec__content" offset="-200">
            <h2 class="title large">{{ productType.name }}</h2>
            <p>{{ productType.text }} </p>
          </div>




      </section>

      <div class="product--icon__features">
        <a href="{{ product.link }}">View all {{ product.linkText }}</a>
      </div>

      {% endfor %}



    </div> <!--  end scroll-point -->



  </section> <!--  end product-spec -->




  {% endfor %}


</article>
