<p>We have worked with sustainability for more than 85 years. To us, this means using robust and high quality materials and the possibility to repair your boot, garment or backpack when you have worn it for a very long time. </p><p>
	Now, we have taken this one step further, and updated our choice of materials, improved our fabric LPC (Lundhags Poly Cotton) and optimised our line of production – to make sure they have as little negative impact on the environment as possible. </p>
