<section class="inspiration scroll-point">

  <article class=" align-center">

    <div class="inspiration__title logo-wrapper">{% include svg-logo.html color="#1d1d1d" %}</div>

    {% for img in text.footer_images %}
    <!-- <img src="{{ img.src }}" alt="" {{ img.attr }} {{ img.offset }} class="inspiration__image scroll-point__scroll visible"> -->
    <img src="{{ img.src }}" alt="" let-it-go offset={{ img.offset }} class="inspiration__image scroll-point__scroll visible">
    {% endfor %}


    <div class="scroll-point__scroll align-right text-block" >

      {{ general_text.footer_text }}

      <div class="social-links">
        <a class="zocial-facebook" href="https://www.facebook.com/lundhags/" title="Lundhags Facebook"><span>Facebook</span></a>
        <a class="zocial-instagram" href="https://www.instagram.com/lundhags/" title="Lundhags Instagram"><span>Instagram</span></a>
        <a class="zocial-youtube" href="https://www.youtube.com/channel/UCt0pS2dT4Np3d4RtYf3f-hw" title="Lundhags Youtube"><span>Youtube</span></a>
      </div>

    </div>

  </article>

</section>
