
<section class="grid scroll-point">

  <div class="grid__item" grid-header>


    <div class="grid__item__text">
      <h3 class="grid__item__title">{{ text.grid1_title }}</h3>
      {% if text.grid1_text %}
      <p>{{ text.grid1_text }}</p>
      {% endif %}
    </div>

    <img src="/img/backpacks/webbings.jpg" alt="" class="">

    <!-- <div class="video-wrapper">
      <img src="/img/omni/omni_grid_header.jpg" alt="" class="video-format">
      <video autoplay muted loop >
          <source src=videos/eva_movie_short.mp4 type=video/mp4>
      </video>
    </div> -->


  </div>

  <div class="grid__item" grid-footer>
    <div class="grid__item__text">

      <h3 class="grid__item__title">{{ text.grid2_title }}</h3>
      {% if text.grid2_text %}
      <p>{{ text.grid2_text }}</p>
      {% endif %}
    </div>

    <img src="/img/backpacks/metalbuckets.jpg" alt="" class="">

  </div>


  </div>

  <div class="grid__item" grid-sidebar>

    <div class="grid__item__text--bottom">
      <h3 class="grid__item__title">{{ text.grid3_title }}</h3>
      {% if text.grid3_text %}
      <p>{{ text.grid3_text }}</p>
      {% endif %}
    </div>

    <img class="scroll-point__scroll zoom-in" src="/img/backpacks/zipper.jpg" alt="" class="">



  </div>

</section>
