<section class="grid scroll-point">


  <div class="grid__item" grid-header>

    <div class="grid__item__text">
      <h3 class="grid__item__title">{{ text.grid1_title }}</h3>
      <p>{{ text.grid1_text }}</p>
    </div>

    <div class="video-wrapper">
      <img src="/img/omni/omni_grid_header.jpg" alt="" class="video-format">
      <video autoplay muted loop >
          <source src=videos/omni.mp4 type=video/mp4>
      </video>
    </div>

  </div>

  <div class="grid__item" grid-footer>

    <div class="grid__item__text">
      <h3 class="grid__item__title">{{ text.grid2_title }}</h3>
      <p>{{ text.grid2_text }}</p>
    </div>

    <img src="/img/omni/worldclasscraftmanship.jpg" alt="" class="">

  </div>


  <div class="grid__item" grid-sidebar>

    <div class="grid__item__text--bottom">
      <h3 class="grid__item__title">{{ text.grid3_title }}</h3>
      <p>{{ text.grid3_text }}</p>
    </div>

    <img src="/img/omni/omni_grid_sidebar_bg.jpg" alt="" class="">
    <!-- <div class="color-bg"></div> -->
    <div class=" grid__item__bg scroll-point__scroll visible" horizontal offset="-400"><img src="/img/omni/detalj_omni.png" alt=""></div>


  </div>

</section>

<!-- <section class="grid scroll-point">

  <div class="grid__item" grid-header>
    <img src="/img/omni/omni_grid_header.jpg" alt="" class="">
    <span class="grid__item__text">Lorem ipsum</span>
    <span class="grid__item__text--top">Lorem ipsum</span>
    <span class="grid__item__text--bottom">Lorem ipsum</span>
  </div>

  <div class="grid__item">
    <img src="/img/omni/omni_grid_small.jpg" alt="" class="">
  </div>

  <div class="grid__item">
    <div class="video-wrapper" style="height:300px">
      <video autoplay muted loop style="height:600px">
          <source src=videos/eva_movie_short.mp4 type=video/mp4>
      </video>
    </div>
  </div>

  <div class="grid__item" grid-sidebar>
    <img src="/img/omni/omni_grid_sidebar_bg.jpg" alt="" class="">
    <div class=" grid__item__bg scroll-point__scroll visible" horizontal offset="-400"><img src="/img/omni/omni_grid_sidebar.png" alt=""></div>
  </div>

</section> -->

<!-- <section class="grid--reverse">

  <div class="grid__item" grid-sidebar>
    <img src="http://placehold.it/400x600/c4d2f3/ffffff" alt="" class="">
  </div>

  <div class="grid__item" grid-header>
    <img src="http://placehold.it/600x300" alt="" class="">
  </div>

  <div class="grid__item">
    <img src="http://placehold.it/300x300/e3e3e3/ffffff" alt="" class="">
  </div>
  <div class="grid__item">
    <img src="http://placehold.it/300x300/f3f3f3/ffffff" alt="" class="">
  </div>


</section> -->
