
<section class="grid scroll-point">

  <div class="grid__item" grid-header>


    <div class="grid__item__text">
      <h3 class="grid__item__title">Organic cotton</h3>
      <!-- <p>Premium polyamid quality supported by internally weaved core lines for extra tensile strength, which makes the webbing extra strong compared to weigth ratio.</p> -->
    </div>

    <img src="/img/season/organiccotton.jpg" alt="" class="">

    <!-- <div class="video-wrapper">
      <img src="/img/omni/omni_grid_header.jpg" alt="" class="video-format">
      <video autoplay muted loop >
          <source src=videos/eva_movie_short.mp4 type=video/mp4>
      </video>
    </div> -->


  </div>

  <div class="grid__item" grid-footer>
    <div class="grid__item__text">

      <h3 class="grid__item__title">100% recycled materials</h3>
      <!-- <p>Made from aircraft grade aluminium. They are durable and extremely strong aluminum stamping, meaning that they won't fail during a long trek where help is far away.
It also adds a great overall finish to the backpacks.</p> -->
    </div>

    <img src="/img/season/recycledmaterial.jpg" alt="" class="">

  </div>

  </div>

  <div class="grid__item" grid-sidebar>

    <div class="grid__item__text--bottom">
      <h3 class="grid__item__title">LPC ECO – LUNDHAGS POLYCOTTON</h3>
      <!-- <p>Racquet coil zippers specially designed for luggage applications. Engineered to meet the toughest performance requirements for extra long lasting functionality.</p> -->
    </div>

    <img class="scroll-point__scroll zoom-in" src="/img/season/lpc.jpg" alt="" class="">



  </div>

</section>
