<section class="grid scroll-point bg-black">

  {% assign counter = 0 %}


  {% if text.grid_items %}
    {% assign gridItems = text.grid_items %}
  {% else  %}
    {% assign gridItems = site.data.general.grid_items %}
  {% endif %}

  {% for gridItem in gridItems %}

    <div class="grid__item" {{ gridItem }}>

      {% if gridItem == "grid-sidebar" %}
      <div class="grid__item__text--bottom">
      {% else %}
      <div class="grid__item__text">
      {% endif %}

        <h3 class="grid__item__title">{{ text.grid[ counter ].title }}</h3>
        {% if text.grid[ counter ].text %}
        <p>{{ text.grid[ counter ].text }}</p>
        {% endif %}

      </div>

      {% if text.grid[ counter ].video %}

      <div class="video-wrapper">
        <img src="{{ site.baseurl }}/img/omni/omni_grid_header.jpg" alt="" class="video-format">
        <video autoplay muted loop >
            <source src="{{ site.baseurl }}{{ text.grid[ counter ].video }}" type=video/mp4>
        </video>
      </div>

      {% endif %}

      {% if text.grid[ counter ].image %}

      <img src="{{ site.baseurl }}{{ text.grid[ counter ].image }}" alt="" class="">

      {% endif %}

      {% if text.grid[ counter ].images %}

      <img src="{{ site.baseurl }}{{ text.grid[ counter ].images[0]}} " alt="" class="">
      <!-- <div class="color-bg"></div> -->
      <div class=" grid__item__bg scroll-point__scroll visible" horizontal offset="-400"><img src="{{ text.grid[ counter ].images[1] }}" alt=""></div>

      {% endif %}

    </div>

    {% assign counter=counter | plus:1 %}

  {% endfor %}


</section>
