

<div class="">

  {% for product in site.data.products.products.heritage %}

  <div class="scroll-point lighten">

    <div show-n-hide="{{ product.types[0].dataName }},{{ product.types[0].variants[0].color }}">

      <div class="switches">
        <ul class="color-list">

        {% for productType in product.types %}

          {% for variant in productType.variants %}
            <li class="dot-color-{{variant.color}} {{productType.model}}" show-n-hide-trigger="{{ productType.dataName }},{{variant.color}}">{{productType.model}}</li>
          {% endfor %}

        {% endfor %}

        </ul>
        {% for productType in product.types %}

        <!-- <div show-n-hide-id="{{ productType.dataName }}" class="switch-tab" control-spots="#{{productType.dataName}}1,#{{productType.dataName}}2,#{{productType.dataName}}3,#{{productType.dataName}}4,#{{productType.dataName}}5">Features</div> -->
        {% endfor %}

      </div>

      {% for productType in product.types %}

      <section show-n-hide-id="{{ productType.dataName }}" class="center product--icon lighten">

        <div class="product--icon__info">
          <div class="">
            <h1>{{ productType.name }}</h1>
            <p>{{ productType.text[page.lang] }} </p>
          </div>
        </div>

        <div class="flip-features">

          <div class="color-bg" alt=""></div>


          <div class="hotspots flip-features__content active">

            <figure class="scroll-point__scroll zoom-in features__hotspots__image product__color-picker">

              {% for variant in productType.variants %}
              <img show-n-hide-id="{{variant.color}}" src="{{variant.image}}" />
              {% endfor %}

            </figure>

            <!-- <div class="hotspots__list">

              {% assign counter = 1 %}
              {% for hotspot in product.hotspots %}

              {% assign counter=counter | plus:1 %}

              <div id="{{productType.dataName}}{{counter}}" class="hotspots__list__hotspot" data-pos="{{ hotspot.pos }}" >
                <span class="hotspot__text {{ hotspot.align }}">{{ hotspot.text }}</span>
              </div>

              {% endfor %}

            </div> -->

          </div>

        </div>

        <span class="product--icon__type">Heritage</span>

        <div class="product--icon__features">
          <a href="{{ productType.link[page.lang] }}">{{ general_text.go_to_product }}</a>
        </div>

      </section>

      {% endfor %}



    </div> <!--  end show-n-hide -->

  </div> <!--  end scroll-point -->

  {% endfor %}


</div>
