<div class="bg-gray scroll-point">
  <div class="container wrapper align-center">
    <header>
      <h1>#theseasonisnow</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore accusantium cumque ducimus laborum quam dolorum recusandae voluptatem soluta dolor, voluptas nam iure? Consequuntur distinctio similique repellat nesciunt, consectetur modi dicta.</p>
    </header>
    <section class="grid--squares">
      {% for i in (1..11) %}
      <div class="grid__item scroll-point__show" offset="-400">
        <!-- <img src="http://placehold.it/300x300/{{i}}{{i}}cc{{i}}4" alt=""> -->

        {% if i == 2 or i == 4 or i == 6 or i == 8 or i == 10 %}
        <img src="https://scontent-sea1-1.cdninstagram.com/t51.2885-15/s480x480/e35/c90.0.560.560/12301366_1519784998334585_1109911442_n.jpg?ig_cache_key=MTEyNDU0MjkyODY4NzI3OTU1Ng%3D%3D.2.c&se=7" alt="">
        {% else %}
        <img src="https://scontent-sea1-1.cdninstagram.com/t51.2885-15/s480x480/e35/c119.0.511.511/13118160_1240304825988673_1587798320_n.jpg?ig_cache_key=MTI0Njg3NjI5OTc2ODk2NjQ2OQ%3D%3D.2.c" alt="">

        {% endif %}
      </div>
      {% endfor %}

      <div class="grid__item">
        <h3>Follow us</h3>
        <p>Is it broken? We fix it. Our boots are an excellent example of our approach. At the foundation, all of the boot’s parts have.</p>
        <div class="social-links">
          <a href="#" class="icon--fb"></a>
          <a href="#" class="icon--fb"></a>
          <a href="#" class="icon--fb"></a>
        </div>
      </div>

    </section>
  </div>
</div>
