<footer>
		<div class="container">
			<div class="row">
																																												<div class="col-xs-12 col-sm-6 col-md-4">
							<h3><a href="https://www.lundhags.se/kundservice">Kundservice</a></h3>
																					<ul class="list">
																											<li><a href="https://www.lundhags.se/kundservice/leverans-villkor">Leverans &amp; villkor</a></li>
																																				<li><a href="https://www.lundhags.se/kundservice/integritetspolicy">Integritetspolicy</a></li>
																																				<li><a href="https://www.lundhags.se/kundservice/skomakaren-1">Skomakaren</a></li>
																																				<li><a href="https://www.lundhags.se/kundservice/skomakarens-garanti">Skomakarens garanti</a></li>
																																				<li><a href="https://www.lundhags.se/kundservice/vanliga-fragor-e-handel">Vanliga frågor E-handel</a></li>
																								</ul>
													</div>
																																																		<div class="col-xs-12 col-sm-6 col-md-4">
							<h3><a href="https://www.lundhags.se/om-lundhags">Om Lundhags</a></h3>
																					<ul class="list">
																											<li><a href="https://www.lundhags.se/om-lundhags/karriar-jobb">Karriär &amp; Jobb</a></li>
																																				<li><a href="https://www.lundhags.se/om-lundhags/bocker-magasin">Böcker och Magasin</a></li>
																																				<li><a href="https://www.lundhags.se/om-lundhags/historik">Historik</a></li>
																																				<li><a href="https://www.lundhags.se/om-lundhags/lundhags-fabriksbutik-i-jarpen">Lundhags Fabriksbutik i Järpen</a></li>
																																				<li><a href="https://www.lundhags.se/om-lundhags/lundhags-fabruksbutik-i-insjon">Lundhags Fabruksbutik i Insjön</a></li>
																																				<li><a href="https://www.lundhags.se/om-lundhags/norr-green-partner">NORR Green Partner</a></li>
																																				<li><a href="https://www.lundhags.se/om-lundhags/hallbarhet-miljo">Hållbarhet</a></li>
																																				<li><a href="https://www.lundhags.se/om-lundhags/hjartstartare-i-butikerna">Hjärtstartare i butikerna</a></li>
																								</ul>
													</div>

				<div class="col-xs-12 col-md-4">
					<h3>Följ oss</h3>
					<div class="col-xs-12">
						<form method="post" name="newsletterform" id="newsletterFooter" action="">
							<input type="hidden" name="CRAFT_CSRF_TOKEN" value="XZRhB51zPt6pq648QRAUZm7SOBwcwKmI7pmNBh7f">
							<input type="hidden" name="action" value="mailchimpSubscribe/list/subscribe">

							<div class="row">
								<div class="col-xs-9 col-md-10 no-padding">
									<div class="form-group form-group-lg">
										<label class="sr-only" for="email-footer">Följ oss</label>
										<input type="email" class="form-control" id="email-footer" name="email" value="" placeholder="Din e-postadress">
									</div>
								</div>
								<div class="col-xs-3 col-md-2 no-padding">
									<button title="Skicka" type="submit" id="submitNewsletterFooter" name="" class="btn btn-default btn-block"><span class="hidden">Skicka</span><span class="entypo-mail"></span></button>
								</div>
								<div id="newsletter-footer-success" class="newsletterFeedback" style="display:none">
									<div class="label-box"><span class="label label-default label-success">Du är nu registrerad på e-postlistan</span></div>
								</div>
								<div id="newsletter-footer-already-registred" class="newsletterFeedback" style="display:none;">
									<div class="label-box"><span class="label label-default label-danger">E-postadressen är redan registrerad</span></div>
								</div>
								<div id="newsletter-footer-invalid" class="newsletterFeedback" style="display:none;">
									<div class="label-box"><span class="label label-default label-danger">E-postadressen är inte giltig</span></div>
								</div>
								<div id="newsletter-footer-error" class="newsletterFeedback" style="display:none;">
									<div class="label-box"><span class="label label-default label-danger">Det gick inte att registrera e-postadressen</span></div>
								</div>
															</div>
						</form>

						<div class="row">
							<div class="no-padding col-xs-12 col-sm-7 col-md-12 social-links">
								<a class="zocial-facebook" href="https://www.facebook.com/lundhags/" title="Besøk Facebook-siden vår"><span>Facebook</span></a>
								<a class="zocial-instagram" href="https://www.instagram.com/lundhags/" title="Besøk Instagram-kontoen vår"><span>Instagram</span></a>
								<a class="zocial-pinterest" href="https://www.pinterest.com/lundhags/" title="Besøk Pinterest-siden vår"><span>Pinterest</span></a>
								<a class="zocial-youtube" href="https://www.youtube.com/channel/UCt0pS2dT4Np3d4RtYf3f-hw" title="Besøk Youtube-kanalen vår"><span>Youtube</span></a>
								<a class="zocial-linkedin" href="https://www.linkedin.com/company/lundhags" title="Besøk LinkedIn-profilen vår"><span>LinkedIn</span></a>
								<a class="zocial-issuu" href="http://issuu.com/lundhags">
									<img src="/images/issuu_grey.png" alt="Logo for Issuu">
								</a>
							</div>
							<div class="no-padding col-xs-12 col-sm-5 col-md-12 shopsafe">
								<h3>Handla tryggt</h3>
								<img class="ss-klarna blur-up lazyloaded" data-src="https://cdn.klarna.com/1.0/shared/image/generic/badge/sv_se/checkout/long-white.png?width=370" alt="Logo for Klarna Checkout" src="https://cdn.klarna.com/1.0/shared/image/generic/badge/sv_se/checkout/long-white.png?width=370">
							</div>
						</div>
					</div>
				</div>

			</div>
			<div class="bottom">
				<div class="row">
					<div class="col-sm-4">
						<img class="ss-trygg blur-up lazyloaded" data-src="/images/trygg_e-handel_hanglas_100-kopia.png" alt="Logo fro Trygg e-handel" src="/images/trygg_e-handel_hanglas_100-kopia.png">
						<img class="ss-postnord blur-up lazyloaded" data-src="/images/postnord-logo.png" alt="Logo for Post Nord" src="/images/postnord-logo.png">
					</div>
					<div class="col-sm-8">
						<div id="logo-footer">
							<img alt="logo" class="blur-up lazyloaded" data-src="/images/logo-footer.png" src="/images/logo-footer.png">
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>

  <link rel="stylesheet" href="https://www.lundhags.se/css/lundhags.css">
