<footer>
  <div class="container">
      <div class="row">
                                                                                              <div class="col-xs-12 col-sm-6 col-md-4">
                      <h3><a href="/Kundservice">Kundservice</a></h3>
                      <ul class="list">
                                                          <li><a href="/Kundservice/Kontakta-oss">Kontakta oss</a></li>
                                                          <li><a href="/Kundservice/Leverans-villkor">Leverans &amp; villkor</a></li>
                                                          <li><a href="/Kundservice/Skomakaren">Skomakaren</a></li>
                                                          <li><a href="/Kundservice/Integritetspolicy">Integritetspolicy </a></li>
                                                          <li><a href="/Kundservice/Lundhags-kaenggaranti">Lundhags känggaranti</a></li>
                                                          <li><a href="/Kundservice/Vanliga-fraagor-E-handel">Vanliga frågor E-handel</a></li>
                                                                              </ul>
                  </div>
                                                                                  <div class="col-xs-12 col-sm-6 col-md-4">
                      <h3><a href="/Om-Lundhags">Om Lundhags</a></h3>
                      <ul class="list">
                                                          <li><a href="/Om-Lundhags/Om-oss">Om oss</a></li>
                                                          <li><a href="/Om-Lundhags/Karriaer-Jobb">Karriär &amp; Jobb</a></li>
                                                          <li><a href="/Om-Lundhags/Boecker-och-Magasin">Böcker och Magasin</a></li>
                                                          <li><a href="/Om-Lundhags/Historik">Historik</a></li>
                                                          <li><a href="/Om-Lundhags/Lundhags-Fabriksbutik-i-Jaerpen">Lundhags Fabriksbutik i Järpen</a></li>
                                                          <li><a href="/Om-Lundhags/Lundhags-Fabriksbutik-i-Insjoen">Lundhags Fabriksbutik i Insjön</a></li>
                                                          <li><a href="/Om-Lundhags/NORR-Green-Partner">NORR Green Partner</a></li>
                                                          <li><a href="/Om-Lundhags/Haallbarhet">Hållbarhet</a></li>
                                                          <li><a href="/Om-Lundhags/Hjaertstartare-i-butikerna">Hjärtstartare i butikerna</a></li>
                                                                                      <li><a href="/content/view/sitemap/2">Webbplatskarta</a></li>
                                                  </ul>
                  </div>

                          <div class="col-xs-12 col-md-4">
                  <h3>Följ oss</h3>
                  <div class="col-xs-12">
                                              <form method="post" name="newsletterform" id="newsletterFooter" action="/content/action">
                          <div class="row">
                              <div class="col-xs-9 col-md-10 no-padding">
                                  <div class="form-group form-group-lg">
                                      <label class="sr-only" for="email">Email</label>
                                      <input type="email" class="form-control" id="email-footer" name="ContentObjectAttribute_data_text_206475" value="" placeholder="Din epostadress" />
                                  </div>
                              </div>
                              <div class="col-xs-3 col-md-2 no-padding">
                                  <input type="hidden" name="ContentNodeID" value="2226" />
                                  <input type="hidden" name="ContentObjectID" value="2205" />
                                  <input type="hidden" name="ViewMode" value="full" />
                                  <button type="submit" id="submitNewsletterFooter" name="ActionCollectInformation" class="btn btn-default btn-block"><span class="entypo-mail"></span></button>
                              </div>
                              <div id="newsletter-footer-success" style="display:none">
                                  <div class="label-box">
                                      <span class="label label-default label-success">
                                          Du är nu registrerad på e-postlistan
                                      </span>
                                  </div>
                              </div>
                              <div id="newsletter-footer-already-registred" style="display:none;">
                                  <div class="label-box">
                                      <span class="label label-default label-danger">
                                          E-postadressen är redan registrerad
                                      </span>
                                  </div>
                              </div>
                              <div id="newsletter-footer-invalid" style="display:none;">
                                  <div class="label-box">
                                      <span class="label label-default label-danger">
                                          E-postadressen är inte giltig
                                      </span>
                                  </div>
                              </div>
                              <div id="newsletter-footer-error" style="display:none;">
                                  <div class="label-box">
                                      <span class="label label-default label-danger">
                                          Det gick inte att registrera e-postadressen
                                      </span>
                                  </div>
                              </div>
                          </div>
                      </form>

                      <div class="row">
                          <div class="no-padding col-xs-12 col-sm-7 col-md-12 social-links">
                              <a class="zocial-facebook" href="https://www.facebook.com/lundhags/"><span>Facebook</span></a>
                              <a class="zocial-instagram" href="https://www.instagram.com/lundhags/"><span>Instagram</span></a>
                              <a class="zocial-pinterest" href="https://www.pinterest.com/lundhags/"><span>Pinterest</span></a>
                              <a class="zocial-youtube" href="https://www.youtube.com/channel/UCt0pS2dT4Np3d4RtYf3f-hw"><span>Youtube</span></a>
                              <a class="zocial-linkedin" href="https://www.linkedin.com/company/lundhags"><span>LinkedIn</span></a>
                              <a class="zocial-issuu" href="http://issuu.com/lundhags">
                                <img src="http://lundhags.se/extension/bytedesign_lundhags/design/lundhags/images/issuu_grey.png" />
                              </a>
                          </div>
                          <div class="no-padding col-xs-12 col-sm-5 col-md-12 shopsafe">
                              <h3>Handla tryggt</h3>
                <img class="ss-klarna" src="https://cdn.klarna.com/1.0/shared/image/generic/badge/sv_se/checkout/long-white.png?width=370"/>
                          </div>
                      </div>
                  </div>
              </div>
                  </div>
      <div class="bottom">
          <div class="row">
              <div class="col-sm-4">

                                      <img class="ss-trygg" src="http://lundhags.se/extension/bytedesign_lundhags/design/lundhags/images/trygg_e-handel_hanglas_100-kopia.png" />
                  <img class="ss-postnord" src="http://lundhags.se/extension/bytedesign_lundhags/design/lundhags/images/postnord-logo.png" />
              </div>
              <div class="col-sm-8">
                  <div id="logo-footer">
                      <img alt="logo" src="http://lundhags.se/extension/bytedesign_lundhags/design/lundhags/images/logo-footer.png">
                  </div>
              </div>
          </div>
      </div>
  </div>
</footer>	<script type="text/javascript" src="http://lundhags.se/extension/bytedesign_lundhags/design/lundhags/javascript/bootstrap-3.3.2.js" charset="utf-8"></script>
<script type="text/javascript" src="http://lundhags.se/extension/bytedesign_lundhags/design/lundhags/javascript/jquery.elevateZoom-3.0.8.min.js" charset="utf-8"></script>
<script type="text/javascript" src="http://lundhags.se/extension/bytedesign_lundhags/design/lundhags/javascript/rem.js" charset="utf-8"></script>
<script type="text/javascript" src="http://lundhags.se/extension/bytedesign_lundhags/design/lundhags/javascript/owl.carousel.js" charset="utf-8"></script>
<script type="text/javascript" src="http://lundhags.se/extension/bytedesign_lundhags/design/lundhags/javascript/star-rating.min.js" charset="utf-8"></script>
<script type="text/javascript" src="http://lundhags.se/extension/bytedesign_lundhags/design/lundhags/javascript/jscore.js" charset="utf-8"></script>
<script type="text/javascript" src="http://lundhags.se/extension/bytedesign_lundhags/design/lundhags/javascript/custom.js" charset="utf-8"></script>




</body>
</html>
