
<article id="clothing">

  <section class="banner">
    <img src="/img/season/clothing.jpg" alt="" class="banner_bg">
    <div class="banner__content">
      <h1 class="banner__title">{{ text.clothing_title }}</h1>
      <p>{{ text.clothing_text }}</p>
      <a class="btn" href="{{ text.clothing_link }}">{{ general_text.go_to }} {{ text.clothing_title }}</a>
      <!-- <a class="btn" href="{{ text.clothing_link }}">{{ general_text.go_to_products }}</a> -->
    </div>

  </section>

  <section class="mozaik">

    {% for category in text.clothing_categories %}

    <div class="columns scroll-point">

      <figure class="col-2">

      {% if category.parallax %}

        <img src="http://placehold.it/600x700" alt="" class="col-size">

        <div class="deepify parallax">

          <div class="deepify__wrapper">

            <img src="{{ category.parallax.image_bg }}" alt="" class="deepify__layer">
            <div class="deepify__layer align-center"></div>
            <img src="{{ category.parallax.image }}" alt="" class="deepify__layer">
          </div>

        </div>

      {% else %}

        <div class="color-bg {{ category.bg_color }} absolute"></div>
        <img src="{{ category.image }}" alt="">

      {% endif %}

      </figure>

      <div class="col-2">
        <div class="columns__content">
          <div class="columns__content__wrapper align-center scroll-point__scroll visible">
            <h2 class="title small">{{ category.title }}</h2>
            <p>{{ category.text }}</p>

            {% assign linkText = general_text.go_to | append: " " | append: category.title %}

            {% if page.lang == "de" %}
              {% assign linkText = "Zum " | append: category.title | append: " gehen"%}
            {% endif %}

            <a href="{{ category.link }}">{{ linkText }} </a>
            <!-- <a href="{{ category.link }}">{{ general_text.go_to_products }}</a> -->
          </div>
        </div>
      </div>

    </div>


    {% endfor %}

  </section>

</article>
