


<article class="">

  {% for product in site.data.products.products.pants %}

  {% for productType in product.types %}

  <section class="product-spec scroll-point">

    <div class="">

      {% if productType.features != 'false' %}

      <div class="switches">


        <div class="switch-tab" control-spots="#{{productType.dataName}}1,#{{productType.dataName}}2,#{{productType.dataName}}3,#{{productType.dataName}}4,#{{productType.dataName}}5,#{{productType.dataName}}6,#{{productType.dataName}}7,#{{productType.dataName}}8,#{{productType.dataName}}9,#{{productType.dataName}}10,#{{productType.dataName}}11">Features</div>

      </div>

      {% endif %}

      <div class="color-bg {{ productType.color }}" alt=""></div>

      <section class="container product-spec__main">

        {% if product.movie_src %}

        <div class="product-spec__video">
          <span class="play-movie" movie-id="{{ productType.dataName }}">{{ general_text.play_movie }}</span>
          <div class="popup-video">

            <div class="popup-video__overlay"></div>

            <div class="video-wrapper">
              <video id="{{ productType.dataName }}">
                  <source src="{{ product.movie_src }}" type=video/mp4>
              </video>
            </div>
          </div>
        </div>

        {% endif %}

        <div class="flip-features product-spec__image">
          {% assign counter = 0 %}

          {% for variant in productType.variants %}
          {% assign counter=counter | plus:1 %}

          {% if counter == 1 %}
          <div class="hotspots flip-features__content active">
          {% else %}
          <div class="hotspots flip-features__content">
          {% endif %}

            <figure class="features__hotspots__image ">
              <img class="shadow" src="{{variant.image}}" />
            </figure>

            <div class="hotspots__list">

              {% assign spotCounter = 0 %}

              {% for hotspot in variant.hotspots %}
              {% assign spotCounter=spotCounter | plus:1 %}

              <div id="{{productType.dataName}}{{spotCounter}}" class="hotspots__list__hotspot" data-pos="{{ hotspot.pos }}" >
                <span class="hotspot__text {{ hotspot.align }}">{{ hotspot.text }}</span>

              </div>

              {% endfor %}

            </div>

          </div> <!-- end .hotspots.flip-features__content-->


          {% endfor %}


          {% if counter > 1 %}

          <div class="flip-toggle"></div>
          {% endif %}


        </div>

          <div class="scroll-point__scroll product-spec__content" offset="-200">
            <h2 class="title medium">{{ productType.name }}</h2>
            <p>{{ productType.text }} </p>
          </div>




      </section>

      <span class="product--icon__type">{{ product.linkText }}</span>

      <div class="product--icon__features">
        <a href="{{ product.link }}">{{ text.product_link_text_before }} {{ product.linkText }} {{ text.product_link_text_after }}</a>
      </div>




    </div> <!--  end scroll-point -->



  </section> <!--  end product-spec -->

  {% endfor %}



  {% endfor %}


</article>
