
<section class="scroll-point">
  <div class="content container align-center scroll-point__scroll visible" offset="-400">
    {% if include.title %}
    <h2 class="title medium">{{ include.title }}</h2>
    {% endif %}
    {% if include.content %}
    <p class="big-text-block">{{ include.content }}</p>
    {% endif %}
  </div>
</section>
