---
layout: lundhags
title: Lundhags - Backpacks
---


<section class="top-hero">
  <section class="banner">

    <div class="deepify parallax" reverse>

      <div class="deepify__wrapper">

        <img src="../img/backpacks/lundhags_backpacks_layer0.jpg" alt="" class="deepify__layer">
        <!-- <img src="../img/the-season-is-now-layer_2.png" alt="" class="deepify__layer"> -->
        <div class="deepify__layer align-center align-top"><h1 class="title bordered large">Backpacks</h1></div>

        <img src="../img/backpacks/lundhags_backpacks_layer1.png" alt="" class="deepify__layer">
        <!-- <div class="deepify__layer align-center"><h1 class="title bordered large">The season is now</h1></div> -->

        <!-- <img src="../img/the-season-is-now-layer_0.png" alt="" class="deepify__layer"> -->

      </div>

    </div>

  </section>

</section>

<section class="top-hero">
  <section class="banner">
    <img src="/img/trees.jpg" alt="" class="banner__bg no-animation">

    <h1 class="banner__title">Our New Range</h1>

  </section>

  <div class="top-hero__content">
    <!-- <h1 class="top-hero__title">Our New Range</h1> -->
    <div class="top-hero__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta, est debitis veniam nisi vitae autem amet cumque ratione expedita culpa eveniet animi praesentium modi qui magnam. Exercitationem repellendus rem incidunt.</div>
    <!-- <img src="/img/boots/eva.jpg" alt="" class="top-hero__image"> -->
  </div>
</section>


<div class="twisted-columns scroll-point">
  <div class="twisted-column">
    <div class="col-2">
      <!-- <img src="/img/boots/eva.jpg" alt="" class="top-hero__image"> -->
      <div class="video-wrapper">
        <video autoplay muted loop style="height:700px">
            <source src=videos/eva_movie_short.mp4 type=video/mp4>
        </video>
      </div>
    </div>
    <div class="col-2">
      <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto iste nobis animi molestiae officiis, harum corrupti consectetur praesentium dicta explicabo aspernatur placeat, esse recusandae, rem doloremque dolorum, quibusdam dolor sint.</p> -->
    </div>
  </div>
  <div class="twisted-column ">
    <div class="col-2">
      <img src="/img/boots/eva.jpg" alt="" class="top-hero__image">
    </div>
    <div class="col-2">
      <div class="scroll-point__scroll">
        <h2>Daypacks</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto iste nobis animi molestiae officiis, harum corrupti consectetur praesentium dicta explicabo aspernatur placeat, esse recusandae, rem doloremque dolorum, quibusdam dolor sint.</p>
      </div>
    </div>
  </div>
</div>


<section class="scroll-point">
  <div class="container">

    <div class="triple-images">
      <img src="/img/blackice/rygga.png" alt="" class="scroll-point__scroll visible" horizontal reverse offset="-300">
      <img src="/img/blackice/rygga.png" alt="" class="scroll-point__scroll visible" offset="-400">
      <img src="/img/blackice/rygga.png" alt="" class="scroll-point__scroll visible" horizontal offset="-300">
    </div>
  </div>
</section>

<section class="one-col-scroll bg-gray">


  <div class="scroll-point" offset="100vh">


    <div class="container columns">

      <div class="col-2 fill"></div>

      <div class="col-2">
        <div class="columns__content">
            <img src="/img/boots/1lager.jpg" alt="">
        </div>
      </div>

    </div>

    <div class="container columns">

      <div class="col-2 fill"></div>


      <div class="col-2">
        <div class="columns__content">

          <div class="columns__content__wrapper">

          <h1>Lorem ipsum</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi nisi fugiat voluptas iste deleniti doloremque, aut autem, et exercitationem, distinctio error, eligendi? Nihil, error vel modi repellat, ut autem doloribus.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi nisi fugiat voluptas iste deleniti doloremque, aut autem, et exercitationem, distinctio error, eligendi? Nihil, error vel modi repellat, ut autem doloribus.</p>
          </div>
        </div>
      </div>

    </div>



    <div class="scroll-point__stick">

      <div class="container columns">

        <div class="col-2">
          <div class="columns__content">

            <div class="overlay-logo">

              {% include svg-logo.html color="#FEFEFE" %}

            </div>

            <img src="/img/boots/3lager.jpg" alt="">


          </div>
        </div>
        <div class="col-2"></div>


      </div>
    </div>


  </div>
</section>



<section class="scroll-point">

  <div class="movie-wrapper">

    <img src="http://placehold.it/900x380" alt="">

    <video>
        <source src=videos/eva_movie_short.mp4 type=video/mp4>
    </video>

    <span class="play-movie">Play movie</span>

  </div>



</section>


<section class="scroll-point">
  <div class="content container align-center">
    <div class="logo-wrapper">
    {% include svg-logo.html color="#000000" %}</div>
    <p class="big-text-block">2018 the year without compromise. <br> A one-year assortment of world-class outdoor products for every occation. Covering everything you need from head to to. There is no better time to get out, love the season. <br>The season is now</p>
  </div>
</section>

<section class="grid scroll-point">

  <div class="grid__item" grid-header>
    <img src="/img/omni/omni_grid_header.jpg" alt="" class="">
  </div>

  <div class="grid__item">
    <img src="/img/omni/omni_grid_small.jpg" alt="" class="">
  </div>

  <div class="grid__item">
    <div class="video-wrapper" style="height:300px">
      <video autoplay muted loop style="height:600px">
          <source src=videos/eva_movie_short.mp4 type=video/mp4>
      </video>
    </div>
  </div>

  <div class="grid__item" grid-sidebar>
    <img src="/img/omni/omni_grid_sidebar_bg.jpg" alt="" class="">
    <div class=" grid__item__bg scroll-point__scroll visible" horizontal offset="-400"><img src="/img/omni/omni_grid_sidebar.png" alt=""></div>
  </div>

</section>


{% for i in (1..3) %}

<section class="product-spec">

  <div class="container scroll-point product-spec__main">

    <div class="product-spec__video">
      <span class="play-movie">Play movie</span>
      <div class="popup-video">

        <div class="popup-video__overlay"></div>

        <div class="video-wrapper">
          <video>
              <source src=videos/eva_movie_short.mp4 type=video/mp4>
          </video>
        </div>
      </div>
    </div>

    <figure class="product-spec__image">
      <img src="/img/blackice/rygga.png" alt="" class="top-hero__image">
    </figure>


      <div class="scroll-point__scroll product-spec__content" offset="-200">
        <h2>Daypacks</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto iste nobis animi molestiae officiis, harum corrupti consectetur praesentium dicta explicabo aspernatur placeat, esse recusandae, rem doloremque dolorum, quibusdam dolor sint.</p>
      </div>


  </div>

  <div class="features bg-light scroll-point" offset="100vh">


    {% for i in (1..2) %}

    {% if i == 1 %}
    <div class="container scroll-point" offset="85%" id="ID-{{i}}" trigger-hotspots="#spot{{i}}1,#spot{{i}}2,#spot{{i}}3,#spot{{i}}4">

    {% else %}
    <div class="container scroll-point" offset="50%" id="ID-{{i}}" trigger-hotspots="#spot{{i}}1,#spot{{i}}2,#spot{{i}}3,#spot{{i}}4">
    {% endif %}
      <div class="features__intro">
        <h2>Specific features</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis animi atque provident optio cum, reiciendis et nihil quod iure, quibusdam sint ipsum quae. Quibusdam vitae dolorem sint qui non, similique.</p>
      </div>

      <div class="features__hotspots__info scroll-point__stick-to-the-right">

        <h3>Lorem ipsum set dolor {{i}}</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam cupiditate eius tempore ad nam nihil. Eos natus laudantium, sunt possimus adipisci neque esse optio vel magnam odio sapiente officiis velit.</p>

        <ul class="features__hotspots__features">
          <li control-spot="spot{{i}}1">Lorem ipsum dolor sit amet</li>
          <li control-spot="spot{{i}}2">Lorem ipsum dolor sit amet</li>
          <li control-spot="spot{{i}}3">Lorem ipsum dolor sit amet</li>
          <li control-spot="spot{{i}}4">Lorem ipsum dolor sit amet</li>
        </ul>
      </div>
    </div>

    {% endfor %}

    <div class="scroll-point__stick">
      <div class="hotspots">

        <div class="features__image">
          <img src="/img/blackice/rygga.png" alt="" class="features__hotspots__image">
        </div>

        <div class="hotspots__list">
          <div id="spot11" class="hotspots__list__hotspot" data-pos="40,30"></div>
          <div id="spot12" class="hotspots__list__hotspot" data-pos="20,80"></div>
          <div id="spot13" class="hotspots__list__hotspot" data-pos="30,30"></div>
          <div id="spot14" class="hotspots__list__hotspot" data-pos="40,50"></div>
          <div id="spot21" class="hotspots__list__hotspot" data-pos="20,90"></div>
          <div id="spot22" class="hotspots__list__hotspot" data-pos="40,90"></div>
          <div id="spot23" class="hotspots__list__hotspot" data-pos="60,90"></div>
          <div id="spot24" class="hotspots__list__hotspot" data-pos="80,90"></div>
          <div id="spot31" class="hotspots__list__hotspot" data-pos="40,30"></div>
          <div id="spot32" class="hotspots__list__hotspot" data-pos="20,80"></div>
          <div id="spot33" class="hotspots__list__hotspot" data-pos="30,30"></div>
          <div id="spot34" class="hotspots__list__hotspot" data-pos="40,50"></div>
          <div id="spot41" class="hotspots__list__hotspot" data-pos="20,90"></div>
          <div id="spot42" class="hotspots__list__hotspot" data-pos="40,90"></div>
          <div id="spot43" class="hotspots__list__hotspot" data-pos="60,90"></div>
          <div id="spot44" class="hotspots__list__hotspot" data-pos="80,90"></div>
        </div>

      </div>
    </div>

  </div>


</section>

{% endfor %}


<!-- <div class="">

  {% for i in (1..4) %}

  <section class="scroll-point center product--icon">

    <div class="flip-features">

      {% if i == 2 or i == 4 %}
      <img class="bg" src="http://placehold.it/1440x1068/4D3536/4D3536" alt="">
      {% else %}
      <img class="bg" src="http://placehold.it/1440x1068/223e4c/223e4c" alt="">
      {% endif %}

      <div class="hotspots flip-features__content active">

        <figure class="scroll-point__scroll zoom-in features__hotspots__image">
          <img class=" " src="/img/omni/shoe.png" />
        </figure>


        <div class="hotspots__list">
          <div id="spot{{i}}1" class="hotspots__list__hotspot" data-pos="17,70" ><span class="hotspot__text">Breathable upper construction</span></div>
          <div id="spot{{i}}2" class="hotspots__list__hotspot" data-pos="30,55" ><span class="hotspot__text">Flexible lasting board</span></div>
          <div id="spot{{i}}3" class="hotspots__list__hotspot" data-pos="40,40" ><span class="hotspot__text">Trek buff approach outsole</span></div>
          <div id="spot{{i}}4" class="hotspots__list__hotspot" data-pos="70,70" ><span class="hotspot__text">High quality European leather</span></div>
          <div id="spot{{i}}5" class="hotspots__list__hotspot" data-pos="80,70" ><span class="hotspot__text top">Libasmart TPU</span></div>
        </div>

      </div>
      <div class="hotspots flip-features__content">

        <figure class="scroll-point__scroll zoom-in features__hotspots__image">
          <img class=" " src="/img/omni/shoe_flip.png" />
        </figure>

        <div class="hotspots__list">
          <div id="spot{{i}}1" class="hotspots__list__hotspot" data-pos="40,70" ><span class="hotspot__text">Breathable upper construction</span></div>
          <div id="spot{{i}}2" class="hotspots__list__hotspot" data-pos="70,70" ><span class="hotspot__text">Flexible lasting board</span></div>

          <div id="spot{{i}}4" class="hotspots__list__hotspot" data-pos="40,55" ><span class="hotspot__text">High quality European leather</span></div>
          <div id="spot{{i}}5" class="hotspots__list__hotspot" data-pos="17,70" ><span class="hotspot__text top">Libasmart TPU</span></div>
        </div>

      </div>

      <div class="flip-toggle"></div>

    </div>

    <span class="product--icon__type">Omni boots</span>


    <div class="product--icon__info">
      <div class="">

        {% if i == 1 %}
        <h1>Bjerg Low</h1>

        {% else if i == 2 %}
        <h1>Strei Low</h1>

        {% else if i == 3 %}
        <h1>Riim Mid</h1>

        {% else %}
        <h1>Bjerg Mid</h1>
        {% endif %}

        <p>A nice summer shoe for everyday wear. Strei is comfortable and breathable and also suitable for light hiking. </p>
      </div>
    </div>

    <div class="product--icon__features">
      <div class="btn--faded" control-spots="#spot{{i}}1,#spot{{i}}2,#spot{{i}}3,#spot{{i}}4,#spot{{i}}5">View features</div>
      <a href="#">Go to product</a>
    </div>


  </section>

  {% endfor %}

</div> -->




<section class="inspiration scroll-point">

  <article class="container align-center">

    <h1 class="inspiration__title">Backpacks</h1>

    <img src="/img/trees.jpg" alt="" let-it-go class="inspiration__image scroll-point__scroll visible">
    <img src="/img/trees.jpg" alt="" let-it-go horizontal class="inspiration__image scroll-point__scroll visible">
    <img src="/img/trees.jpg" alt="" let-it-go class="inspiration__image scroll-point__scroll visible">

    <div class="scroll-point__scroll align-left text-block" offset="-200">
      <h2>Daypacks</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto iste nobis animi molestiae officiis, harum corrupti consectetur praesentium dicta explicabo aspernatur placeat, esse recusandae, rem doloremque dolorum, quibusdam dolor sint.</p>
    </div>

  </article>



</section>

<div class="bg-gray scroll-point">
  <div class="container wrapper align-center">
    <header>
      <h1>#theseasonisnow</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore accusantium cumque ducimus laborum quam dolorum recusandae voluptatem soluta dolor, voluptas nam iure? Consequuntur distinctio similique repellat nesciunt, consectetur modi dicta.</p>
    </header>
    <section class="grid--squares">
      {% for i in (1..11) %}
      <div class="grid__item scroll-point__show" offset="-400">
        <img src="http://placehold.it/300x300/{{i}}{{i}}cc{{i}}4" alt="">
      </div>
      {% endfor %}

      <div class="grid__item">
        <h3>Follow us</h3>
        <p>Is it broken? We fix it. Our boots are an excellent example of our approach. At the foundation, all of the boot’s parts have.</p>
        <div class="social-links">
          <a href="#" class="icon--fb"></a>
          <a href="#" class="icon--fb"></a>
          <a href="#" class="icon--fb"></a>
        </div>
      </div>

    </section>
  </div>
</div>

<!--
<div class="deepify parallax">

  <div class="deepify__wrapper">

    <img src="../img/view_bg.jpg" alt="" class="deepify__layer">
    <div class="deepify__layer align-center"><h1>THE SEASON IS NOW</h1></div>

    <img src="../img/view_legs.png" alt="" class="deepify__layer">
  </div>

</div> -->
