@import "base/variables";
@import "base/animations";
@import "base/mixins";
@import "base/fonts";
@import "base/gui";

@import "content/banner";
@import "content/grid";
@import "content/columns";
@import "content/color-bg";
@import "content/product-spec";
@import "content/videos";
@import "content/product-icon";
@import "content/twisted-columns";
@import "content/scroll-points";
@import "content/deepify";
@import "content/features";
@import "content/mozaik";
@import "content/inspiration";
@import "content/show-n-hide";
@import "content/notes";

.bg-light {
	background: #fff;
	color:#000;
}

.bg-black {
	background: #000;
	color:#fff;
}

.bg-gray {
	background: $gray;
	color:#fff;
}

.hidden-touch {
	display: block;

	.touch-device & {
		display: none !important;
	}
}

.hidden-mobile {
	@media screen and ( max-width: $portrait - 1 ){
		display: none !important;
	}
}

.hidden-desktop {
	@media screen and ( min-width: $portrait ){
		display: none !important;
	}
}

.visible-touch {
	display: none;

	.touch-device & {
		display: block !important;
	}
}

.reverse-mobile {
	@media screen and ( max-width: $portrait - 1 ){
		display: flex;
		flex-wrap: wrap;
		flex-direction: column-reverse;
	}
}


[style*="bg-"], [style*="bg-"] * {
  color:#fff;
}
