---
layout: lundhags
title: Lundhags - Kängor
---


<section class="top-hero">
  <section class="banner">

    <div class="deepify parallax" reverse>

      <div class="deepify__wrapper">

        <img src="../img/omni_deepify_1.jpg" alt="" class="deepify__layer">
        <div class="deepify__layer align-center"><h1 class="title bordered">Omni Boots</h1></div>

        <img src="../img/omni_deepify_2.png" alt="" class="deepify__layer">
      </div>

    </div>

  </section>

</section>

<section class="scroll-point">
  <div class="content container align-center">
    <p class="scroll-point__scrolll">Omni is a new and highly versitile range of shoes that bridges the gap between our shell boots and the Heritage collection. Perfect for your daily hikes, wherher in the outdoors or in more urban environments.</p>
  </div>
</section>

<section class="grid scroll-point">

  <div class="grid__item" grid-header>
    <img src="http://placehold.it/600x300" alt="" class="">
  </div>
  <div class="grid__item">
    <img src="http://placehold.it/300x300/e3e3e3/ffffff" alt="" class="">
  </div>
  <div class="grid__item">
    <!-- <img src="http://placehold.it/300x300/f3f3f3/ffffff" alt="" class=""> -->
    <!-- <div class=" grid__item__bg scroll-point__scroll" offset="-200" let-it-go><img src="/img/boots/3lager_.jpg" alt=""></div> -->
    <div class=" grid__item__bg scroll-point__scroll" offset="-500" let-it-go><img src="/img/scrollr_bg.jpg" alt=""></div>

  </div>

  <div class="grid__item" grid-sidebar>
    <img src="http://placehold.it/400x600/c4d2f3/c4d2f3" alt="" class="">
    <div class=" grid__item__bg scroll-point__scroll" horizontal><img src="/img/boot.png" alt=""></div>
  </div>

</section>
<!-- <section class="grid--reverse">

  <div class="grid__item" grid-sidebar>
    <img src="http://placehold.it/400x600/c4d2f3/ffffff" alt="" class="">
  </div>

  <div class="grid__item" grid-header>
    <img src="http://placehold.it/600x300" alt="" class="">
  </div>

  <div class="grid__item">
    <img src="http://placehold.it/300x300/e3e3e3/ffffff" alt="" class="">
  </div>
  <div class="grid__item">
    <img src="http://placehold.it/300x300/f3f3f3/ffffff" alt="" class="">
  </div>


</section> -->

<div class="scroll-point-sections">

  {% for i in (1..4) %}

  <section class=" scroll-point scroll-point__section center" style="background:url('../img/omni/omni_{{i}}.jpg')no-repeat; background-size:cover; background-attachment:fixed;" offset="100vh">
    <div class="scroll-point__content scroll-point__freezee">
      <div>
        <h1>lorem ipsum {{ i }}</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum alias quia quam, fugiat porro aliquam amet placeat iste incidunt, dolore repudiandae temporibus sed itaque obcaecati eos ipsum, voluptatum illum. Velit?</p>
      </div>
    </div>

    <!-- <img class="scroll-point__scrolll" let-it-go offset="00" src="../img/boots/1lager.jpg" /> -->
    <!-- <img class="scroll-point__scroll visible" let-it-go offset="{{i}}00" src="../img/blackice/rygga.png" /> -->
  </section>

  {% endfor %}

</div>

<!-- <section class="grid">

  <div class="grid__col">
    <div class="grid__item">
      <img src="http://placehold.it/600x300" alt="" class="grid__item__bg">
    </div>
    <div class="grid__item">
      <img src="http://placehold.it/300x300/e3e3e3/ffffff" alt="" class="grid__item__bg">
    </div>
    <div class="grid__item">
      <img src="http://placehold.it/300x300/f3f3f3/ffffff" alt="" class="grid__item__bg">
    </div>
  </div>

  <div class="grid__col">
    <div class="grid__item">
      <img src="http://placehold.it/400x600/c4d2f3/ffffff" alt="" class="grid__item__bg">
    </div>
  </div>

</section> -->


<section class="product-spec">

  <div class="container scroll-point product-spec__main">

    <div class="product-spec__video">
      <span class="play-movie">Play movie</span>
      <div class="popup-video">

        <div class="popup-video__overlay"></div>

        <div class="video-wrapper">
          <video>
              <source src=videos/eva_movie_short.mp4 type=video/mp4>
          </video>
        </div>
      </div>
    </div>

    <figure class="product-spec__image">
      <img src="/img/blackice/rygga.png" alt="" class="top-hero__image">
    </figure>


      <div class="scroll-point__scroll product-spec__content" offset="-200">
        <h2>Daypacks</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto iste nobis animi molestiae officiis, harum corrupti consectetur praesentium dicta explicabo aspernatur placeat, esse recusandae, rem doloremque dolorum, quibusdam dolor sint.</p>
      </div>


  </div>

  <div class="features bg-light scroll-point" offset="100vh">


    {% for i in (1..3) %}

    {% if i == 1 %}
    <div class="container scroll-point" offset="85%" id="ID-{{i}}" trigger-hotspots="#spot{{i}}1,#spot{{i}}2,#spot{{i}}3,#spot{{i}}4">

    {% else %}
    <div class="container scroll-point" offset="50%" id="ID-{{i}}" trigger-hotspots="#spot{{i}}1,#spot{{i}}2,#spot{{i}}3,#spot{{i}}4">
    {% endif %}
      <div class="features__intro">
        <h2>Specific features</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis animi atque provident optio cum, reiciendis et nihil quod iure, quibusdam sint ipsum quae. Quibusdam vitae dolorem sint qui non, similique.</p>
      </div>

      <div class="features__hotspots__info">

        <h3>Lorem ipsum set dolor</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam cupiditate eius tempore ad nam nihil. Eos natus laudantium, sunt possimus adipisci neque esse optio vel magnam odio sapiente officiis velit.</p>

        <ul class="features__hotspots__features">
          <li control-spot="spot{{i}}1">Lorem ipsum dolor sit amet</li>
          <li control-spot="spot{{i}}2">Lorem ipsum dolor sit amet</li>
          <li control-spot="spot{{i}}3">Lorem ipsum dolor sit amet</li>
          <li control-spot="spot{{i}}4">Lorem ipsum dolor sit amet</li>
        </ul>
      </div>
    </div>

    {% endfor %}

    <div class="scroll-point__stick">
      <div class="hotspots">

        <div class="features__image">
          <img src="/img/boot.png" alt="" class="features__hotspots__image">
        </div>

        <div class="hotspots__list">
          <div id="spot11" class="hotspots__list__hotspot" data-pos="40,30"></div>
          <div id="spot12" class="hotspots__list__hotspot" data-pos="20,80"></div>
          <div id="spot13" class="hotspots__list__hotspot" data-pos="30,30"></div>
          <div id="spot14" class="hotspots__list__hotspot" data-pos="40,50"></div>
          <div id="spot21" class="hotspots__list__hotspot" data-pos="20,90"></div>
          <div id="spot22" class="hotspots__list__hotspot" data-pos="40,90"></div>
          <div id="spot23" class="hotspots__list__hotspot" data-pos="60,90"></div>
          <div id="spot24" class="hotspots__list__hotspot" data-pos="80,90"></div>
          <div id="spot31" class="hotspots__list__hotspot" data-pos="40,30"></div>
          <div id="spot32" class="hotspots__list__hotspot" data-pos="20,80"></div>
          <div id="spot33" class="hotspots__list__hotspot" data-pos="30,30"></div>
          <div id="spot34" class="hotspots__list__hotspot" data-pos="40,50"></div>
          <div id="spot41" class="hotspots__list__hotspot" data-pos="20,90"></div>
          <div id="spot42" class="hotspots__list__hotspot" data-pos="40,90"></div>
          <div id="spot43" class="hotspots__list__hotspot" data-pos="60,90"></div>
          <div id="spot44" class="hotspots__list__hotspot" data-pos="80,90"></div>
        </div>

      </div>
    </div>

  </div>


</section>


<section class="scroll-point">
  <div class="container">


    <div class="triple-images">
      <img src="/img/blackice/rygga.png" alt="" class="scroll-point__scroll visible" horizontal reverse offset="-300">
      <img src="/img/blackice/rygga.png" alt="" class="scroll-point__scroll visible" offset="-400">
      <img src="/img/blackice/rygga.png" alt="" class="scroll-point__scroll visible" horizontal offset="-300">
    </div>
  </div>
</section>



<section class="one-col-scroll bg-gray">


  <div class="scroll-point" offset="100vh">


    <div class="container columns">

      <div class="col-2 fill"></div>

      <div class="col-2">
        <div class="columns__content">
            <img src="/img/boots/3lager.jpg" alt="">
        </div>
      </div>

    </div>

    <div class="container columns">

      <div class="col-2 fill"></div>


      <div class="col-2">
        <div class="columns__content">

          <div class="columns__content__wrapper">

          <h1>Lorem ipsum</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi nisi fugiat voluptas iste deleniti doloremque, aut autem, et exercitationem, distinctio error, eligendi? Nihil, error vel modi repellat, ut autem doloribus.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi nisi fugiat voluptas iste deleniti doloremque, aut autem, et exercitationem, distinctio error, eligendi? Nihil, error vel modi repellat, ut autem doloribus.</p>
          </div>
        </div>
      </div>

    </div>



    <div class="scroll-point__stick">

      <div class="container columns">

        <div class="col-2">
          <div class="columns__content">

            <div class="overlay-logo">

              <svg width="169px" height="181px" viewBox="0 0 169 181" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <!-- Generator: Sketch 48.1 (47250) - http://www.bohemiancoding.com/sketch -->
                  <desc>Created with Sketch.</desc>
                  <defs></defs>
                  <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                      <g id="Backpacks" transform="translate(-391.000000, -4189.000000)" fill="#FEFEFE">
                          <g id="Page-1" transform="translate(391.000000, 4189.000000)">
                              <polygon id="Fill-1" points="21 57.3752683 17.4753443 65 0 57.7606543 1.27660786 55 15.8351538 61.0314222 18.0838143 56.1673448"></polygon>
                              <path d="M19.177638,27 L28.4420158,34.5821676 C31.4595134,37.0515978 31.8702297,41.507138 29.3383945,44.4872484 C26.822066,47.4478748 22.2818754,47.8515487 19.264361,45.3821185 L10,37.7999673 L12.0325226,35.4089502 L21.2962704,42.9905095 C22.9794061,44.367483 25.4975994,44.1437532 26.9007417,42.4926049 C28.3205834,40.8220055 28.0926205,38.3507502 26.4094848,36.9737766 L17.1451238,29.3922174 L19.177638,27 Z" id="Fill-3"></path>
                              <polygon id="Fill-4" points="52.8880368 26.2539797 36.7684392 21.3276047 43.0074308 32.3647713 40.3638845 34 31 17.4326509 32.2372542 16.6670807 48.1566333 21.5401566 41.9925692 10.6340756 44.635514 9 54 25.5667895"></polygon>
                              <path d="M67.1189981,18.2773842 L69.5551705,17.8220227 C73.0475148,17.1698118 75.3252597,13.8314937 74.6670149,10.3718041 C74.0131861,6.93755478 70.6647938,4.650807 67.1730632,5.30298416 L64.736277,5.75837938 L67.1189981,18.2773842 Z M64.575957,22 L61,3.20880639 L66.5764538,2.16660336 C71.8014583,1.19044358 76.846041,4.60413868 77.8318311,9.78061591 C78.8163424,14.9577671 75.3774324,19.982328 70.1524108,20.958454 L64.575957,22 Z" id="Fill-5"></path>
                              <polygon id="Fill-6" points="102.166416 21 99.0237809 20.5296999 100.205995 12.7148291 91.325455 11.3859233 90.143241 19.2008776 87 18.7305774 89.8341898 0 92.9768249 0.469732559 91.7952337 8.28458668 100.675151 9.61332554 101.856742 1.79913913 105 2.26937247"></polygon>
                              <path d="M119.166639,20.1248221 L123.176592,22.3292767 L123.620027,16.593219 L119.166639,20.1248221 Z M127,11.6565614 L125.441432,32 L122.498929,30.3816329 L122.921497,25.7277423 L116.522744,22.2088988 L112.943699,25.1264616 L110,23.5080946 L125.8056,11 L127,11.6565614 Z" id="Fill-7"></path>
                              <path d="M138.170891,29.505075 C142.029421,25.9157197 148.031101,26.2238197 151.540179,30.1705722 C153.666466,32.5608092 154.467823,35.8439145 153.733951,38.9643452 L150.751486,38.2168857 C151.246758,36.1310655 150.709311,33.8887205 149.275915,32.2773579 C146.903789,29.6086027 142.837396,29.4298957 140.246556,31.8398483 C137.583427,34.316964 137.364109,38.3130138 139.71996,40.9626701 C141.450389,42.9080146 143.994234,43.3855553 146.125946,42.2837984 L142.203542,37.873671 L144.486483,35.7502529 L150.615911,42.6430456 L149.474743,43.7047547 C145.942167,46.9903265 140.667725,46.7173413 137.437019,43.0860883 C133.927941,39.1393357 134.239451,33.1622099 138.170891,29.505075" id="Fill-8"></path>
                              <path d="M151.140681,54.6160944 L153.051351,57.2145721 C152.78499,57.4215279 151.522071,58.6214184 152.516177,60.9335783 C153.125173,62.3486835 154.770717,63.1206684 155.982587,62.565169 C156.920088,62.1359928 157.941254,61.3291003 157.563551,58.7344173 C156.8475,53.9507554 158.834462,52.0804607 160.625799,51.344654 C162.893285,50.4469641 166.049658,51.2322904 167.470666,54.5360971 C168.597102,57.1548875 167.681706,59.6067121 166.975515,60.6364603 L164.393037,58.7693421 C164.441017,58.6906154 165.282557,57.4018505 164.612652,55.8445394 C163.953807,54.3113527 162.679209,54.0193171 161.766916,54.3805497 C161.299408,54.5665747 160.181047,55.0217642 160.665171,58.246209 C161.17145,61.7138221 159.958979,64.3027702 157.260888,65.5382207 C154.449002,66.8263503 150.954899,65.3204647 149.635991,62.2528207 C147.992916,58.4309634 149.910977,55.5747224 151.140681,54.6160944" id="Fill-9"></path>
                              <polygon id="Fill-10" points="148 123.624884 151.524747 116 169 123.23952 167.72383 126 153.164991 119.968939 150.915638 124.832738"></polygon>
                              <path d="M148.822577,154 L139.557789,146.418304 C136.54078,143.949438 136.129423,139.493209 138.661975,136.512454 C141.177811,133.551758 145.718202,133.148685 148.735212,135.618159 L158,143.199855 L155.968001,145.592115 L146.703229,138.009203 C145.020641,136.632813 142.502941,136.856547 141.09851,138.508333 C139.67921,140.177746 139.9072,142.649654 141.59041,144.027261 L150.85456,151.60774 L148.822577,154 Z" id="Fill-11"></path>
                              <polygon id="Fill-12" points="115.111934 155.74522 131.23111 160.671485 124.99168 149.635192 127.635157 148 137 164.566352 135.761575 165.332533 119.843214 160.459565 126.006515 171.364808 123.364241 173 114 156.432395"></polygon>
                              <path d="M101.880838,163.722582 L99.4446003,164.177939 C95.9527762,164.830127 93.6749873,168.168376 94.3332498,171.628084 C94.9870962,175.062878 98.3349472,177.349625 101.826754,176.697425 L104.263623,176.242691 L101.880838,163.722582 Z M104.42393,160 L108,178.791067 L102.423397,179.833215 C97.199497,180.809957 92.1535344,177.396344 91.1683488,172.21986 C90.1831632,167.042755 93.6228133,162.01826 98.8479578,161.042143 L104.42393,160 Z" id="Fill-13"></path>
                              <polygon id="Fill-14" points="65.8398634 160 68.9818198 160.471396 67.7969831 168.284002 76.6732405 169.616131 77.8586828 161.80353 81 162.275544 78.1601535 181 75.018197 180.528603 76.2030338 172.715999 67.3267764 171.384487 66.1419564 179.196474 63 178.725078"></polygon>
                              <path d="M48.834557,160.874585 L44.824604,158.669536 L44.3799732,164.406808 L48.834557,160.874585 Z M41,169.343408 L42.5585677,149 L45.5016687,150.617761 L45.0790851,155.271049 L51.4772558,158.789897 L55.056301,155.872331 L58,157.491917 L42.1949978,170 L41,169.343408 Z" id="Fill-15"></path>
                              <path d="M30.827925,151.496812 C26.967975,155.08524 20.9659916,154.774753 17.4578224,150.827788 C15.3326706,148.437568 14.531524,145.154079 15.2670127,142.033221 L18.2487164,142.78232 C17.7523779,144.867002 18.2896873,147.109384 19.7221149,148.722179 C22.0948298,151.390245 26.1601895,151.570739 28.7521834,149.162025 C31.4158436,146.684933 31.6362987,142.689299 29.281047,140.038478 C27.5510581,138.093037 25.0072719,137.61437 22.8754975,138.715842 L26.7969038,143.126696 L24.5133347,145.249565 L18.3848612,138.355471 L19.5263435,137.29342 C23.0604217,134.008697 28.3353361,134.284061 31.564028,137.915609 C35.0728017,141.863191 34.759574,147.841238 30.827925,151.496812" id="Fill-16"></path>
                              <path d="M17.859081,127.383741 L15.948418,124.785123 C16.2147775,124.578158 17.4776784,123.378846 16.4829821,121.066576 C15.8739842,119.650769 14.2290685,118.878747 13.0172187,119.434273 C12.0797278,119.863469 11.0585743,120.6704 11.4356626,123.265841 C12.1523147,128.049095 10.1653746,129.920113 8.37466771,130.65532 C6.10660207,131.553052 2.94964257,130.767689 1.52925754,127.464361 C0.402913824,124.845446 1.31825994,122.39287 2.02506919,121.363073 L4.60686188,123.23028 C4.55826483,123.30901 3.71735244,124.597836 4.38725261,126.155221 C5.0460804,127.689116 6.3212899,127.98053 7.23294578,127.61928 C7.70046003,127.433899 8.81819208,126.978035 8.33468234,123.754073 C7.82841223,120.28566 9.04087598,117.697225 11.7383173,116.461716 C14.5507916,115.173525 18.0448608,116.680117 19.3637376,119.747271 C21.0074288,123.56931 19.0887714,126.425051 17.859081,127.383741" id="Fill-17"></path>
                              <path d="M2.50000016,93 C3.88047259,93 5,91.8804674 5,90.5 C5,89.1188847 3.88047259,88 2.50000016,88 C1.11952878,88 0,89.1188847 0,90.5 C0,91.8804674 1.11952878,93 2.50000016,93" id="Fill-18"></path>
                              <path d="M164,90.5 C164,91.8811153 165.119544,93 166.499403,93 C167.880526,93 169,91.8811153 169,90.5 C169,89.1195151 167.880526,88 166.499403,88 C165.119544,88 164,89.1195151 164,90.5" id="Fill-19"></path>
                              <path d="M130,90 C130,76.2145243 118.75178,65 104.925648,65 C99.8501832,65 94.9593221,66.505614 90.7836373,69.3542047 C88.8926908,70.643344 88.4081441,73.2173388 89.7016992,75.1021143 C90.9952543,76.9875183 93.5762265,77.4700214 95.4671729,76.1802701 C98.2579158,74.2771518 101.528298,73.2711597 104.925648,73.2711597 C114.177413,73.2711597 121.704437,80.7754287 121.704437,90 C121.704437,94.5541726 120.064347,98.7811852 117.085308,101.90252 C114.116083,105.015286 110.05815,106.72884 105.660435,106.72884 C101.919612,106.72884 92.7071031,104.985928 87.9812507,88.8411127 C86.0111599,82.1104332 82.8947411,76.4010452 78.9686819,72.3305996 C74.3434149,67.5348447 68.5926456,65 62.3389325,65 C48.6912994,65 38,75.9815262 38,90 C38,103.784864 49.2482203,115 63.0737368,115 C68.1504323,115 73.0406613,113.494369 77.2163461,110.646407 C79.1073092,109.356656 79.5912404,106.782661 78.2983008,104.897869 C77.0047457,103.012482 74.4231581,102.529962 72.5328104,103.819713 C69.7420676,105.722848 66.4716851,106.72884 63.0737368,106.72884 C53.8225708,106.72884 46.2955461,99.2245548 46.2955461,90 C46.2955461,85.4458109 47.9356527,81.2181863 50.9146917,78.0974804 C53.8845322,74.9846972 57.9418333,73.2711597 62.3389325,73.2711597 C66.0803716,73.2711597 75.2928803,75.0140556 80.0181339,91.1588707 C81.9888234,97.8895503 85.1052422,103.598343 89.0313015,107.6694 C93.6565684,112.465139 99.4067223,115 105.660435,115 C119.308701,115 130,104.019086 130,90" id="Fill-20"></path>
                          </g>
                      </g>
                  </g>
              </svg>
            </div>

            <img src="/img/boots/3lager.jpg" alt="">


          </div>
        </div>
        <div class="col-2"></div>


      </div>
    </div>


  </div>
</section>


<section class="inspiration scroll-point">

  <article class="container align-center">

    <h1 class="inspiration__title">Backpacks</h1>

    <img src="/img/trees.jpg" alt="" let-it-go class="inspiration__image scroll-point__scroll visible">
    <img src="/img/trees.jpg" alt="" let-it-go horizontal class="inspiration__image scroll-point__scroll visible">
    <img src="/img/trees.jpg" alt="" let-it-go class="inspiration__image scroll-point__scroll visible">

    <div class="scroll-point__scroll align-left text-block" offset="-200">
      <h2>Daypacks</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto iste nobis animi molestiae officiis, harum corrupti consectetur praesentium dicta explicabo aspernatur placeat, esse recusandae, rem doloremque dolorum, quibusdam dolor sint.</p>
    </div>

  </article>



</section>

<!--
<div class="deepify parallax">

  <div class="deepify__wrapper">

    <img src="../img/view_bg.jpg" alt="" class="deepify__layer">
    <div class="deepify__layer align-center"><h1>THE SEASON IS NOW</h1></div>

    <img src="../img/view_legs.png" alt="" class="deepify__layer">
  </div>

</div> -->
