---
layout: lundhags
title: Lundhags - Kängor
---


<section class="top-hero">
  <section class="banner">

    <div class="deepify parallax" reverse>

      <div class="deepify__wrapper">

        <img src="../img/omni_deepify_1.jpg" alt="" class="deepify__layer">
        <div class="deepify__layer align-center"><h1 class="title bordered small">Omni Boots</h1></div>

        <img src="../img/omni_deepify_2.png" alt="" class="deepify__layer">
      </div>

    </div>

  </section>

</section>

<section class="scroll-point">
  <div class="content container align-center">
    <p class="big-text-block">Omni is a new and highly versitile range of shoes that bridges the gap between our shell boots and the Heritage collection. Perfect for your daily hikes, wherher in the outdoors or in more urban environments.</p>
  </div>
</section>

<section class="grid scroll-point">

  <div class="grid__item" grid-header>
    <img src="/img/omni/omni_grid_header.jpg" alt="" class="">
  </div>

  <div class="grid__item">
    <img src="/img/omni/omni_grid_small.jpg" alt="" class="">
  </div>

  <div class="grid__item">
    <div class="video-wrapper" style="height:300px">
      <video autoplay muted loop style="height:600px">
          <source src=videos/eva_movie_short.mp4 type=video/mp4>
      </video>
    </div>
  </div>

  <div class="grid__item" grid-sidebar>
    <img src="/img/omni/omni_grid_sidebar_bg.jpg" alt="" class="">
    <div class=" grid__item__bg scroll-point__scroll visible" horizontal ><img src="/img/omni/omni_grid_sidebar.png" alt=""></div>
  </div>

</section>

<!-- <section class="grid--reverse">

  <div class="grid__item" grid-sidebar>
    <img src="http://placehold.it/400x600/c4d2f3/ffffff" alt="" class="">
  </div>

  <div class="grid__item" grid-header>
    <img src="http://placehold.it/600x300" alt="" class="">
  </div>

  <div class="grid__item">
    <img src="http://placehold.it/300x300/e3e3e3/ffffff" alt="" class="">
  </div>
  <div class="grid__item">
    <img src="http://placehold.it/300x300/f3f3f3/ffffff" alt="" class="">
  </div>


</section> -->

<div class="">

  {% for i in (1..4) %}

  <section class="scroll-point center product--icon">


    <div class="hotspots">

      <!-- <div class="features__image"> -->
        <img class="scroll-point__scroll zoom-in bg features__hotspots__image" src="/img/omni/omni_{{i}}.jpg" />

      <!-- </div> -->

      <div class="hotspots__list">
        <div id="spot{{i}}1" class="hotspots__list__hotspot" data-pos="17,40" ><span class="hotspot__text">Breathable upper construction</span></div>
        <div id="spot{{i}}2" class="hotspots__list__hotspot" data-pos="30,55" ><span class="hotspot__text">Flexible lasting board</span></div>
        <div id="spot{{i}}3" class="hotspots__list__hotspot" data-pos="40,40" ><span class="hotspot__text">Trek buff approach outsole</span></div>
        <div id="spot{{i}}4" class="hotspots__list__hotspot" data-pos="70,70" ><span class="hotspot__text">High quality European leather</span></div>
        <div id="spot{{i}}5" class="hotspots__list__hotspot" data-pos="80,70" ><span class="hotspot__text top">Libasmart TPU</span></div>
      </div>

    </div>

    <span class="product--icon__type">Omni boots</span>

    <!-- <div class="product--icon__info scroll-point__scroll"> -->
    <div class="product--icon__info">
      <div class="">

        <h1 class="scroll-point__scroll" offset="-800">
        {% if i == 1 %}
        Bjerg Low

        {% else if i == 2 %}
        Strei Low

        {% else if i == 3 %}
        Riim Mid

        {% else %}
        Bjerg Mid
        {% endif %}
        </h1>

        <p class="scroll-point__scroll" offset="-850">A nice summer shoe for everyday wear. Strei is comfortable and breathable and also suitable for light hiking. </p>
      </div>
    </div>

    <div class="product--icon__features">
      <div class="btn--faded" control-spots="#spot{{i}}1,#spot{{i}}2,#spot{{i}}3,#spot{{i}}4,#spot{{i}}5">View features</div>
      <a href="#">Go to product</a>
    </div>



    <!-- <img class="scroll-point__scrolll" let-it-go offset="00" src="../img/boots/1lager.jpg" /> -->
    <!-- <img class="scroll-point__scroll visible" let-it-go offset="{{i}}00" src="../img/blackice/rygga.png" /> -->
  </section>

  {% endfor %}

</div>




<section class="inspiration scroll-point">

  <article class="container align-center">

    <h1 class="inspiration__title">Omni Boots</h1>

    <img src="/img/omni/omni_inspiration_1.jpg" alt="" let-it-go class="inspiration__image scroll-point__scroll visible">
    <img src="/img/omni/omni_inspiration_2.jpg" alt="" let-it-go horizontal class="inspiration__image scroll-point__scroll visible">


    <div class="scroll-point__scroll align-right text-block" offset="200">

      <p>Long and adventurous treks are really at the core of our soul and our packs will support you with the necessary comfort and features you need to t focused along the trails. From the supportive frameworke to the smallest details, our goal is that you should be able to carry and use your backpack through the toughest conditions, while focusing on your experience.</p>
    </div>

  </article>



</section>

<!--
<div class="deepify parallax">

  <div class="deepify__wrapper">

    <img src="../img/view_bg.jpg" alt="" class="deepify__layer">
    <div class="deepify__layer align-center"><h1>THE SEASON IS NOW</h1></div>

    <img src="../img/view_legs.png" alt="" class="deepify__layer">
  </div>

</div> -->
