
<!-- build:css({app,.tmp}) /css/main.css -->
	 <link rel="stylesheet" href="/css/main.css">
	 <!-- endbuild -->

<div class="frame-wrapper">
<iframe src="/omni/index.html" width="100%" height="100%"></iframe>
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<script src="https://www.gstatic.com/firebasejs/4.8.1/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyB_mMmypicAai6-oD7ovLqmWkB9vMOF76c",
    authDomain: "feedback-notes.firebaseapp.com",
    databaseURL: "https://feedback-notes.firebaseio.com",
    projectId: "feedback-notes",
    storageBucket: "feedback-notes.appspot.com",
    messagingSenderId: "186639496443"
  };
  firebase.initializeApp(config);
</script>

<script>



console.log(firebase.app().name);  // "[Feedback Notes]"


// Use the shorthand notation to retrieve the default app's services
var fbStorage = firebase.storage();
var fbDatabase = firebase.database();



</script>


<!-- build:js(app) /js/script.js -->
<script src="/js/notes.js"></script>
<!-- endbuild -->
