
@keyframes spin {

    0% {
        transform:rotate(0deg);
    }

    100% {
        transform:rotate(1800deg);
    }
}

@keyframes upNdown {

    0%, 100% {
        transform:translateY(0px);
    }

    50% {
        transform:translateY(20px);
    }
}

@keyframes upNdownSlow {

    0%,10%,20%,100% {
        transform:translateY(0px);
        opacity: 1;
    }
    24%,100% {
      opacity: 0;
    }

    5%,15% {
        transform:translateY(20px);
        opacity: 1;
    }
}

@keyframes fadeIn {

    0% {
        opacity:0;
    }

    100% {
        opacity:1;
    }
}

@keyframes fadeOut {

    0% {
        opacity:1;
    }

    100% {
        opacity:0;
    }
}

@keyframes shineBg {

    0% {
      background-position: 900px 0;
    }


    100% {
      background-position: -900px 0;
    }
}

@keyframes fadeInOut {

    0%,20%,40%,60%,80% {
        background: rgba($primary-color,0);
    }

    10%, 30%, 50%, 70%, 80%, 100% {
        background: rgba($primary-color,1);
    }
}

@keyframes animateDots {

    0% {
        box-shadow: 0 0 0 0 rgba($primary-color,0), 0 14px 0 0 rgba($primary-color,0);
        background: rgba($primary-color,1);
    }

    15% {
        box-shadow: 0 14px 0 0 rgba($primary-color,1), 0 14px 0 0 rgba($primary-color,0);
        background: rgba($primary-color,1);
    }

    30%, 100% {
      box-shadow: 0 14px 0 0 rgba($primary-color,1), 0 28px 0 0 rgba($primary-color,1);
      background: rgba($primary-color,1);
    }
}

@keyframes showNhideDots {

    0% {
        margin-top:-15px;
        box-shadow: 0 0 0 0 $primary-color;
        box-shadow: 0 14px 0 0 rgba($primary-color,0);
        background: rgba($primary-color,0);
    }

    20% {
        margin-top:0;
        box-shadow: 0 0 0 0 $primary-color;
        box-shadow: 0 14px 0 0 rgba($primary-color,0);
        box-shadow: 0 0 0 0 rgba($primary-color,0);
        background: rgba($primary-color,1);
    }

    40%, 100% {
      box-shadow: 0 14px 0 0 rgba($primary-color,1);
    }
}

@keyframes pulse {

    0%, 100% {
      transform: scale(1.0);
      opacity: 0.4;
    }

    50% {
      transform: scale(1.1);
      opacity: 1;
    }

}

@keyframes pulseHide {

    0%, 100% {
      transform: scale(1.0);
      opacity: 0;
    }

    50% {
      transform: scale(1.1);
      opacity: 1;
    }

}
// @keyframes pulse {
//
//     0%, 100% {
//       transform: scale(1.0);
//     }
//
//     10% {
//       transform: scale(0.9);
//     }
//
//     50% {
//       transform: scale(1.0);
//     }
//
//     25%, 75%{
//       transform: scale(1.1);
//     }
//
// }

@keyframes skate {

    0% {
        transform:translate3d(0,0,0) scale(1) rotate(0deg);
    }

    50% {
      transform:translate3d(0,-45vh,0) scale(1.1) rotate(0deg);
    }
    // 70% {
    //   transform:translate3d(-5vw,-30vh,0) scale(1.1) rotate(-2deg);
    // }
    // 80% {
    //   transform:translate3d(5vw,-15vh,0) scale(1.05) rotate(2deg);
    // }
    // 90% {
    //   transform:translate3d(0vw,0vh,0) scale(1) rotate(0deg);
    // }
    100% {
      transform:translate3d(0,0,0) scale(1) rotate(0deg);
    }
}

// @keyframes skate {
//
//     0% {
//         transform:translate3d(0,0,0) scale(1) rotate(0deg);
//     }
//
//     20% {
//       transform:translate3d(-5vw,-15vh,0) scale(1.05) rotate(2deg);
//     }
//     40% {
//       transform:translate3d(5vw,-30vh,0) scale(1.1) rotate(-2deg);
//     }
//
//     60% {
//       transform:translate3d(-5vw,-45vh,0) scale(1.05) rotate(2deg);
//     }
//
//     80% {
//       transform:translate3d(5vw,-15vh,0) scale(1.05) rotate(-2deg);
//     }
//     90% {
//       transform:translate3d(0vw,0vh,0) scale(1) rotate(0deg);
//     }
//     100% {
//       transform:translate3d(0,0,0) scale(1) rotate(0deg);
//     }
// }


@keyframes zoom-in-out {

    0%,100% {
        //transform:scale(1);
        transform: matrix(1, 0, 0, 1, 0, 0);
    }

    50% {
        //transform:scale(1.2);
        transform: matrix(1.2, 0, 0, 1.2, 0, 100);
    }
}

.zoom-in-out {
	-webkit-animation-name: zoom-in-out;
	-o-animation-name: zoom-in-out;
	animation-name: zoom-in-out;

	-webkit-animation-delay: 0s;
	-o-animation-delay: 0s;
	animation-delay: 0s;

	-webkit-animation-duration: 20s;
	-o-animation-duration: 20s;
	animation-duration: 20s;

	-webkit-animation-iteration-count: infinite;
	-o-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
}

@mixin animate($name: pulse, $delay: 0.2s, $duration:3s, $iteration:1){
  -webkit-animation-name: $name;
	-o-animation-name: $name;
	animation-name: $name;

	-webkit-animation-delay: $delay;
	-o-animation-delay: $delay;
	animation-delay: $delay;

	-webkit-animation-duration: $duration;
	-o-animation-duration: $duration;
	animation-duration: $duration;

	-webkit-animation-iteration-count: $iteration;
	-o-animation-iteration-count: $iteration;
	animation-iteration-count: $iteration;
};




.smoke {
  position: relative;
  margin:auto;
  min-width:300px;
  width:35%;
  overflow:hidden;

  img {
    width:100%;
  }

  &:after,&:before {
    background:url('http://demo.web3designs.com/smoke-texture.png') no-repeat;
    background:url('http://i.imgur.com/gKhATFHr.png') repeat;
    background-size:100% 100%;
    background-size:40% 40%;
    background-position:center top;
    content:"";
    position: absolute;
    width:100%;
    height:100%;
    display:block;
    top:0;
    bottom:0;
    left:0;
    right:20%;

    filter: blur(6px);
    opacity: 0;

    transition:all .2s linear;
    animation-name:smoke;
    animation-duration:14s;
    animation-iteration-count:infinite;

    border-radius:20% 20% 5% 5%;
  }

  &:before {
    animation-name:smoke2;
    animation-duration:14s;
    animation-iteration-count:infinite;
    animation-delay:3s;
    background-position:left center;
    background-size:60% 60%;
  }
}

@keyframes smoke {
  0%{
    opacity:0.1;
    top:80%;
  }

  50% {
    opacity:1;
    opacity:.2;
    left:-10%;
    //top:0%;
  }

  100% {
    opacity:0;
    top:20%;
    left:-15%;
  }
}

@keyframes smoke2 {
  0%{
    opacity:0.1;
    top:80%;
    left:0;
  }

  50% {
    opacity:1;
    opacity:.2;
    //top:0%;
  }

  100% {
    opacity:0;
    top:20%;
    left:-25%;
  }
}
