@font-face {
    font-family: 'Lundhags';
    src: url('../fonts/lundhags_text_regular-webfont.eot');
    src: url('../fonts/lundhags_text_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lundhags_text_regular-webfont.woff') format('woff'),
         url('../fonts/lundhags_text_regular-webfont.ttf') format('truetype'),
         url('../fonts/lundhags_text_regular-webfont.svg#lundhags_textregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lundhags Title';
    src: url('../fonts/lundhags_title-webfont.eot');
    src: url('../fonts/lundhags_title-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lundhags_title-webfont.woff') format('woff'),
         url('../fonts/lundhags_title-webfont.ttf') format('truetype'),
         url('../fonts/lundhags_title-webfont.svg#lundhags_titleregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

$font-title: 'Lundhags title', sans-serif;
$font-text: 'Lundhags', sans-serif;

.fa, .icon {
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon--fb:before {
  content: "\f09a";
  @include icon("\f09a");
}

.icon--insta:before {
  content: "\f16d";
  @include icon("\f16d");
}

.icon--yt:before {
  content: "\f167";
  @include icon("\f167");
}
