
body, html {
  height: 100%;
  font-size:16px;
  max-width: 100vw;
  height: auto !important;
}

body {
  margin:0;
  background: #fff;

  // &:after {
  //   content:"";
  //   position:absolute;
  //   top:0;
  //   bottom:0;
  //   left:0;
  //   right:0;
  //   pointer-events:none;
  //   background:url(/img/spinner.gif) no-repeat center center, rgba(0,0,0,0.4);
  //   background-size:100px;
  //   display:flex;
  //   justify-content:center;
  //   align-items:center;
  //   width:100%;
  //   //display:block;
  //   color:#fff;
  //   opacity:0;
  //   transition:all .2s cubic-bezier(0.680, -0.550, 0.265, 1.550);
  //   z-index:99999999;
  //
  //
  // }
  //
  // &.loading {
  //   //opacity:0.5;
  //   overflow:hidden;
  //
  //   &:after {
  //     opacity:1;
  //   }
  // }

  &.freeze {
    overflow: hidden;
  }


}

.flex-center {
  @include flex-layout($wrap:wrap);

  > * {
    flex:1;
    width: auto;
    padding:$padding*3;

  }

}

.triple-images {
  @include flex-layout($wrap:wrap);
  padding:$margin;
  padding: 17vw $padding;

  &:before {
    @include circle-bg();
  }


  img {
    width: calc(100%/3);
    padding: $padding;
    position: relative;
    z-index:0;
    transition: all .3s linear;

    &:first-of-type {
      margin-top:100px;
      margin-right:-150px;
    }
    &:nth-of-type(2) {
      margin-top:-100px;
      z-index:1;
    }
    &:last-of-type {
      margin-top:100px;
      margin-left:-150px;

    }
  }
}

.container {
  max-width: $content-max-width;
  position: relative;
  padding: 0 $padding;

  > header {
    max-width: $text-block-max-width;
    margin-left: auto;
    margin-right: auto;
    padding:$padding*4 $padding $padding*2;
    width: 100%;
  }

  @media screen and (min-width: $content-max-width){
    padding-left: 0;
    padding-right: 0;
  }

  &.content {
    padding:$padding*2 0;
    width: 100%;

    @media screen and (min-width:$portrait){
      padding:9vw 0;
      padding:200px 0;

    }
  }

  &.wrapper {
    padding:$padding*2 0;
    padding-top: 0;
    width: 100%;

    @media screen and (min-width:$portrait){
      padding:$padding*4 0;

      // padding:9vw 0;
      // padding:200px 0;
      padding-top: 0;

    }
  }
}

#main {
  background: none;
  padding-bottom: 0;
}

.theme-page {
  margin-top:84px;
  line-height: 1.6;
  overflow-x: hidden;

  &.heritage {
    background-attachment:fixed !important;
    background-size:cover !important;

    @media screen and (-webkit-device-pixel-ratio: 2) {
  		//background-attachment:initial !important;
  		background-size:auto 120vh !important;
      background-position: center top !important;
  	}
  }

  @media screen and (min-width:$landscape){
    margin-top:120px;
  }

  @media screen and (min-width:$desktop){
    margin-top:0;
  }

}

footer {
  z-index:1000;
}

.fixed {
	position: fixed;
}


// #main-menu {
// 	transition:all .2s cubic-bezier(0.680, -0.550, 0.265, 1.550);
// 	max-height:1000px;
// 	overflow:hidden;
//
// 	.scrolling & {
// 		max-height:0;
// 		overflow:hidden;
// 		transition-delay:.2s;
// 	}
// }

.theme-page {
  // opacity: 0;
  // transition: opacity .8s linear;



  &:after {
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background: rgba(#fff,1);
    display: block;
    content: "";
    transition: opacity .8s linear;
    opacity: 1;
    pointer-events: none;
  }

  .page-loaded & {
    // opacity: 1;
    &:after {
      opacity: 0;
    }
  }
}

.theme-page .btn {

}

.btn--faded {
    padding: $padding/4 $padding;
    border-radius: $padding;
    background: rgba(255,255,255,0.2);
    cursor: pointer;
    transition: all .4s ease;

    &:hover {
      background: rgba(255,255,255,0.4);
      transform: scale(1.05) translateY(0px);
      box-shadow: 0 0 0 $padding/4 rgba(255,255,255,0.4);

    }

    .switches & {
      color:#fff;
      padding: $padding/2 $padding;
      border-radius:30px;
    }
}

a {

  .theme-page & {
    //display:block;
    display:inline-block;
    color:$primary-color;
    @include font-normal;
    font-size:1.3rem;
    text-transform:initial;
    letter-spacing:4px;
    letter-spacing:0px;

    &:hover {
      color:lighten($primary-color,10%);
    }
  }

  &.link {
    // color: inherit;
    font-weight: bold;

    &:after {
      @include icon("\f0da");
      margin-left: 10px;
      color: inherit;
    }
  }

  &.invert {
    color: inherit;

    &:after {
      @include icon("\f0da");
      margin-left: 10px;
      color: $primary-color;
    }
  }

  .black-ice.theme-page & {
    color: $ice-red;

    &:hover {
      color:lighten($ice-red,10%);
    }
  }
}

.social-links a {
  font-size: 1.6rem;
  border-color:#333;
  color:#333;
}

* {
  box-sizing:border-box;
}

.theme-page {
    h1, h2, h3, h4, h5 {
    color:initial;
    text-transform:uppercase;
    margin:0;
    margin-bottom:1em;
    margin-bottom:.6em;
    border:0 !important;
    line-height:1.2;
    color:inherit;
    font-weight: 500;
    letter-spacing: .2rem;
  }
}

h2 {

}

.theme-page p + h2 {
  margin-top: $padding;
}

.columns__content__wrapper h2 {
  text-transform: none;
  font-size: 1.2rem;
}

.theme-page h1 {
  @media screen and (max-width:$portrait - 1){
    font-size:23px;
  }
}

figure {
  margin:0;

  &.bg {
    max-height: 100vh;

    img {
      @media screen and (min-width:$landscape){
        min-width:100vw;
      }
    }
  }
}

.rotate {
  transform: rotate(-45deg);
}

img {
  vertical-align:bottom;
  vertical-align:-webkit-baseline-middle;
  max-width: 100%;

  &.bg {
    // min-height:100vh;

    @media screen and (min-width:$portrait){
      // + * {
      //   background: red;
      //   position: absolute;
      //   z-index:10;
      // }
    }

  }
}

p {
  font-size:1rem;

  [scroll-content] & {
    text-align:center;
    margin-left:auto;
    margin-right:auto;
    //font-size:1.3rem;
  }

  @media screen and (min-width:$portrait){
    font-size:1.3rem;
  }

  /* .align-center &, .align-left & {
    font-size:1rem;
  } */
}

.icon-btn {
  padding:.8em $padding*2;
  background:#fff;
  color:#000 !important;
  text-align:center;

  &:hover {
    background:rgba(250,250,250,0.5);
  }

  &.invert {
    background:#000;
    color:#fff !important;

    &:hover {
      background:rgba(0,0,0,0.5);
    }
  }
}


.title {
  text-align:center;
  z-index:1;
  position: relative;

  &:last-child {
    margin-bottom: 0;
  }

  .banner & {
    // text-shadow: 0 0 25px rgba(50,50,50,0.2);

  }

  &.bordered {
    line-height:1.4;

    margin-bottom:1em;



    &:before, &:after {
      width:100%;
      display:block;
      content:"";
      height:3px;

      background:#fff;
    }

    &:before {
      margin-bottom:6px;
    }

    @media screen and (min-width:$portrait){
      font-size:4vw;

      &:before, &:after {
        height:7px;
      }

      &:before {
        margin-bottom:4px;
        margin-bottom:10px;
      }

      &:after {
        margin-top:3px;
      }
    }
  }

  &.bordered--deep {
    line-height:1.4;

    margin-bottom:1em;
    position: relative;
    z-index: 0;

    @media screen and (min-width:$portrait){
      font-size:4vw;
    }

    &:before, &:after {
      width:100%;
      display:block;
      content:"";
      height:6px;
      background:#fff;
      position: relative;
    }

    &:before {
      margin-bottom:4px;
      z-index: -1;
    }
  }

  .slider & {


    @media screen and (min-width: $portrait) {
      font-size:3rem;
      font-size: calc(2rem + 5vw);
      margin-bottom:0.5em;
    }
  }

  &.small {
    font-size:2rem !important;

    //margin-bottom:0em;

    max-width:1100px;
    margin-left:auto;
    margin-right:auto;

    @media screen and (min-width: $portrait) {
      font-size:3.4rem !important;

    }
  }

  &.medium {
    font-size:2rem;
    font-size: calc(1.4rem + 3vw);
    //margin-bottom:0em;
    line-height:1;
    margin-left:auto;
    margin-right:auto;

    &.limit-width {
      max-width: 95%;

      @media screen and (min-width:$portrait){
        max-width: 900px;
        max-width: 855px;
        max-width: 1200px;
      }
    }

    @media screen and (min-width: $portrait) {
      font-size:3rem;
      font-size: calc(1.6rem + 3vw);
      max-width:1100px;

    }

    @media screen and (min-width: $desktop) {
      font-size:3rem;
      font-size: calc(2rem + 3vw);
    }
  }

  &.large {
    font-size:2.2rem;
    //font-size: calc(2rem + 7vw);
    //margin-bottom:0em;
    line-height:1;
    letter-spacing: 0.8rem;
    margin-bottom: .2em;

    @media screen and (min-width: $portrait) {
      font-size:3rem;
      font-size: calc(2rem + 4vw);
    }

    @media screen and (min-width: $desktop) {
      font-size:3rem;
      font-size: calc(2rem + 7vw);
    }
  }

  .banner & {
    font-size:12vw;

    font-size:2rem;
    //font-size: calc(3rem + 7vw);
    // margin:2em auto 0;
    // margin:40vh auto 0;

    &:only-child {
      margin:auto;
    }

    @media screen and (min-width: $portrait) {
      font-size:4rem;
      font-size: calc(2.6rem + 2vw);
    }

    // Heritage fix

    width:100%;

  }

  > .logo {
    max-width:150px;
    display:block;
    margin:auto;
  }

}

.overlay-title {
  position: absolute;
  white-space: nowrap;

  .scroll-point & {
    transition: all .4s linear .4s;
    opacity: 0;
    transform: translateY(60px);
  }

  .scroll-point--ready & {
    opacity: 1;
    transform: none;
  }

  @media screen and (min-width: $landscape){

    margin-left: -$margin !important;

    .overlay-logo ~ & {
      // top:20%;
    }
  }
}


quoteblock {
  font-size:3rem;
  font-size: calc(2rem + 2vw);
  font-size: calc(2rem + 1vw);
  font-size: calc(1.6rem + 1vw);
  margin-bottom:0em;
  line-height:1;
  font-family: $font-title;
  text-transform:uppercase;
  letter-spacing:4px;

  max-width: 1000px;
  margin-left:auto;
  margin-right:auto;
  position: relative;
  margin:40px auto 80px;

  > span {
    font-size: 1.4rem;
    display: block;
    //margin-top:.6rem;
    position: absolute;
    bottom:-50px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }

  &:before, &:after {
    content:'"';
  }

  @media screen and (min-width:$portrait){
    margin:0 auto;

    > span {
      bottom:-30px;
    }
  }
}

// div.title {
//   color:red;
// }



.align-center {
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
  align-items:center;
  text-align:center;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
}





.align-left {
  display:flex;
  flex-wrap:wrap;
  justify-content:flex-start;
  align-items:center;
  text-align:left;
  margin-left: 0 !important;
  margin-right: auto !important;

}

.align-right {
  display:flex;
  flex-wrap:wrap;
  justify-content:flex-end;
  align-items:center;
  text-align:left;
  margin-right: 0 !important;
  margin-left: auto !important;

}


$height:.5em;

.top-logo {
  position: relative;
  //border-top:4px solid;
  //border:0;
  border-bottom:3px solid;
  padding:($height*2 * 1.2) 0 $height;
  display:inline-block;
  overflow-x:hidden;
  overflow-y:visible;

  &:before, &:after {
	  width:35%;
	  height:3px;
	  background:#000;
	  position: absolute;
	  //margin-top:-3px;
	  top:0%;
	  top:$height * 1.2;
	  //bottom:0;
	  //margin:auto;
	  content:"";
	  display:inline-block;
	}

	&:before {
	  left:0;
	}

	&:after {
	  right:0;
	}

  img {
    width:100%;
    height:auto;
  }

  .logo {
    content:"";
    display:block;
    top:-$height;
    top:0;
    left:0;
    right:0;
    margin:auto;

    width:100px;
    width:$height*6;

    position: absolute;

    /* &:before, &:after {
      width:80%;
      height:3px;
      background:#000;
      position: absolute;
      margin-top:-3px;
      top:50%;
      content:"";
      display:inline-block;
    }

    &:before {
      left:-100%;
    }

    &:after {
      right:-100%;
    } */
  }
}

div.logo {
  img {
    width: 300px;
  }
}

.logo-text {
  font-family: $font-title;
  text-transform: uppercase;
  display: block;
  letter-spacing:4px;
  text-align: center;
  margin-top:-30px;
  margin-bottom:30px;
}



$dot-size: 6px;

.dots-down {
  width:$dot-size;
  height:$dot-size;
  border-radius:50%;
  background:$primary-color;
  //background:rgba($primary-color,0);
  position: relative;
  //opacity:0;
  flex:none !important;

  margin:auto;
  bottom:-100px;
  transition:all .4s ease-in-out 0s;

  animation-name: animateDots;
  animation-delay: 3s;
  animation-duration: 3s;
  animation-iteration-count: infinite;

}

.text-block {
  max-width: $text-block-max-width;
  font-size: 1rem;

  p {
    font-size: inherit;
  }
}

.big-text-block {
  max-width: $portrait;
  font-size: 1.4rem;
  padding: 0 $padding;
  margin-left: auto;
  margin-right: auto;

  &:last-child {
    margin-bottom: 0;
  }

  @media screen and (min-width: $portrait){
    font-size: 1.8rem;
    max-width: 1050px;

  }

  @media screen and (min-width: $xl){

  }
}

.logo-wrapper {
  svg {
    margin-bottom: $padding;
    width: 70px;
    height: 60px;

    @media screen and (min-width: $portrait){
      width: 90px;
      height: auto;
      margin-bottom: $padding;
      margin-bottom: 15vh;
      margin-bottom: 6vh;

      .deepify & {
        margin-top:10vh;
        margin-bottom: auto;
      }

    }
  }
}

.overlay-logo {
  position: absolute;
  top:-90px;
  left:0;
  right: 0;
  text-align: center;

  svg {
    width: 14vh;
    // min-width: 120px;
    max-width: 200px;
    width: 90px;

  }
}
