

$wrapDefault: wrap !default;
$dirDefault: row !default;
$alignXDefault: center !default;
$alignYDefault: center !default;
$widthDefault: 100% !default;

@mixin flex-layout($wrap: $wrapDefault, $dir: $dirDefault, $alignX: $alignXDefault, $alignY: $alignYDefault, $width: $widthDefault) {
  display:flex;
  flex-wrap:$wrap;
  flex-direction: $dir;
  justify-content:$alignX;
  align-content:$alignY;
  align-items:$alignY;
  width: $width;
}


@mixin link-transition {
  transition: all .2s linear;
}

@mixin bezier-transition($what:all, $time:0.6s, $delay:0s) {
  transition: $what $time cubic-bezier(0.770, 0.000, 0.175, 1.000) $delay;
}

@mixin linear-gradient($color-start: $purple, $color-stop: $orange, $deg:135deg) {
  background: linear-gradient($deg, $color-start 0%,$color-stop 100%);
  background-repeat: no-repeat;
  background-size: cover;

}

@mixin showOnScrollTransition( $time: 0.6s, $easing:ease-in-out, $delay: 0s){
  transition: all $time $delay $easing, text-shadow 0s ($time + $delay) linear;
}

@mixin icon($content: "\f107"){
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: $content;
}

@mixin circle-bg($size:40vw, $color:$gray) {
  width:$size;
  height:$size;
  border-radius:50%;
  content: "";
  display: block;
  background: $color;
  position: absolute;
  z-index:0;
  transition: all .6s linear;
}

@mixin font-title {
  font-family: 'Lundhags Title', helvetica, _sans;
}
@mixin font-normal {
  font-family: "Lundhags", sans-serif;
}
