/* Variables */

$page-max-width: 1240px;
$content-max-width: 1100px;
$text-block-max-width: 600px;
$padding:25px;
$margin:60px;

$pageHeight:100vh;

$iconHeight: calc((1068vw/1440)*100);
$iconHeight: calc((1068vw/1040)*100);
$iconHeight: calc((1068vw/940)*100);

$font-size: 1rem;
$font-size-medium: 2rem;
$font-size-large: 5rem;
$font-size-xlarge: calc(3rem + 5vw);

$padding:20px;
$max-width:1200px;
$portrait:768px;
$landscape:1024px;
$desktop:1200px;
$xl:1400px;

$portraitMargin:200px;

$light-gray: #f5f5f5;
$primary-color: #df6016;
$ice-red: #c03232;
$bg-color:#f1f1f1;

$gray:#d3d3d3;
$bg:#421b1f;

$pants-features-bg: #484743;

$font-small: .9rem;

// @if $blackice {
//   $primary-color:#c03232;
// }
