---
layout: lundhags
title: Lundhags - Kängor
---


<section class="top-hero">
  <section class="banner">

    <div class="deepify parallax" reverse>

      <div class="deepify__wrapper">

        <img src="../img/the-season-is-now-layer_1.jpg" alt="" class="deepify__layer">
        <!-- <img src="../img/the-season-is-now-layer_2.png" alt="" class="deepify__layer"> -->
        <div class="deepify__layer align-center"><h1 class="title bordered large">The season is now</h1></div>

        <img src="../img/the-season-is-now-layer_3.png" alt="" class="deepify__layer">
        <!-- <div class="deepify__layer align-center"><h1 class="title bordered large">The season is now</h1></div> -->

        <!-- <img src="../img/the-season-is-now-layer_0.png" alt="" class="deepify__layer"> -->

      </div>

    </div>

  </section>

</section>

<section class="scroll-point">
  <div class="content container align-center">
    <div class="logo-wrapper">
    {% include svg-logo.html color="#000000" %}</div>
    <p class="big-text-block">2018 the year without compromise. <br> A one-year assortment of world-class outdoor products for every occation. Covering everything you need from head to to. There is no better time to get out, love the season. <br>The season is now</p>
  </div>
</section>

<section class="grid scroll-point">

  <div class="grid__item" grid-header>
    <img src="/img/omni/omni_grid_header.jpg" alt="" class="">
  </div>

  <div class="grid__item">
    <img src="/img/omni/omni_grid_small.jpg" alt="" class="">
  </div>

  <div class="grid__item">
    <div class="video-wrapper" style="height:300px">
      <video autoplay muted loop style="height:600px">
          <source src=videos/eva_movie_short.mp4 type=video/mp4>
      </video>
    </div>
  </div>

  <div class="grid__item" grid-sidebar>
    <img src="/img/omni/omni_grid_sidebar_bg.jpg" alt="" class="">
    <div class=" grid__item__bg scroll-point__scroll visible" horizontal offset="-400"><img src="/img/omni/omni_grid_sidebar.png" alt=""></div>
  </div>

</section>

<!-- <section class="grid--reverse">

  <div class="grid__item" grid-sidebar>
    <img src="http://placehold.it/400x600/c4d2f3/ffffff" alt="" class="">
  </div>

  <div class="grid__item" grid-header>
    <img src="http://placehold.it/600x300" alt="" class="">
  </div>

  <div class="grid__item">
    <img src="http://placehold.it/300x300/e3e3e3/ffffff" alt="" class="">
  </div>
  <div class="grid__item">
    <img src="http://placehold.it/300x300/f3f3f3/ffffff" alt="" class="">
  </div>


</section> -->

<div class="">

  {% for i in (1..4) %}

  <section class="scroll-point center product--icon lighten">

    <div class="flip-features">

      {% if i == 2 or i == 4 %}
      <img class="bg" src="http://placehold.it/1440x1068/4D3536/4D3536" alt="">
      {% else %}
      <img class="bg" src="http://placehold.it/1440x1068/223e4c/223e4c" alt="">
      {% endif %}

      <div class="hotspots flip-features__content active">

        <!-- {% if i == 2 or i == 4 %}
        <img class="bg" src="http://placehold.it/1440x1068/4D3536" alt="">
        {% else %}
        <img class="bg" src="http://placehold.it/1440x1068/223e4c" alt="">
        {% endif %} -->

        <!-- <div class="features__image"> -->
        <figure class="scroll-point__scroll zoom-in features__hotspots__image">
          <img src="/img/omni/shoe.png" />
        </figure>
        <!-- </div> -->

        <div class="hotspots__list">
          <div id="spot{{i}}1" class="hotspots__list__hotspot" data-pos="17,70" ><span class="hotspot__text">Breathable upper construction</span></div>
          <div id="spot{{i}}2" class="hotspots__list__hotspot" data-pos="30,55" ><span class="hotspot__text">Flexible lasting board</span></div>
          <div id="spot{{i}}3" class="hotspots__list__hotspot" data-pos="40,40" ><span class="hotspot__text">Trek buff approach outsole</span></div>
          <div id="spot{{i}}4" class="hotspots__list__hotspot" data-pos="70,70" ><span class="hotspot__text">High quality European leather</span></div>
          <div id="spot{{i}}5" class="hotspots__list__hotspot" data-pos="80,70" ><span class="hotspot__text top">Libasmart TPU</span></div>
        </div>

      </div>
      <div class="hotspots flip-features__content">

        <!-- {% if i == 2 or i == 4 %}
        <img class="bg" src="http://placehold.it/1440x1068/4D3536" alt="">
        {% else %}
        <img class="bg" src="http://placehold.it/1440x1068/223e4c" alt="">
        {% endif %} -->

        <figure class="scroll-point__scroll zoom-in features__hotspots__image">
          <!-- <img src="/img/omni/shoe_flip.png" /> -->
          <img src="/img/omni/shoe2.png" />
        </figure>

        <div class="hotspots__list">
          <div id="spot{{i}}1" class="hotspots__list__hotspot" data-pos="40,70" ><span class="hotspot__text">Breathable upper construction</span></div>
          <div id="spot{{i}}2" class="hotspots__list__hotspot" data-pos="70,70" ><span class="hotspot__text">Flexible lasting board</span></div>

          <div id="spot{{i}}4" class="hotspots__list__hotspot" data-pos="40,55" ><span class="hotspot__text">High quality European leather</span></div>
          <div id="spot{{i}}5" class="hotspots__list__hotspot" data-pos="17,70" ><span class="hotspot__text top">Libasmart TPU</span></div>
        </div>

      </div>
      <div class="hotspots flip-features__content">

        <figure class="scroll-point__scroll zoom-in features__hotspots__image">
          <!-- <img src="/img/omni/shoe_flip.png" /> -->
          <img src="/img/omni/shoe3.png" />
        </figure>

        <div class="hotspots__list">
          <div id="spot{{i}}1" class="hotspots__list__hotspot" data-pos="40,70" ><span class="hotspot__text">Breathable upper construction</span></div>
          <div id="spot{{i}}2" class="hotspots__list__hotspot" data-pos="70,70" ><span class="hotspot__text">Flexible lasting board</span></div>

          <div id="spot{{i}}4" class="hotspots__list__hotspot" data-pos="40,55" ><span class="hotspot__text">High quality European leather</span></div>
          <div id="spot{{i}}5" class="hotspots__list__hotspot" data-pos="17,70" ><span class="hotspot__text top">Libasmart TPU</span></div>
        </div>

      </div>

      <div class="flip-toggle"></div>

    </div>

    <span class="product--icon__type">Omni boots</span>

    <!-- <div class="product--icon__info scroll-point__scroll"> -->
    <div class="product--icon__info">
      <div class="">

        {% if i == 1 %}
        <h1>Bjerg Low</h1>

        {% else if i == 2 %}
        <h1>Strei Low</h1>

        {% else if i == 3 %}
        <h1>Riim Mid</h1>

        {% else %}
        <h1>Bjerg Mid</h1>
        {% endif %}

        <p>A nice summer shoe for everyday wear. Strei is comfortable and breathable and also suitable for light hiking. </p>
      </div>
    </div>

    <div class="product--icon__features">
      <div class="btn--faded" control-spots="#spot{{i}}1,#spot{{i}}2,#spot{{i}}3,#spot{{i}}4,#spot{{i}}5">View features</div>
      <a href="#">Go to product</a>
    </div>



    <!-- <img class="scroll-point__scrolll" let-it-go offset="00" src="../img/boots/1lager.jpg" /> -->
    <!-- <img class="scroll-point__scroll visible" let-it-go offset="{{i}}00" src="../img/blackice/rygga.png" /> -->
  </section>

  {% endfor %}

</div>




<section class="inspiration scroll-point">

  <article class="container align-center">

    <h1 class="inspiration__title">Omni Boots</h1>

    <img src="/img/omni/omni_inspiration_1.jpg" alt="" let-it-go class="inspiration__image scroll-point__scroll visible">
    <img src="/img/omni/omni_inspiration_2.jpg" alt="" let-it-go horizontal class="inspiration__image scroll-point__scroll visible">


    <div class="scroll-point__scroll align-right text-block" offset="200">

      <p>Long and adventurous treks are really at the core of our soul and our packs will support you with the necessary comfort and features you need to t focused along the trails. From the supportive frameworke to the smallest details, our goal is that you should be able to carry and use your backpack through the toughest conditions, while focusing on your experience.</p>
    </div>

  </article>



</section>

<div class="bg-gray scroll-point">
  <div class="container wrapper align-center">
    <header>
      <h1>#theseasonisnow</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore accusantium cumque ducimus laborum quam dolorum recusandae voluptatem soluta dolor, voluptas nam iure? Consequuntur distinctio similique repellat nesciunt, consectetur modi dicta.</p>
    </header>
    <section class="grid--squares">
      {% for i in (1..11) %}
      <div class="grid__item scroll-point__show" offset="-400">
        <img src="http://placehold.it/300x300/{{i}}{{i}}cc{{i}}4" alt="">
      </div>
      {% endfor %}

      <div class="grid__item">
        <h3>Follow us</h3>
        <p>Is it broken? We fix it. Our boots are an excellent example of our approach. At the foundation, all of the boot’s parts have.</p>
        <div class="social-links">
          <a href="#" class="icon--fb"></a>
          <a href="#" class="icon--fb"></a>
          <a href="#" class="icon--fb"></a>
        </div>
      </div>

    </section>
  </div>
</div>

<!--
<div class="deepify parallax">

  <div class="deepify__wrapper">

    <img src="../img/view_bg.jpg" alt="" class="deepify__layer">
    <div class="deepify__layer align-center"><h1>THE SEASON IS NOW</h1></div>

    <img src="../img/view_legs.png" alt="" class="deepify__layer">
  </div>

</div> -->
